
.seoPackage .slideContent h2::before{display:none;}
.seoPackage .slideContent h2{font-size:56px;letter-spacing:0.2px;margin:0 0 18px;text-transform:none;}
.seoPackage .slideContent p{padding:0 0;}
#costEffective{padding:70px 0 50px;}
.costHeading > h2{color:#000000;font-family:RalewayBold;font-size:45px;letter-spacing:0.2px;line-height:58px;}
.costHeading > hr{border:2px solid #cccccc;display:inline-block;width:129px;17px 0 17px}
.costContent > p:not(:last-child){margin:0 0 26px;padding:0 30px;}
.costContent > p{color:#000000;font-family:OpenSansRegular;font-size:17px;line-height:26px;}
.seoPackage #BEF::after{border-top-color:#f1f1f1;top:0px;bottom:inherit;}
.seoPackage #BEF .BEF{background-color:#dedede;padding:50px 0;}
.seoPackage .businessInner span{font-size:28px;font-family:RalewayMedium;text-transform:uppercase;color:#000;line-height:40px;letter-spacing:0.2px;display:inline-block;}
.seoPackage .ORM .businessInner h2{color:#000000;font-size:46px;letter-spacing:0.2px;line-height:40px;margin:7px 0 0;}
.seoPackage .businessInner img{display:inline-block;margin:27px 0 22px;}
.seoPackage .businessButton{margin:0;}
.seoPackage .businessButton button{font-family:RalewaySemiBold;letter-spacing:1px;}
.seoPackage #realCustomer{padding:74px 0 0;}
.seoPackage .realCutomer > h2{font-family:RalewaySemiBold;font-size:32px;text-transform:none;margin:0px 0 11px 0;}
.seoPackage .realCutomer > p{font-family:RalewayMedium;font-size:20px;}
.seoPackage #testimonial{padding:48px 0 50px;}
.seoPackage .testOuter h2{font-size:32px;margin:0 0 19px;}
.seoPackage-1 .ORM .businessInner h2{font-size:30px;margin:0 0 20px;}
.seoPackage-1 .businessButton{position:relative;}
.seoPackage-1 #BEF .businessButton::before, .seoPackage-1 #BEF .businessButton::after{border-top:2px solid #c3c3c3;content:"";left:200px;position:absolute;top:50%;transform:translateY(-50%);width:180px;}
.seoPackage-1 #BEF .businessButton::after{left:inherit;right:200px;}
.seoPackage-2 .businessInner h2{font-size:32px;}
.seoPackage-2 .businessInner button span{border-left:1px solid #e6c12e;display:inline-block;height:100%;margin:0 0 0 20px;padding:8px 22px;text-align:center;vertical-align:middle;}
.seoPackage-2 .businessInner button{padding-right:0px;}
.seoPackage-2 .businessInner button span img{margin:0px;}
.seoPackage-2 #BEF .businessButton::before, .seoPackage-2 #BEF .businessButton::after{border-top:1px solid #c3c3c3;content:"";left:270px;position:absolute;top:50%;transform:translateY(-50%);width:142px;}
.seoPackage-2 #BEF .businessButton::after{left:inherit;right:270px;}
.seoPackageTable table tr td{padding:13px 20px;text-align:center;}
.seoPackageTable table tr td:not(:last-child){border-right:1px solid #cccccc;}
.seoPackageTable table tr td span{color:#000000;display:inline-block;font-family:OpenSansRegular;font-size:16px;}
.seoPackageTable table .mainHeading td{border:medium none;}
.seoPackageTable table .rowHeading > td{padding-bottom:13px;padding-top:24px;}
.seoPackageTable table .rowHeading > td p img{margin:0 11px 0 0;float:left;}
.seoPackageTable table .rowHeading > td p{text-align:left;line-height:36px;}
.seoPackageTable table .rowHeading > td p span{color:#2670b7;font-family:RalewayBold;font-size:18px;letter-spacing:0.2px;display:inline-block;line-height:22px;}
.seoPackageTable table .rowHeading > td p i{color:#999999;float:right;font-size:18px;margin:12px 0 0;}
.seoPackageTable table tr td img{display:inline-block;vertical-align:bottom;}
.seoPackageTable table tr.mainHeading td{border-right-color:#c5c5c5;border-radius:6px 6px 0 0;}
.seoPackageTable table tr.mainHeading td:nth-child(2){background:#1171cb;background:-moz-linear-gradient(top, #1171cb 0%, #085399 100%);background:-webkit-linear-gradient(top, #1171cb 0%,#085399 100%);background:linear-gradient(to bottom, #1171cb 0%,#085399 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1171cb', endColorstr='#085399',GradientType=0);}
.seoPackageTable table tr.mainHeading td:nth-child(3){background:#15528a;background:-moz-linear-gradient(top, #15528a 0%, #072c4d 100%);background:-webkit-linear-gradient(top, #15528a 0%,#072c4d 100%);background:linear-gradient(to bottom, #15528a 0%,#072c4d 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#15528a', endColorstr='#072c4d',GradientType=0);}
.seoPackageTable table tr.mainHeading td:nth-child(4){background:#0f529f;background:-moz-linear-gradient(top, #0f529f 0%, #012750 100%);background:-webkit-linear-gradient(top, #0f529f 0%,#012750 100%);background:linear-gradient(to bottom, #0f529f 0%,#012750 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f529f', endColorstr='#012750',GradientType=0);position:relative;}
.seoPackageTable table tr.mainHeading td:nth-child(4) img{position:absolute;right:-1px;top:-1px;}
.seoPackageTable table tr.mainHeading td:nth-child(5){background:#184874;background:-moz-linear-gradient(top, #184874 0%, #0a233b 100%);background:-webkit-linear-gradient(top, #184874 0%,#0a233b 100%);background:linear-gradient(to bottom, #184874 0%,#0a233b 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#184874', endColorstr='#0a233b',GradientType=0);}
.seoPackageTable table tr.mainHeading td span{color:#ffffff;display:inline-block;font-family:OpenSansLight;font-size:14px;margin:8px 0 0;}
.seoPackageTable table tr.mainHeading td h3{color:#ffffff;font-family:RalewayBold;font-size:18px;letter-spacing:0.2px;line-height:40px;margin:0 0 20px;position:relative;}
.seoPackageTable table tr.mainHeading td h3::after{border-bottom:3px solid #ffffff;bottom:-3px;content:"";left:50%;position:absolute;transform:translateX(-50%);width:42px;opacity:0.3;}
.seoPackageTable table tr.mainHeading td label{color:#ffffff;font-family:OpenSansBold;font-size:80px;line-height:65px;margin:0;text-shadow:3px 3px 5px rgba(0,0,0,0.29);}
#seoPackTable{background-color:#f1f1f1;background-position:left top;background-repeat:no-repeat;background-size:cover;padding:0px 0 80px 100px;position:relative;}
.seoPackageTable table tr:last-child td{border:medium none;padding:26px 0;}
.seoPackageTable table tr:last-child td:not(:first-child){background-color:#ffffff;}
.seoPackageTable table{border-collapse:separate;margin:0;}
.color1 td:nth-child(1){background-color:#f5f5f5;text-align:left;}
.color1 td:nth-child(2){background-color:#dedede;}
.color1 td:nth-child(3){background-color:#f2f2f2;}
.color1 td:nth-child(4){background-color:#f0f0f0;}
.color1 td:nth-child(5){background-color:#d3d3d3;}
.color2 td:nth-child(1){background-color:#ffffff;text-align:left;}
.color2 td:nth-child(2){background-color:#e7e7e7;}
.color2 td:nth-child(3){background-color:#e9e9e9;}
.color2 td:nth-child(4){background-color:#fdfdfd;}
.color2 td:nth-child(5){background-color:#e7e7e7;}
.seoPackageTable table .rowHeading > td:nth-child(1){background-color:#ffffff;}
.seoPackageTable table .rowHeading > td:nth-child(2){background-color:#e7e7e7;}
.seoPackageTable table .rowHeading > td:nth-child(3){background-color:#e9e9e9;}
.seoPackageTable table .rowHeading > td:nth-child(4){background-color:#fdfdfd;}
.seoPackageTable table .rowHeading > td:nth-child(5){background-color:#e7e7e7;}
ul li.submenulist ul.submenu{display:none;width:243px;position:absolute;top:-1px;right:-243px;margin:0px;list-style:none;padding:0px;}
ul li.submenulist:hover ul.submenu{display:block;}
ul li.submenulist{position:relative !important;}
ul li.submenulist ul.submenu li{background:#003f86;padding:8px 16px 7px !important;}
#reviews{background-image:url("../images/reviews.jpg");background-position:left bottom;background-repeat:no-repeat;background-size:cover;padding:90px 0 100px;position:relative;}
.tContent > p{color:#000000;font-family:OpenSansRegular;font-size:17px;padding:0 36px;line-height:26px;}
.tContent > p:not(:last-child){margin:0 0 30px;}
.tContent img{display:inline-block;margin:17px 0 49px;}
.reviewsContent{border:1px solid #dedede;display:flex;}
.tOuter .reviewsContent:not(:last-child){margin:0 0 40px 0;}
.leftTest{background:#ffffff none repeat scroll 0 0;padding:40px 42px 40px 36px;width:815px;position:relative;}
.leftTest::after{background-image:url("../images/testComma.png");background-position:center center;background-repeat:no-repeat;background-size:auto auto;bottom:46px;content:"";height:49px;position:absolute;right:26px;width:68px;}
.rightTest{padding:50px 0;width:323px;}
.rightTest{border-left:3px solid rgba(0, 0, 0, 0);}
.rightBlue{background-color:#e5f3fc;border-left-color:#8a8db8;}
.rightGrey{background-color:#ecf2f5;padding:88px 0;border-left-color:#9b9b9b;}
.rightGreen{background-color:#e5f4f4;padding:32px 0;border-left-color:#27beb4;}
.rightLightBlue{background-color:#d3e4f5;padding:42px 0;border-left-color:#1b72d9;}
.rightLightOrange{background-color:#f8e0e0;padding:55px 0;border-left-color:#f1600f;}
.rightDarkBlue{background-color:#eceef4;padding:110px 0;border-left-color:#0070ba;}
.rightImage img{display:inline-block;}
.rightTest > hr{border-top:3px solid #c9ced0;display:inline-block;width:62px;margin:28px 0 20px;}
.leftTest > p{font-size:15px;line-height:22px;color:#000;font-family:OpenSansRegular;margin:0 0 22px 0;}
.rightTest > label, .rightTest > span, .rightTest > a{font-family:MerriweatherBoldItalic;font-size:15px;font-weight:normal;line-height:22px;margin:0;width:100%;display:inline-block;color:#000;}
.rightTest > span, .rightTest > a{font-family:MerriweatherItalic;}
.leftTest > span{color:#2670b7;font-family:OpenSansItalic;letter-spacing:0.2px;line-height:22px;width:100%;display:inline-block;}
.leftTest > span a{color:#000;}
.leftTest > span img{display:inline-block;margin:-3px 10px 0 0;}
.reviews #BEF::after{border-top-color:#fff;bottom:0;top:0;}
.reviews .BEF{background:#dedede none repeat scroll 0 0;padding:82px 0 40px;}
.reviews .businessInner h2{color:#000000;font-size:46px;letter-spacing:0.2px;line-height:40px;}
.reviews .businessInner p{color:#000000;font-family:RalewayMedium;font-size:22px;letter-spacing:0.2px;line-height:40px;}
.testBefImage img{display:inline-block;margin:23px 0 30px;}
.reviews .businessButton button{font-family:RalewaySemiBold;}
.reviews #sliderInner .slideContent{top:52%;}
.reviews .slideContent > h2{font-size:51px;letter-spacing:0.2px;line-height:60px;text-transform:none;margin:0 0 12px;}
.reviews .slideContent > h2:before{display:none;}
.reviews .slideContent > p{font-size:24px;line-height:28px;padding:0;margin:0 0 14px;}
.reviews .slideContent hr{border:2px solid #1d1b1b;display:inline-block;margin:0;width:78px;}
#sliderInner.commonSlider{height:auto;overflow:visible;position:relative;}
.defineFloat.commonSlider.reviewPageSlide{height:360px !important;overflow:hidden !important;}
#sliderInner.commonSlider::before{border-left:21px solid rgba(0, 0, 0, 0);border-right:21px solid rgba(0, 0, 0, 0);border-top:19px solid #010508;content:"";left:50%;position:absolute;top:100%;transform:translateX(-50%);}
#reviews::before{border-left:21px solid rgba(0, 0, 0, 0);border-right:21px solid rgba(0, 0, 0, 0);border-top:19px solid #010508;content:"";left:50%;position:absolute;top:0%;transform:translateX(-50%);}
.tHeading > h2{color:#000000;font-family:RalewayBold;font-size:41px;letter-spacing:0.2px;line-height:62px;}
.tHeading > p{font-size:20px;line-height:28px;color:#2670b7;font-family:RalewayMedium;margin:0;}
.tHeading img{display:inline-block;margin:23px 0;}
.tContent{margin:0 0 50px;}
#getInTouch{background-image:url("../images/getIn.jpg");background-position:left bottom;background-repeat:no-repeat;background-size:cover;padding:90px 0 100px;}
.getHeading > h2{color:#000000;font-family:RalewayBold;font-size:41px;letter-spacing:0.2px;line-height:46px;}
.getHeading > hr{border:2px solid #cccccc;display:inline-block;margin:19px 0 23px;width:93px;}
.getHeading > p{color:#000000;font-family:OpenSansRegular;font-size:17px;line-height:26px;padding:0 60px;}
.getOut{border:1px solid #dedede;background-color:#fff;display:flex;}
.getOut form{background-color:#ffffff;padding:68px 82px 53px 50px;}
.getRight{padding-right:0px;display:flex;}
.getRightOut{border-left:4px solid #1d7dd8;background-image:url("../images/getRight.jpg");background-size:cover;background-repeat:no-repeat;background-position:left top;}
.getOuter{margin:50px 0 0;}
.getRightIn{padding:40px 28px 40px 62px;text-align:right;}
.sameCode{border-bottom:1px solid #cdd1d6;margin-top:20px;padding-bottom:20px;}
.sameCode > p{color:#2670b7;font-size:14px;line-height:22px;font-family:MerriweatherItalic;}
.sameCode > span, .sameCode > ul li a, .sameCode > ul li{font-family:OpenSansItalic;font-size:14px;letter-spacing:0.2px;line-height:22px;color:#232323 !important;}
.sameCode.last-child{border-bottom:0px;padding-bottom:0px;}
.getRightIn h3{font-family:MerriweatherBoldItalic;font-size:15px;line-height:22px;text-transform:none;}
.getRightIn > hr{border-bottom:3px solid #c5cace;display:inline-block;margin:19px 0 0;width:62px;}
.sameCode ul li img{display:inline-block;margin:0 0 0 7px;vertical-align:middle;}
.getLeft .form-group label{float:left;font-family:OpenSansRegular;font-weight:100;line-height:45px;margin:0;width:176px;font-size:15px;}
.getLeft .form-group{float:left;}
.getLeft .form-group textarea{resize:none;height:160px !important;}
.getLeft .form-group input, .getLeft .form-group textarea, .getLeft .form-group select{border-radius:3px;float:left;height:45px;width:420px;border:1px solid #d1d1d1;box-shadow:none;}
.getLeft .form-group img{float:left;width:auto;}
.getLeft button{background-color:#1d7dd8;border:medium none;border-radius:5px;color:#ffffff;font-family:RalewaySemiBold;font-size:17px;height:60px;letter-spacing:1px;margin:0 0 0 180px;padding:0 35px;text-transform:uppercase;}
.formOuter p a, .formOuter p span a{color:#ffffff;}
.formOuter p span a:hover{color:#fed531;}
.formOuter p span a i{display:none;}
.sameCode > ul li span a i{display:none;}
.sameCode > ul li span a{background-image:url("../images/gf4.png");background-position:right center;background-repeat:no-repeat;background-size:auto auto;padding:0 24px 0 0;}
.sameCode > ul li span.salesEmail a{background-image:url("../images/gf5.png");}
.fromCheck{float:left;width:420px;margin:14px 0 0px 0;}
.getLeft .fromCheck label{float:left;line-height:normal;margin:0 0 8px;width:100%;}
.getLeft .fromCheck label input{float:left;height:auto;margin:5px 10px 0 0;width:auto;}
.getLeft .form-group.lineH label{line-height:normal;padding:0 20px 0 0;}
.getLeft button:hover{background-color:#ffd702;color:#000;}
.packLinks{margin:30px 0 0;}
.packLinks a{background-color:#000000;border-radius:3px;color:#ffffff;display:inline-block;font-family:RalewaySemiBold;height:44px;letter-spacing:1.2px;line-height:44px;padding:0 30px;text-transform:uppercase;}
.packLinks a:hover{background-color:#ffd702;color:#000;}
.packLinks a:not(:last-child){margin:0 10px 0px 0;}
.getLeft .form-group input[type="file"]{border:none;}
.career .getHeading h2{line-height:45px;}
.career .getHeading > p:not(:last-child), .paymentIn p:not(:last-child){margin:0 0 20px;}
.career .getHeading > p{padding:0 30px;}
.careerApply{margin:40px 0 0;padding:0 50px;}
.careerApply p{color:#000000;font-family:OpenSansRegular;font-size:17px;text-align:left;}
.careerApply p:not(:last-child){margin:0 0 20px;}
.careerApply h2{color:#000000;font-family:RalewayBold;font-size:30px;margin:0 0 10px;text-align:left;}
.careerApply p span a{color:#2586dd;}
.paymentOuter{margin:50px 0 0 0;}
.payment .getHeading > p{padding:0;}
.paymentIn{margin:0 0 34px 0;}
.paymentIn h2{color:#000000;font-family:RalewayBold;font-size:23px;margin:0 0 6px;}
.paymentIn p{color:#000000;font-family:OpenSansRegular;font-size:16px;line-height:23px;padding:0 50px 0 0;}
.paymentIn h2 a, .paymentIn p a, .getHeading p a{color:#003f86;}
#thankyou{background-image:url("../images/thankBg.png");background-position:left bottom;background-repeat:no-repeat;background-size:cover;padding:240px 0 100px;}
.tyFirst{background-color:#ffffff;border-top:1px solid #dedede;border-bottom:4px solid #1d7dd8;padding:70px 0 85px;}
.tyfContent > p{color:#2670b7;font-family:MerriweatherItalic;font-size:23px;line-height:28px;margin:35px 0 0;}
.tysImage img, .tyfImage img{display:inline-block;margin-bottom:20px;}
.tyfContent > span{color:#000000;font-family:MerriweatherItalic;font-size:17px;line-height:26px;margin:12px 0 0 0;display:inline-block;}
.tySecond{background-image:url("../images/pay.jpg");background-repeat:no-repeat;background-size:cover;background-position:left top;padding:50px 0;border-bottom:1px solid #dedede;}
.tysContent ul li span a i{display:none;}
.tysContent ul li span a{color:#000;font-family:'OpenSansItalic';}
.tysContent > p{font-family:MerriweatherItalic;font-size:14px;list-style:22px;color:#000;}
.tysContent ul li{color:#000000;font-family:OpenSansItalic;font-size:14px;}
.tysContent ul li img{display:inline-block;margin:0 10px 0 0;}
.tysContent ul li:first-child img{margin:0 17px 0 0;}
.brButton button{background-image:url("../images/button-pic.png");background-repeat:repeat-x;}
.aboutSlider .slideContent > h2{font-size:63.7px;letter-spacing:2px;line-height:64px;margin:0 0 14px;}
.aboutSlider .slideContent > p{font-size:18px;line-height:26px;margin:0 0 44px;padding:0 295px;}
.aboutSlider .slideContent > p::before, .aboutSlider .slideContent > h2:before{display:none;}
#aboutSeo{padding:90px 0;}
.asfLeft > h2{color:#000000;font-family:RalewayBold;font-size:37px;left:0.2px;line-height:46px;text-transform:none;}
.asfLeft > hr{border-top:5px solid #fcd70f;display:inline-block;width:93px;}
.asfRight > p{color:#000000;font-family:OpenSansRegular;font-size:17px;line-height:26px;margin:0 0 18px;}
.asfRight ul{display:block;margin:34px 0 0;}
.asfRight ul > li{display:inline-block;}
.asfRight ul > li a{color:#000000;font-family:OpenSansBold;font-size:14px;letter-spacing:0.2px;line-height:20px;text-transform:uppercase;}
.asfRight ul > li a img{display:inline-block;margin:0 0 0 5px;vertical-align:inherit;}
.asfRight ul > li:not(:last-child){margin:0 18px 0 0;}
.asfRight ul li a:hover{color:#1d7dd7;}
.aboutSlides{margin:50px 0 0 0;}
.aboutSlides .carousel-indicators{bottom:-55px;z-index:1;}
.aboutSlides .carousel-indicators li{height:5px;background-color:#1d7dd7;margin:0;border:none;width:5px;vertical-align:middle;}
.aboutSlides .carousel-indicators li:not(:last-child){margin:0 7px 0 0;}
.aboutSlides .carousel-indicators li.active{height:9px;width:9px;}
#aboutSeoExperts{background-image:url("../images/aboutSeoExperts.jpg");background-position:left top;background-repeat:no-repeat;background-size:cover;padding:90px 0 100px;}
.assHeading > h2{color:#ffffff;font-family:RalewayBold;font-size:45px;}
.assHeading > hr{border:2px solid #4c5158;display:inline-block;margin:23px 0 60px;width:100px;}
.assLeft, .assRight{display:flex;flex-wrap:wrap;}
.assLeft:before{position:absolute;content:"";border-right:2px solid #2a3039;height:90%;width:2px;right:0px;}
.assLeft .assIn{flex-direction:row-reverse;padding-left:0;padding-right:17px;}
.assIn{display:flex;flex-wrap:wrap;padding-left:17px;min-height:194px;}
.assIn .asslImage{width:106px;}
.assIn .asslContent, .assIn .assrContent{margin-left:15px;width:410px;}
.assIn .asslContent{margin-left:0;margin-right:15px;text-align:right;}
.asslContent > h3, .assrContent > h3{color:#ffffff;font-family:RalewaySemiBold;font-size:18px;line-height:22px;text-transform:none;margin-bottom:8px;}
.asslContent > p, .assrContent > p{color:#cecece;font-family:OpenSansRegular;font-size:15px;line-height:22px;opacity:0.9;}
#company.aboutCounter{background-image:none;position:relative;padding:0;}
.achOut{background-color:#10151a;padding:45px 0 50px;position:relative;}
.achHeading h2{color:#ffffff;font-family:RalewayBold;font-size:33px;line-height:31px;margin:0 0 44px;text-transform:none;}
.aboutCounter .achievedKHM h2{color:#48a3f9;}
.aboutCounter .achievedKHM p{color:#cecece;}
.aboutCounter .achievedKHM{border-right:1px solid #23272c;}
.achOut::before{border-left:14px solid rgba(0, 0, 0, 0);border-right:14px solid rgba(0, 0, 0, 0);border-top:13px solid #1F232E;content:"";left:50%;position:absolute;top:0;transform:translateX(-50%);}
#aboutPartner{background-color:#1a79d3;padding:100px 0 0;}
.apImage img{display:inline-block;}
.apHeading h2{color:#ffffff;font-family:RalewayBold;font-size:36px;line-height:40px;padding:0 100px;}
.apHeading > hr{border:2px solid #54a4ef;display:inline-block;width:129px;margin-bottom:40px;}
.apOut{background-color:#156ab9;margin:50px 0 0;position:relative;padding:54px 0 45px;}
.aboutPartnerList ul li{display:inline-block;}
.aboutPartnerList ul li:not(:last-child){margin-right:20px;}
.apOut::before{border-left:17px solid rgba(0, 0, 0, 0);border-right:17px solid rgba(0, 0, 0, 0);border-top:20px solid #1a79d3;content:"";left:50%;position:absolute;top:0;transform:translateX(-50%);}
.aboutPage .testOuter h2{margin-bottom:15px;}
#becomeReseller{background-image:url("../images/reseller.jpg");background-position:left top;background-repeat:no-repeat;background-size:cover;padding:50px 0 60px;}
.brHeading > h2{color:#000000;font-family:RalewayBold;font-size:40px;line-height:60px;margin:0 0 10px 0;}
.brContent > p{color:#000000;font-family:OpenSansRegular;font-size:15px;padding:0 60px;margin:0 0 19px;}
.brButton{margin:30px 0 0 0;position:relative;}
.brButton button{background-color:#2f3031;border:medium none;color:#ffd702;font-family:OpenSansBold;font-size:16px;height:50px;padding:0 30px;text-transform:uppercase;box-shadow:2px 2px 10px rgba(0, 0, 0, 0.3);}
.brButton a, .brButton a button{display:inline-block;}
.brButton::before, .brButton::after{border-top:1px solid #cdcdcd;content:"";left:75px;position:absolute;top:50%;transform:translateY(-50%);width:360px;}
.brButton::after{left:inherit;right:75px;}
.brContent p a{color:#1473cc;}
#freePopup .fade.in{transform:scale(1);background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0;margin:71px 0 0 0;z-index:2;}
.freeAuditPopBg{background-image:url("../images/freeAuditBg.png");background-position:left top;background-repeat:no-repeat;background-size:cover;padding:110px 0 150px;}
.freeAudit{padding:0px !important;}
.freeAudit .modal-header{padding:0;position:absolute;right:-27px;top:-61px;width:auto;z-index:2;}
.freeAudit .modal-header button{margin:0;opacity:1;}
.freeAudit .modal-body{padding:0;}
.freeAudit .modal-dialog .modal-content{background:inherit;border:medium none;box-shadow:none;float:left;width:100%;}
.freeAudit .modal-dialog{margin:0 auto;width:1199px;}
.freeAudit .modal-dialog .modal-content .modal-header{border:none;}
.freeHeading > h2{color:#ffffff;font-family:RalewayBold;font-size:44px;line-height:76px;text-transform:none;margin:0 0 -6px 0;}
.freeHeading > p{color:#ffffff;font-family:RalewayMedium;font-size:20px;line-height:28px;letter-spacing:0.2px;}
.freeHeading > hr{border:2px solid #79a8d6;display:inline-block;width:110px;margin-bottom:26px;}
.freeIn{width:930px;display:inline-block;float:none;}
.freeIn .input-group{border:13px solid #1761a6;border-radius:8px;height:73px;}
.freeIn .input-group input, .freeIn .input-group span, .freeIn .input-group span button{height:100%;}
.freeIn .input-group span button{background-color:#ffd603;border:medium none;color:#000000;font-family:RalewayBold;font-size:17px;letter-spacing:0.4px;padding:0 70px;text-transform:uppercase;}
.freeIn .input-group input{border:medium none;box-shadow:none;font-family:OpenSansRegular;font-size:16px;color:#808080;}
.report .freeHeading > h2{font-size:28px;font-family:RalewaySemiBold;line-height:28px;letter-spacing:0.2px;}
.reportContent .freeIn{float:left;width:100%;}
.reportContent form{float:left;padding:0 15px;width:100%;}
.reportContent form .form-group{padding:0;}
.fixWidth{margin-right:13px;width:275px;}
.lastWidth{width:563px;margin:0 13px 0 0;}
.marRight{margin-right:0;}
.reportContent form .form-group input, .reportContent form .form-group select, .reportContent form .form-group textarea{border:medium none;border-radius:6px;height:47px;padding:0 20px;width:100%;font-size:16px;font-family:OpenSansRegular;}
.reportContent form .form-group input::-moz-placeholder, .reportContent form .form-group select, .reportContent form .form-group textarea{color:#585858;}
.reportContent form .form-group textarea{color:#585858;height:97px;overflow:hidden;padding:16px 20px;resize:inherit;}
.reportSubmit button{height:47px;width:100%;background-color:#ffd603;font-size:17px;font-family:RalewayBold;text-transform:uppercase;color:#000;letter-spacing:0.2px;border-radius:6px;border:none;}
.reportSubmit button:hover{background-color:#ffd603;color:#000000;}
#report .freeAuditPopBg{padding:53px 0 56px;}
#report.freeAudit .modal-header{top:-16px;}
.reportContent form .form-group select{-moz-appearance:none;background-image:url("../images/popSelectBg.png");background-position:right 15px center;background-size:auto auto;background-repeat:no-repeat;}
@media (min-width:768px) and (max-width:992px){.container{width:initial;padding-left:2em;padding-right:2em;}
}
.my_planHeader{text-align:center;color:white;padding-top:0.2em;padding-bottom:0.2em;}
.my_planTitle{font-size:2em;font-weight:bold;}
.my_planPrice{font-size:1.4em;font-weight:bold;}
.my_planDuration{margin-top:-0.6em;}
@media (max-width:768px){.my_planTitle{font-size:small;}
}
@media (max-width:768px){.my_feature{text-align:center}
}
.my_planHeader.my_plan1{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #a2181e 0%, #a2181e 100%) repeat scroll 0 0;border-right:1px solid #c5c5c5;}
.tabAccOuter .my_planFeature{border-right:1px solid #cccccc;border-top:1px solid #cccccc;padding-bottom:3px;padding-top:3px;}
.my_planHeader.my_plan2{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #c72931 0%, #c72931 100%) repeat scroll 0 0;border-right:1px solid #c5c5c5;}
.my_planHeader.my_plan3{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #8c1319 0%, #8c1319 100%) repeat scroll 0 0;position:relative;border-right:1px solid #c5c5c5;}
.my_planHeader.my_plan3 img{position:absolute;right:-1px;top:-1px;}
.my_planHeader.my_plan4{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #de2127 0%, #de2127 100%) repeat scroll 0 0;}
.my_planFeature{font-size:2em;text-align:center;width:205px;}
.my_planFeature i.my_check{color:green;}
.my_feature{border-right:1px solid #cccccc;border-top:1px solid #cccccc;padding-bottom:17px;padding-top:13px;width:320px;}
.tableUp{margin-left:335px;padding:0;width:820px;margin-top:80px;}
.my_planHeader{width:205px;padding:13px 20px;border-radius:6px 6px 0 0;text-align:center;}
.my_planHeader h3{color:#ffffff;font-family:RalewayBold;font-size:22px;letter-spacing:0.2px;line-height:40px;margin:0 0 20px;position:relative;text-transform: uppercase;}
.my_planHeader h3::after{border-bottom:3px solid #ffffff;bottom:-3px;content:"";left:50%;opacity:0.3;position:absolute;transform:translateX(-50%);width:42px;}
.my_planHeader label{color:#ffffff;font-size:80px;line-height:65px;font-weight: bold;margin:0;text-shadow:3px 3px 5px rgba(0, 0, 0, 0.29);}
.my_planHeader span{color: #e2c8c8;;display:inline-block;font-size:12px;margin:8px 0 0;}
.tabAccHeading p{line-height:36px;text-align:left;    margin-bottom: 0;}
.tabAccHeading p img{float:left;margin:0 11px 0 0;}
.tabAccHeading p span{color:#2a405e;display:inline-block;font-size:18px;letter-spacing:0.2px;line-height:22px;    font-weight: bold;}
.tabAccHeading p i{color:#999999;float:right;font-size:24px;margin:4px 0 0;cursor:pointer;}
.my_planFeature img{display:inline-block;}
.tabAccHeading .my_plan1, .tabAccHeading .my_plan2, .tabAccHeading .my_plan3, .tabAccHeading .my_plan4{background:#000000 none repeat scroll 0 0;float:left;height:73px;width:205px;border-right:1px solid #cccccc;border-top:1px solid #cccccc;}
.tabAccHeading .my_plan4{border-right:none;}
.tabPara{width:320px;;padding-top:24px;padding-bottom:13px;background-color:#ffffff;border-right:1px solid #cccccc;}
.tabAccHeading .my_plan1{background-color:#e7e7e7;}
.tabAccHeading .my_plan2{background-color:#e9e9e9;}
.tabAccHeading .my_plan3{background-color:#fdfdfd;}
.tabAccHeading .my_plan4{background-color:#e7e7e7;}
.my_feature p{color:#000000;display:inline-block;font-size:14px;margin-bottom: 0;}
.color1 .my_feature{background-color:#f5f5f5;text-align:left;}
.color1 .my_plan1{background-color:#dedede;}
.color1 .my_plan2{background-color:#f2f2f2;}
.color1 .my_plan3{background-color:#f0f0f0;}
.color1 .my_plan4{background-color:#d3d3d3;border-right:0 none;}
.color2 .my_feature{background-color:#ffffff;text-align:left;}
.color2 .my_plan1{background-color:#e7e7e7;}
.color2 .my_plan2{background-color:#e9e9e9;}
.color2 .my_plan3{background-color:#fdfdfd;}
.color2 .my_plan4{background-color:#e7e7e7;border-right:0 none;}
.tabParaBor{border-top:1px solid #ccc;}
.my_planFeature.my_plan1.doubleLineSmExt, .my_planFeature.my_plan2.doubleLineSmExt, .my_planFeature.my_plan3.doubleLineSmExt, .my_planFeature.my_plan4.doubleLineSmExt {
    padding: 15px 0;
}
.doubleLineExt {
    min-height: 90px;
}
.listExt {
    font-size: 16px;
    line-height: 47px;
}
#seoPackTable .my_planHeader.my_plan3 {
    margin-top: 0;
    position: relative;
}
#seoPackTable .my_planHeader {
    margin-top: 20px;
}
#seoPackTable .my_planHeader.my_plan3 > h3 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.my_plan3::before {
    background-image: url(../images/side-shadow-left.png);
    background-repeat: repeat-y;
    content: "";
    height: 100%;
    left: -20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}


