@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
html,
body {
  height: 100%;
}
 
body, p {
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;}

.text-line {
    border-bottom: 3px solid #b63338;
    height: 2px;
    display: inline-block;
    width: 85px;
}

section.page-section {
  padding: 65px 0;
}

@media (max-width: 767px) {
  section.page-section {
    padding: 75px 0;
  }
}

::-webkit-input-placeholder {
  font-weight: 300;  
}

:-moz-placeholder {
  font-weight: 300;
}

::-moz-placeholder {
  font-weight: 300;
}

:-ms-input-placeholder {
  font-weight: 300;
}

body {
  font-weight: 300;
}

a {
  color: #EF4035;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover, a:focus {
  color: #c81b10;
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;}
  font-weight: 900;
}

@media (min-width: 768px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 50px;
  }
}

.btn-fourtek {
display: inline-block;
    width: 190px;
    height: 58px;
    position: relative;
    /*left: 9%;*/
    margin: 40px auto 0 10px;
    padding-top: 15px;
    text-align: center;
    color: #fff !important;
    font-size: 17px;
    cursor: pointer;
    /*transform: translate(-50%, -50%);
    -webkit-transition: all 320ms ease-in;
    -moz-transition: all 320ms ease-in;
    -ms-transition: all 320ms ease-in;
    -o-transition: all 320ms ease-in;
    transition: all 320ms ease-in;*/
  }
.btn-fourtek:focus, .btn-fourtek:hover {
    color: #fff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
	background: #2d5387;
    /*transform: translate(-50%, -55%);*/   
  }



footer .social-media-footer a:hover, .contact .contact-map form .btn, .content-post .comment-respond .content button, .content-post .comments-post .comments .content .reply, .case-study .post .tags-post, .case-study .post .comments-post, .case-study .post .category-post, .price .pricing-table .pricing-button, .portfolio .shuffle .active, .educ .education .title:after, .educ .education .title:before, .educ .education .title .infos-educ .timeline-de, .educ .education .title .infos-educ > span:first-of-type, .progress .progress-bar, .btn-fourtek {
    background-color: #af1f25;
}


div#demo {
    margin-top: -33px;
}
 .navbar-nav{margin-right: 71px;}
header.masthead {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #222; width: 100%;
  background-size: cover;    top: -34px;
  background-attachment: scroll;
}

header.masthead {
    background-attachment: fixed;
  }
  
 header.masthead {
    background-attachment: scroll;
  }


header.masthead .masthead-img {
  max-width: 150px;
  max-height: 150px;
}

header.masthead .masthead-title {
  font-size: 4rem;
  line-height: 4rem;  
  font-weight: 900;

}

.slider-content .masthead-subtitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

header.masthead .scroll-down {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

header.masthead .scroll-down .btn {
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header.masthead .scroll-down .btn:hover {
  color: rgba(255, 255, 255, 0.5) !important;
  border-color: rgba(255, 255, 255, 0.5);
  outline: none;
}

header.masthead .scroll-down .btn:active, header.masthead .scroll-down .btn:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    max-height: 680px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .masthead-img {
    max-width: 250px;
    max-height: 250px;
  }
  header.masthead .masthead-title {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bold;
  }
.slider-content .masthead-subtitle {
    /* font-size: 2rem; */
    line-height: 2rem;
  }
}

header.video {
  background: #222;
  overflow: hidden;
}

header.video .overlay {
  position: absolute;
  z-index: 1;
  top: 0;display: none;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: black;
}

header.video .container {
  position: relative;
}

header.video .container,
header.video .scroll-down {
  z-index: 999;
}

header.video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-device-width: 1024px) {
  header.video {
    background: url("../img/agency/backgrounds/bg-mobile-fallback.jpg") #222 no-repeat center center scroll;
  }
  header.video video {
    display: none;
  }
}

.team-carousel .item {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
}

.team-carousel .item .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}

.team-carousel .item .team-caption {
  position: relative;
  z-index: 2;
  left: 50%;
  width: 100%;
  margin: auto;
  padding: 15px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);margin-top: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.team-carousel .item .team-caption h3 {
  margin: 0;
}

.team-carousel .item .team-caption hr {
  max-width: 50px;
  margin: 5px auto;
}

.team-carousel .item .team-caption p {
  margin: -10px;    color: #363333;
    font-weight: bold;    text-transform: uppercase;
    font-size: 16px;
}

.team-carousel .item .team-caption .list-team-social {
  margin-top: 5px;
}

.team-carousel .item .team-caption .list-team-social li a {
  color: rgba(255, 255, 255, 0.7);
}

.team-carousel .item .team-caption .list-team-social li a:hover, .team-carousel .item .team-caption .list-team-social li a:focus {
  color: white;
}

.call-to-action {
  padding: 100px 0;
  text-align: center;
  color: white;
  background-color: #222;
  background-size: cover;
  background-attachment: scroll;
}

@media (min-width: 1024px) {
  .call-to-action {
    background-attachment: fixed;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .call-to-action {
    background-attachment: scroll;
  }
}

.call-to-action span.quote {
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  display: block;
}

@media (min-width: 768px) {
  .call-to-action {
    padding: 150px 0;
  }
  .call-to-action span.quote {
    font-size: 36px;
    line-height: 38px;
  }
}

@media (min-width: 992px) {
  .call-to-action {
    padding: 300px 0;
  }
  .call-to-action span.quote {
    font-size: 40px;
    line-height: 42px;
  }
}

.services .media {
  margin-bottom: 30px;
}

.services .media i.fa {
  font-size: 30px;
  line-height: 70px;
  width: 75px;
  height: 75px;
  text-align: center;
  border: 3px solid #222;
}

.services .media .media-body {
  min-width: none;
  padding-left: 15px;
}

.services .media .media-body h3 {
  margin-bottom: 15px;
}

.services .media .media-body ul {
  padding: 0;
  list-style: inside;
}

.services .media .media-body ul li {
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .services .media {
    margin-bottom: 0;
  }
}

.portfolio-carousel {
  padding: 0;
  color: white;
  background-color: #222;
}

.portfolio-carousel .item {
  padding: 75px 30px;
  text-align: center;
  background-color: #222;
  background-size: cover;
}

.portfolio-carousel .item .project-details .project-name {
  font-size: 40px;
  line-height: 40px;
  display: block;
  margin-bottom: 5px;  
  font-weight: 900;
  text-transform: uppercase;
}

.portfolio-carousel .item .project-details .project-description {
  font-size: 18px;
  line-height: 18px;
  display: block;
}

.portfolio-carousel .item .device-container {
  padding: 25px;
}

@media (min-width: 768px) {
  .portfolio-carousel .item {
    padding: 155px 30px;
    text-align: left;
  }
  .portfolio-carousel .item .project-details img.client-logo {
    margin: 0 auto 25px 0;
  }
  .portfolio-carousel .item .project-details .project-name {
    font-size: 50px;
    line-height: 50px;
    display: block;
  }
  .portfolio-carousel .item .project-details .project-description {
    font-size: 20px;
    line-height: 20px;
  }
  .portfolio-carousel .item hr.colored {
    margin: 20px auto 20px 0;
  }
}

.portfolio-gallery .item {
  padding: 15px;
}

.portfolio-modal {
  background-size: cover;
  background-attachment: scroll;
}

@media (min-width: 1024px) {
  .portfolio-modal {
    background-attachment: fixed;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .portfolio-modal {
    background-attachment: scroll;
  }
}

.portfolio-modal .modal-backdrop {
  display: none;
}

.portfolio-modal .modal-dialog {
  max-width: none;
}

.portfolio-modal .modal-dialog .modal-content {
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  border: none;
  border-radius: 0;
  background: transparent;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.portfolio-modal .modal-dialog .modal-content h2 {
  font-size: 46px;
  margin: 0;
}

.portfolio-modal .modal-dialog .modal-content .item-details {
  margin: 30px 0;
}

.portfolio-modal .modal-dialog .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .modal-dialog .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .modal-dialog .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
}

.portfolio-modal .modal-dialog .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: white;
}

.mockup-carousel .item {
  margin: 0;
  padding: 0;
}

.mockup-carousel .item img {
  margin: 0;
}

.portfolio-grid .mix {
  float: left;
  overflow: hidden;
  width: 48%;
  margin: 1%;
}

.portfolio-grid .mix .portfolio-wrapper {
  position: relative !important;
  overflow: hidden;
  cursor: pointer;
  background: #222;
}

.portfolio-grid .mix .portfolio-wrapper img {
  position: relative;
  max-width: 100%;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-grid .mix .portfolio-wrapper img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.portfolio-grid .mix .portfolio-wrapper .caption {
  position: absolute;
  bottom: -75px;
  width: 100%;
  height: 75px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-grid .mix .portfolio-wrapper .caption .caption-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #EF4035;
}

.portfolio-grid .mix .portfolio-wrapper .caption .caption-text {
  position: relative;
  z-index: 500;
  padding: 15px 8px;
  color: white;
}

.portfolio-grid .mix .portfolio-wrapper .caption .caption-text a.text-title {
  color: white;
}

.portfolio-grid .mix .portfolio-wrapper .caption .caption-text .text-category {
  font-size: 12px;
  display: block;
}

.portfolio-grid .mix:hover .portfolio-wrapper .caption {
  bottom: 0;
}

@media (min-width: 768px) {
  .portfolio-grid .mix {
    width: 31%;
    margin: 1%;
  }
}

.testimonials {
  text-align: center;
}

.testimonials .testimonials-carousel .item .testimonial-img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.testimonials .testimonials-carousel .item .testimonial-img img {
  vertical-align: baseline;
}

.testimonials .testimonials-carousel .item .testimonial-author {
  display: inline-block;
}

.testimonials .testimonials-carousel .item .testimonial-author .name {  
  font-weight: 900;
  text-transform: uppercase;
}

.testimonials .testimonials-carousel .item .testimonial-author hr.colored {
  max-width: 50px;
  margin: 3px auto;
}

.testimonials .testimonials-carousel .item .testimonial-author p {
  margin: 0;
}

.testimonials .testimonials-carousel .item .testimonial-author .stars {
  color: #f1c40f;
}

@media (min-width: 992px) {
  .testimonials .testimonials-carousel .item {
    padding: 0 100px;
  }
}

.pricing {
  color: white;
  background-color: #222;
  background-size: cover;
  background-attachment: scroll;
}

@media (min-width: 1024px) {
  .pricing {
    background-attachment: fixed;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .pricing {
    background-attachment: scroll;
  }
}

.pricing .pricing-item {
  z-index: 1;
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
  color: #222;
  background: white;
  -webkit-box-shadow: 0 0 30px 5px rgba(34, 34, 34, 0.75);
  box-shadow: 0 0 30px 5px rgba(34, 34, 34, 0.75);
}

.pricing .pricing-item h3 {
  margin: 0;
}

.pricing .pricing-item hr {
  max-width: 100px;
}

.pricing .pricing-item .price {
  margin-bottom: 20px;
}

.pricing .pricing-item .price .number {
  font-size: 50px;
  font-weight: 900;
}

.pricing .pricing-item .price .number sup {
  font-size: 30px;
}

.pricing .pricing-item .list-group-item {
  border-radius: 0;
}

@media (min-width: 992px) {
  .pricing .pricing-item {
    margin-bottom: 0;
  }
  .pricing .pricing-item.featured-first {
    margin-top: 15px;
    margin-right: -15px;
  }
  .pricing .pricing-item.featured {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 45px 30px;
  }
  .pricing .pricing-item.featured-last {
    margin-top: 15px;
    margin-left: -15px;
  }
}

.signup-form .input-group .form-control {
  border: 0;
  border-color: white;
  border-radius: 0;
}

.signup-form .input-group .input-group-btn .btn {
  padding: 12px 18px;
}

.signup-form .input-group .input-group-btn .btn-primary {
  border: 0;
  border-radius: 0;
  background-color: #EF4035;
  font-size: 1rem;
}

.signup-form .input-group .input-group-btn .btn-primary:hover, .signup-form .input-group .input-group-btn .btn-primary:focus {
  color: white;
  background-color: #df1e12;
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e1e1e1;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.5s ease,opacity 0.5s ease;
  transition: top 0.5s ease,opacity 0.5s ease;
}

.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e1e1e1;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #EF4035;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e1e1e1;
}

footer.footer {  
  background-size: cover;
  background-attachment: scroll;
}

@media (min-width: 1024px) {
  footer.footer {
    /*background-attachment: fixed;*/
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  footer.footer {
    background-attachment: scroll;
  }
}




.btn {
  font-weight: 900;
  padding: 12px 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary {
  border: 1px solid white;
  background-color: transparent;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #EF4035 !important;
  border-color: white !important;
  background-color: white !important;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(239, 64, 53, 0.5) !important;
  box-shadow: 0 0 0 3px rgba(239, 64, 53, 0.5) !important;
}

.btn-secondary {
  border: 1px solid #222;
  background-color: transparent;
  color: #222;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  color: white !important;
  border-color: #EF4035 !important;
  background-color: #EF4035 !important;
}

.btn-secondary:active, .btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(239, 64, 53, 0.5) !important;
  box-shadow: 0 0 0 3px rgba(239, 64, 53, 0.5) !important;
}

button:hover {
  cursor: pointer;
}

.btn-full-width {
  font-size: 26px;
  font-weight: 200;
  padding: 50px 0;
  letter-spacing: normal;
  text-transform: none;
  color: white;
  border: 0;
  border-radius: 0;
  background-color: #222;
}

.btn-full-width:hover {
  color: white;
  background-color: #EF4035;
}

.btn-full-width:focus {
  color: white;
}

.text-primary {
  color: #EF4035 !important;
}

a.text-primary {
  color: #EF4035 !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #c81b10 !important;
}

.bg-inverse {
  background-color: #222 !important;
}

.owl-carousel.owl-theme .owl-controls {
  margin-top: 0;
}

.owl-carousel.owl-theme .owl-controls .owl-prev,
.owl-carousel.owl-theme .owl-controls .owl-next {
  font-size: 30px !important;
  line-height: 39px;
  position: absolute;
  top: -84px;
  bottom: 0;
  width: 40px;
  height: 40px; border-radius: 50%; 
  margin: auto 0 !important;
  text-align: center;
  color: white !important;
  background-color: #18427ce6 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.owl-carousel.owl-theme .owl-controls .owl-prev:hover,
.owl-carousel.owl-theme .owl-controls .owl-next:hover {
  opacity: 1;
}

.owl-carousel.owl-theme .owl-controls .owl-prev {
  left: -40px;
}

.owl-carousel.owl-theme .owl-controls .owl-next {
  right: -40px;
}

.owl-carousel.owl-theme .owl-controls .owl-page span {
  background: rgba(34, 34, 34, 0.5);
}

.owl-carousel.owl-theme.portfolio-carousel .owl-controls .owl-prev {
  left: 0;
}

.owl-carousel.owl-theme.portfolio-carousel .owl-controls .owl-next {
  right: 0;
}




/*--custom-code--*/

.navbar { box-shadow: 0 0 15px rgba(51, 51, 51, 0.15);   background: rgba(255, 255, 255, 0.7); padding:0px;}
.navbar-shrink { z-index: 9999; background: #e8e8e8;}


/*--menu--*/
.side-bar-menu{display: block;}
.mobi-menu{display: none;}
.submenus {padding:0; position: absolute;background-color: #fff; padding: 15px 0; width: 200px; left:-60px; min-height: 200px;display: none; top:35px; box-shadow: 0px 1px 9px 1px #ddd;}


#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0px;}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu { font-family: 'Poppins', sans-serif;}
#cssmenu > ul > li{float:left; margin:0px 1px;}
#cssmenu > ul > li > a { padding: 30px 20px; font-size: 17px; color: #2a405e; font-weight: 400;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#fff;text-decoration:none;}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{background:#af1f25!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{padding-right:30px}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:36px;right:11px;width:8px;height:2px;display:block;background:#2a405e;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:33px;right:14px;display:block;width:2px;height:8px;background:#2a405e;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}

#cssmenu > ul > li.active > a:after { background: #fff;}
#cssmenu > ul > li.active > a:before { background: #fff;}

#cssmenu > ul > li.has-sub:hover > a:before{top:33px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px;padding:0px;}
#cssmenu ul ul li{height:auto !important;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#18427cf7;transition:all .25s ease}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-right:100%;top:0; right:0px; width:250px;}
#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:15px 15px;width:250px;font-size:14px;text-decoration:none;color:#ddd;font-weight:400;line-height:normal;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff; background: #333;}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:26px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:23px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}


.nav-item a span {
    font-weight: bold;
}
.submenus li{list-style: none;  padding: 5px 15px;display: block; width: 100%;}
.submenus li a { width: 100%; display: block;}
.submenus li a:hover{color: #af1f25;}
nav ul li:hover .submenus{
         display: block;top:60px; 
        -webkit-transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        -ms-transition: all .5s ease-in;
        -o-transition: all .5s ease-in;
        transition: all .5s ease-in;
      }

ul.super-menu {
    position: absolute;
    right: -200px;
    top: 0px;
    background-color: #fff;
   padding: 13px 8px; display: none;
    min-width: 178px;
}
.submenus li:hover .super-menu{
    right:  -182px;display: block;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.submenus li a .fa-caret-right {
    float: right;
    padding: 5px;
}


a .bg_logo {
  background-image: url(../images/dark-logo.png);
  background-repeat: no-repeat;
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
  width: 142px;
  height: 35px;
  display: inline-block; }
a .bg_logo_dark {background-image: url(../images/dark-logo.png); background-repeat: no-repeat; }
a .bg_logo_light {background-image: url(../images/light-logo.png);  background-repeat: no-repeat; }

/*--sidebar-menu--*/

#wrapper {
    padding-right: 0;
    position: absolute;
    top: 0;
    right: 0;    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 220px;
}

#sidebar-wrapper {
    z-index: 9999;
    right: 220px;top: 0;
    width: 0;position: fixed;
    height: 100%;
    margin-right: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f3f3f3;
	border-left: 1px solid #e2e2e2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 380px;
}


#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;    padding-top: 35px;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}
.sidebar-nav li a strong {
    display: block;
    border-bottom: 1px solid #0000001c;
    padding: 8px 0px;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #df4b39;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.sidebar-nav a.level-top {
    background-color: #ffcb39;
    color: #000 !important;    padding-right: 32px;
}


.hamburger {
  position: relative;
  top: 24px;  
  z-index: 9999;
  display: block;
  width: 32px;
  height: 32px;    margin-left: 27px;
  margin-right: 36px; cursor: pointer;
  background: transparent;
  border: none; float: right;
}
.fixed-menu {
    position: fixed;
    top: -31px;
    right: 0;
    z-index: 99999;
}
.hamburger.is-open{right: -215px;z-index: 99999;}
.inner-page .hamburger {top: 24px;}


.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  right: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #2d5387;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #000;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {opacity: 1;display: block; 
  -webkit-transform: translate3d(-100px,0,0); -webkit-transition: all .35s ease-in-out;}

.isDisabled a{cursor: default; padding-bottom: 0 !important;}
.slider-content h1{font: 700 80px/80px 'Poppins', sans-serif;}
.slider-content a.btn-fourtek:hover{ background: #18427c;}

.home-slider{text-align: center;}
.home-slider .carousel-item img{width:100%;}
.carousel-item:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #18427cad;
}
.footer{background: url(../images/footer-bg.jpg) no-repeat center bottom fixed; background-size: 100%;}
.callUsk {
    background-color: #fffdfdf0;
    padding: 20px 0px;
    margin-bottom: 50px;
    border-bottom: 1px dashed #404040;
}
.newsletter {
    text-align: left;
    margin: 22px 0px;
}
.newsletter p {
    color: #292828;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 26px;
}
.certificated{ text-align: right; }
.newsletter .btn {
    border: 1px solid #4e4e4e;
    margin: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    padding: 15px 40px;
}
.newsletter .btn:hover {
    background: #fff;
    border-color: #fff;
    color: #242424;
}
.newsletter-block input[type="text"] {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    padding: 13px 40px;
}
.newsletter-block {
    display: inline-block;
    border: 1px solid #4e4e4e;
    padding: 2px;
}

.newsletter-block .subscribe-btn {
    background-color: #f0f6ff;
    border: none;
    padding: 13px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;cursor: pointer;
}

.footer-hr{border-color:#4e4e4e;}
.footer-content ul li,.footer-content ul li a{color:#7b7b7b; font-weight: 500; line-height: 31px; font-size: 14px;}
line-height: 31px;    font-size: 14px;} 
.footer-content ul li a:hover{ color: #fff;}
.footer-content ul{padding:0;}
.footer-content ul li{list-style: none;}
.footer-content ul li a:hover{ color: #fff;}

.footer-address ul li:nth-child(1) {background: url(../images/location-icon.png) left; background-repeat: no-repeat;
 padding-left: 24px;}
.footer-address ul li:nth-child(2) {background:url(../images/phone-icon.png) left; background-repeat: no-repeat; padding-left: 24px;}
.footer-address ul li:nth-child(3) {background:url(../images/mail-icon.png) left; background-repeat: no-repeat;padding-left: 24px;}

.footer-content strong {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.copyright {
    background-color: #2d5387; color: #fff;margin-bottom: 38px;
}
.footer-content {
    margin-bottom: 30px;
}
#about .title h2 { margin: 0px; color: #b63338; font-size: 40px; font-weight: 600; line-height: 45px;}
#about .title h2 span{ color: #2d5387 }

.service-section ul {
    padding: 15px;
}
.service-section ul li {
    list-style: none;
}
.service-section ul li .fa-long-arrow-right {
    margin-right: 10px;    font-weight: bold;    line-height: 34px;
}

.service-section ul li, .service-section ul li a{color:#666666; font-size: 16px; font-weight: 400; display: block; padding: 2px 0px;}
.service-section .es-solutions{border: 5px solid #eaeaea;padding: 50px 30px 40px;}
.service-section .btn-fourtek{left:auto;  position: relative;}

  .person-pics { position: absolute; right: 40px; top: -55px; background: #fff; padding: 10px;}
footer {
  background-color: #fafafa; }
  footer a span {
    padding-bottom: 70px; }
footer p {
  font-size: 13px;
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.7px;
} 
    footer .social-media-footer a {
      border-radius: 50%;
      width: 35px; color: #fff !important;
      height: 35px;
      line-height: 35px;
      display: inline-block;
      margin-right: 10px;
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -ms-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out; }
      footer .social-media-footer a:hover {
        color: #fff; }
.copy {
    padding: 34px 15px 30px 35px;
    height: 83px;
}
.footer-social{padding: 25px 35px 25px 15px;}
.social-media-footer {
    text-align: right;
}
.social-media-footer a {
    text-align: center;
}

#about .about-us h2 {
    color: #2d5387;
    font-weight: 700;
    line-height: 60px;
    font-size: 40px;

}
#about .about-us p {

    color: #646060;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    padding: 20px 100px;

}

footer .social-media-footer a, .portfolio .shuffle ul li, .portfolio .shuffle ul li.active, .header .title a {
    border: 1px solid #fff;
}

 .case-study .title {
    margin-bottom: 50px; }
.case-study .post {
    position: relative;
    height: auto;
    margin: auto;
    text-align: left;
}

    .case-study .post .category-post {
      position: absolute;
      top: -17px;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      padding: 5px 24px;
      border-radius: 27px;
      z-index: 2; }
      .case-study .post .category-post a {
        font-size: 15px; }
    .case-study .post .img-post {
      width: 100%;
      max-height: 222px;
      overflow: hidden; }
      .case-study .post .img-post img {
        -webkit-transition: all 700ms ease-in-out;
        -moz-transition: all 700ms ease-in-out;
        -ms-transition: all 700ms ease-in-out;
        -o-transition: all 700ms ease-in-out;
        transition: all 700ms ease-in-out;
        -webkit-transform: scale(1) rotate(0);
        -moz-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0); }
        .case-study .post .img-post img:hover {
          -webkit-transform: scale(1.05) rotate(2deg);
          -moz-transform: scale(1.05) rotate(2deg);
          -ms-transform: scale(1.05) rotate(2deg);
          -o-transform: scale(1.05) rotate(2deg);
          transform: scale(1.05) rotate(2deg); }
.case-study .post .infos-post h3 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 4px;
    padding: 0px;

}

.caseneheading{}

      .case-study .post .infos-post h3 a {
      color: #333; }

    .case-study .post .infos-post span {
      color: rgba(0, 0, 0, 0.4);
      font-size: 14px; }
    .case-study .post .infos-post hr {
      width: 80%;
      margin: 23px auto;
      display: block;
      border-top: 1px solid #eee; }
.case-study .post .infos-post p {
    padding: 10px 0px 30px;
    margin: 0;
    text-align: justify;
    color: #646060;
    font-size: 16px;
    line-height: 32px;
}
    .case-study .post .tags-post,
    .case-study .post .comments-post {
      position: absolute;
      bottom: -13px;
      color: #fff;
      padding: 2px 10px;
      border-radius: 27px;
      z-index: 2; }
    .case-study .post .tags-post {
      left: 6px; }
.case-study .post .tags-post i { font-size: 13px; margin-right: 7px; }
.case-study .post .tags-post span {font-size: 14px; }
.case-study .post .comments-post {right: 6px; }
.case-study .post .comments-post span {font-size: 15px;margin-right: 7px; }
.case-study .post .comments-post i {font-size: 14px; }
.case-study .btn-fourtek {margin: 80px auto 0; font-size: 18px; padding: 6px 45px; }
#about .btn-fourtek { left: 0px; margin:0px;}
#about .btn-fourtek:hover{ background: #185081;}
.tabs-service {padding: 70px 0;}
.tabs-service h4 span {color: #af1f25;}
.tabs-service h4 {color: #185081; font-size: 30px; font-weight: 600; margin-bottom: 0; line-height: 28px; text-transform:uppercase;}
.tabs-service .nav-tabs li { width: 47%; float: left; height: 60px; margin-bottom: 20px; margin-right: 15px; border: none; font-size: 18px; text-transform: uppercase; font-weight: 300; letter-spacing:0.5px;}
.tabs-service .nav-tabs li a img {width: 24%;margin-right:10px; float: left;}
.tabs-service .nav-tabs li a span {display: block; float: right; max-width: 70%; font-weight: normal;
    font-size: 14px; padding-top: 9px; text-align: left;
}

.tabs-service .nav-tabs li:nth-child(1) a {background-color: #5c4e5d; color:#fff;}
.tabs-service .nav-tabs li:nth-child(2) a {background-color: #525f67; color:#fff;}
.tabs-service .nav-tabs li:nth-child(3) a {background-color: #636363; color:#fff;}
.tabs-service .nav-tabs li:nth-child(4) a {background-color: #566c63; color:#fff;}
.tabs-service .nav-tabs li:nth-child(5) a {background-color: #6c5253; color:#fff;}
.tabs-service .nav-tabs li:nth-child(6) a {background-color: #552526; color:#fff;}

.tabs-service  .nav-tabs{border-bottom:none; }
.tabs-service .nav-tabs li a {
    height: 60px;
    border-radius: 0;
    border: none;
}
.tabs-service .nav-tabs li a:hover{ background: #af1f25;}
.tabservices{}
.tabservices p{ font-size:15px; line-height:26px; font-weight:400; color: #646060; margin: 20px 0px 30px;}

.inductry-rating {background-image: url('../images/rating-bg.jpg'); padding: 150px 0; background-attachment: fixed; background-size: 100%; color:#fff; text-align: center;background-size: cover;}


.client-revies {
    margin: 35px 0;
    text-align: center;
    width: 100%;
}
.stat-count .number {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.stat span {
    font-size: 33px;
    font-weight: 600;
    letter-spacing: 3px;
}
.stat p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 1px;
    margin-bottom: 0;
}
.stat-line {border-top: 1px solid rgba(255, 255, 255, 0.2) !important;}
.stat-count .counter-value { font-size: 33px; font-weight: 600; display: inline-block; vertical-align: middle;}
.iso-cer { padding: 5px 0;}
.iso-cer .counter-value-iso{ font-size:26px; font-weight:400;}
.stat-count span.counter { display: inline-block;}
.stat-count p{font-size: 13px; color:#626262;font-weight: bold;}
.iso-cer .counter-value-iso { font-size: 26px; font-weight: 400;}
.inductry-rating .mx-auto h4{font-size: 33px; font-weight:300;}
.inductry-rating .mx-auto p{font-size: 14px; font-weight:500; letter-spacing: 0.1px;}

#case-study { padding: 50px 0; background: #eaeaea;}
.learn-btn { border: 1px solid #af1f25; color: #dd312e; font-weight: normal; text-transform: none; font-size: 12.5px; margin-bottom: 20px; margin-top: 20px;}
.learn-btn:hover{ background: #185081; border-color: #185081; color:#fff;}
 #team h2, #case-study h2  {  color: #2d5387; font-size: 40px;font-weight: 600;}
#team h2 span , #case-study h2 span {color: #af1f25; font-weight: 600; text-align: left; font-size: 40px;}
.breadcrumb-block{border-bottom: 1px solid #ddd;    margin-top: -24px;}
.breadcrumb{background:transparent;margin-bottom: 0;}
.about-sections, .service-sections{padding:50px 0;}
.about-sections h2, .service-sections h2{color: #2d5387; text-align: left; font-size: 28px;}
.about-sections h2 span, .service-sections span { color: #af1f25; font-weight: 600; text-align: left; font-size: 28px; line-height: 40px;}
.about-sections p{font-size: 14px;text-align: justify; line-height: 26px;}
.about-sections strong { font-weight: bold;padding:15px 0;}
.our-business{background-color: #001019; padding: 60px 0; color: #fff; }
.our-business p { font-size: 14px; line-height: 32px;}
.our-business h5 {font-size: 18px; color: #af1f25; margin: 15px 0;}
.block-business { padding: 30px 0px 0; text-align: left;}
.block-business p { line-height: 30px;}

.our-business h2 {font-size: 38px; font-weight: bold;}
.business-descirption {padding:80px 0;}
.business-descirption h1{font-size: 35px; font-weight: bold; color: #af1f25; margin-bottom: 0;}
.business-descirption p{color: #6e6e6e; font-size: 14px;text-align: justify;margin-bottom: 30px;}
.business-descirption .row .col-md-3 p { text-align: center;}
.business-descirption .row .col-md-3 { text-align: center;}
.breadcrumb-item.active{color: #18427c; font-weight: bold;}

.inner-page header h1{ font-size: 49px; font-weight: bold; margin-bottom: 25px;    margin-top: 55px;}
.inner-page header p {padding: 15px 0;width: 682px; margin: 0 auto; font-size: 16px; line-height: 28px;}
.inner-page .fixed-menu{top: 4px;}
.sidebar-service{padding-left:40px;}
.service-sections p { text-align: justify;  font-size: 14px; line-height: 26px;}
.service-sections p strong { font-weight: 600; display: block; text-align: justify; margin-bottom: 20px; color: #3c3a3b; font-size: 14px; line-height: 26px;}
.service-sections p span { color: #b7363b; font-style: italic; font-size: 14px; line-height: 26px;}
.line-blue { border-bottom: 2px solid #2d5387; max-width: 120px; text-align: left; border-top: none; margin-bottom: 25px;}
.sidebar-service h3 {font-size: 22px; color: #565656;}
.process-title{ text-align: center; padding: 50px 0; }
.process-title h2{ color: #af1f25; font-size: 28px; font-weight: bold; margin-bottom: 25px; }
.process-title p{line-height: 30px; font-size: 14px; font-weight: bold;}

.line-double{border-bottom: 2px solid #e9e9e9; border-top: 2px solid #e9e9e9;padding: 2px;width:100%;margin-top: 0;}
.request-section{padding:100px 0; text-align: center; color: #fff; background:url(../images/service-bg.jpg); background-attachment: fixed; background-repeat: no-repeat; background-position: center bottom; background-size: cover;}
.request-section h2{font-size: 30px; font-weight: bold; margin-bottom: 25px;}
.business-process{padding: 75px 0 100px;}


.process-list{padding: 0;}
.process-list li{ list-style: none; float: none; display: block;margin-bottom: 35px;margin-top: 35px; }
.process-list li:nth-child(1) { background: url(../images/globe.png); background-repeat: no-repeat;
    padding-left: 41px; 
}
.process-list li:nth-child(2) { background: url(../images/planning.png); background-repeat: no-repeat;
    padding-left: 41px; 
}
.process-list li:nth-child(3) { background: url(../images/tools.png); background-repeat: no-repeat;
    padding-left: 41px; 
}
.process-list li:nth-child(4) { background: url(../images/boost.png); background-repeat: no-repeat;
    padding-left: 41px;
}
.process-list li:nth-child(5) { background: url(../images/branding.png); background-repeat: no-repeat;
    padding-left: 41px; 
}
.process-list li:nth-child(6) { background: url(../images/globe.png); background-repeat: no-repeat;
    padding-left: 41px;
}
.process-list li:nth-child(7) { background: url(../images/globe.png); background-repeat: no-repeat;
    padding-left: 41px;
}
.process-list li:nth-child(8) { background: url(../images/globe.png); background-repeat: no-repeat;
    padding-left: 41px;
}

.process-list li h4 {font-size: 22px;color: #565656;margin-bottom: 15px;}
.process-list li p{font-size: 14px;}
.special-text{ color: #af1f25;font-weight: bold;font-style: italic;}
.process-second-title h2 { color: #0f0f0f; font-size: 48px; font-weight: 600; margin-bottom: 25px; text-align: left; line-height: 50px;}
.business-process .large-text { font-size: 14px; font-weight: 700; color: #3c3a3b; line-height: 30px;}
.process-second-title h4{color:#009dff;line-height: 36px;}
.line-sky-blue { border-bottom: 2px solid #009dff; max-width: 120px;
  text-align: left; border-top: none; margin-bottom: 25px;}
.small-text{font-size: 14px;text-align: justify;}
.development-img{width: 474px; position: absolute; right: -103px;}
.large-text{font-size:18px;}
.game-service-bg { background: url(../images/bg-banner.png) center; background-position: bottom; background-repeat: no-repeat;}
.cartoon-bottom{background: url(../images/bottom.jpg) bottom no-repeat;min-height: 800px;background-size: 100%; padding-bottom: 400px;}
.game-development-img{ width: 600px; position: absolute; right: -103px; max-width: 600px;}

/*---*/
.seoPackageTable table tr td{padding:13px 20px;text-align:center;}
.seoPackageTable table tr td:not(:last-child){border-right:1px solid #cccccc;}
.seoPackageTable table tr td span{color:#000000;display:inline-block;font-size:16px;}
.seoPackageTable table .mainHeading td{border:medium none;}
.seoPackageTable table .rowHeading > td{padding-bottom:13px;padding-top:24px;}
.seoPackageTable table .rowHeading > td p img{margin:0 11px 0 0;float:left;}
.seoPackageTable table .rowHeading > td p{text-align:left;line-height:36px;}
.seoPackageTable table .rowHeading > td p span{color:#2670b7;font-size:18px;letter-spacing:0.2px;display:inline-block;line-height:22px;}
.seoPackageTable table .rowHeading > td p i{color:#999999;float:right;font-size:18px;margin:12px 0 0;}
.seoPackageTable table tr td img{display:inline-block;vertical-align:bottom;}
.seoPackageTable table tr.mainHeading td{border-right-color:#c5c5c5;border-radius:6px 6px 0 0;}
.seoPackageTable table tr.mainHeading td:nth-child(2){background:#1171cb;background:-moz-linear-gradient(top, #1171cb 0%, #085399 100%);background:-webkit-linear-gradient(top, #1171cb 0%,#085399 100%);background:linear-gradient(to bottom, #1171cb 0%,#085399 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1171cb', endColorstr='#085399',GradientType=0);}
.seoPackageTable table tr.mainHeading td:nth-child(3){background:#15528a;background:-moz-linear-gradient(top, #15528a 0%, #072c4d 100%);background:-webkit-linear-gradient(top, #15528a 0%,#072c4d 100%);background:linear-gradient(to bottom, #15528a 0%,#072c4d 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#15528a', endColorstr='#072c4d',GradientType=0);}
.seoPackageTable table tr.mainHeading td:nth-child(4){background:#0f529f;background:-moz-linear-gradient(top, #0f529f 0%, #012750 100%);background:-webkit-linear-gradient(top, #0f529f 0%,#012750 100%);background:linear-gradient(to bottom, #0f529f 0%,#012750 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f529f', endColorstr='#012750',GradientType=0);position:relative;}
.seoPackageTable table tr.mainHeading td:nth-child(4) img{position:absolute;right:-1px;top:-1px;}
.seoPackageTable table tr.mainHeading td:nth-child(5){background:#184874;background:-moz-linear-gradient(top, #184874 0%, #0a233b 100%);background:-webkit-linear-gradient(top, #184874 0%,#0a233b 100%);background:linear-gradient(to bottom, #184874 0%,#0a233b 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#184874', endColorstr='#0a233b',GradientType=0);}
.seoPackageTable table tr.mainHeading td span{color:#ffffff;display:inline-block;font-size:14px;margin:8px 0 0;}
.seoPackageTable table tr.mainHeading td h3{color:#ffffff;font-size:18px;letter-spacing:0.2px;line-height:40px;margin:0 0 20px;position:relative;}
.seoPackageTable table tr.mainHeading td h3::after{border-bottom:3px solid #ffffff;bottom:-3px;content:"";left:50%;position:absolute;transform:translateX(-50%);width:42px;opacity:0.3;}
.seoPackageTable table tr.mainHeading td label{color:#ffffff;font-size:80px;line-height:65px;margin:0;text-shadow:3px 3px 5px rgba(0,0,0,0.29);}
#seoPackTable{background-color:#f1f1f1;background-position:left top;background-repeat:no-repeat;background-size:cover;padding:0px 0 80px 100px;position:relative;}
.seoPackageTable table tr:last-child td{border:medium none;padding:26px 0;}
.seoPackageTable table tr:last-child td:not(:first-child){background-color:#ffffff;}
.seoPackageTable table{border-collapse:separate;margin:0;}
.color1 td:nth-child(1){background-color:#f5f5f5;text-align:left;}
.color1 td:nth-child(2){background-color:#dedede;}
.color1 td:nth-child(3){background-color:#f2f2f2;}
.color1 td:nth-child(4){background-color:#f0f0f0;}
.color1 td:nth-child(5){background-color:#d3d3d3;}
.color2 td:nth-child(1){background-color:#ffffff;text-align:left;}
.color2 td:nth-child(2){background-color:#e7e7e7;}
.color2 td:nth-child(3){background-color:#e9e9e9;}
.color2 td:nth-child(4){background-color:#fdfdfd;}
.color2 td:nth-child(5){background-color:#e7e7e7;}
.seoPackageTable table .rowHeading > td:nth-child(1){background-color:#ffffff;}
.seoPackageTable table .rowHeading > td:nth-child(2){background-color:#e7e7e7;}
.seoPackageTable table .rowHeading > td:nth-child(3){background-color:#e9e9e9;}
.seoPackageTable table .rowHeading > td:nth-child(4){background-color:#fdfdfd;}
.seoPackageTable table .rowHeading > td:nth-child(5){background-color:#e7e7e7;}

@media (min-width:768px) and (max-width:992px){.container{width:initial;padding-left:2em;padding-right:2em;}
}
.my_planHeader{text-align:center;color:white;padding-top:0.2em;padding-bottom:0.2em;}
.my_planTitle{font-size:2em;font-weight:bold;}
.my_planPrice{font-size:1.4em;font-weight:bold;}
.my_planDuration{margin-top:-0.6em;}
@media (max-width:768px){.my_planTitle{font-size:small;}
}
@media (max-width:768px){.my_feature{text-align:center}
}
.my_planHeader.my_plan1{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #a2181e 0%, #a2181e 100%) repeat scroll 0 0;border-right:1px solid #c5c5c5;}
.tabAccOuter .my_planFeature{border-right:1px solid #cccccc;border-top:1px solid #cccccc;padding-bottom:3px;padding-top:3px;}
.my_planHeader.my_plan2{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #c72931 0%, #c72931 100%) repeat scroll 0 0;border-right:1px solid #c5c5c5;}
.my_planHeader.my_plan3{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #8c1319 0%, #8c1319 100%) repeat scroll 0 0;position:relative;border-right:1px solid #c5c5c5;}
.my_planHeader.my_plan3 img{position:absolute;right:-1px;top:-1px;}
.my_planHeader.my_plan4{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #de2127 0%, #de2127 100%) repeat scroll 0 0;}
.my_planFeature{font-size:2em;text-align:center;width:190px;}
.my_planFeature i.my_check{color:green;}
.my_feature{border-right:1px solid #cccccc;border-top:1px solid #cccccc;padding-bottom:17px;padding-top:13px;width:320px;}
.tableUp{margin-left:335px;padding:0;width:820px;margin-top:80px;}
.my_planHeader{width:190px;padding:13px 20px;border-radius:6px 6px 0 0;text-align:center;}
.my_planHeader h3{color:#ffffff;font-size:22px;letter-spacing:0.2px;line-height:40px;margin:0 0 20px;position:relative;text-transform: uppercase;}
.my_planHeader h3::after{border-bottom:3px solid #ffffff;bottom:-3px;content:"";left:50%;opacity:0.3;position:absolute;transform:translateX(-50%);width:42px;}
.my_planHeader label{color:#ffffff;font-size:80px;line-height:65px;font-weight: bold;margin:0;text-shadow:3px 3px 5px rgba(0, 0, 0, 0.29);}
.my_planHeader span{color: #e2c8c8;;display:inline-block;font-size:12px;margin:8px 0 0;}
.tabAccHeading p{line-height:36px;text-align:left;    margin-bottom: 0;}
.tabAccHeading p img{float:left;margin:0 11px 0 0;}
.tabAccHeading p span{color:#2a405e;display:inline-block;font-size:18px;letter-spacing:0.2px;line-height:22px;    font-weight: bold;}
.tabAccHeading p i{color:#999999;float:right;font-size:24px;margin:4px 0 0;cursor:pointer;}
.my_planFeature img{display:inline-block;}
.tabAccHeading .my_plan1, .tabAccHeading .my_plan2, .tabAccHeading .my_plan3, .tabAccHeading .my_plan4{background:#000000 none repeat scroll 0 0;float:left;height:73px;width:190px;border-right:1px solid #cccccc;border-top:1px solid #cccccc;}
.tabAccHeading .my_plan4{border-right:none;}
.tabPara{width:320px;;padding-top:24px;padding-bottom:13px;background-color:#ffffff;border-right:1px solid #cccccc;}
.tabAccHeading .my_plan1{background-color:#e7e7e7;}
.tabAccHeading .my_plan2{background-color:#e9e9e9;}
.tabAccHeading .my_plan3{background-color:#fdfdfd;}
.tabAccHeading .my_plan4{background-color:#e7e7e7;}
.my_feature p{color:#000000;display:inline-block;font-size:15px;margin-bottom: 0;}
.color1 .my_feature{background-color:#f5f5f5;text-align:left;}
.color1 .my_plan1{background-color:#dedede;}
.color1 .my_plan2{background-color:#f2f2f2;}
.color1 .my_plan3{background-color:#f0f0f0;}
.color1 .my_plan4{background-color:#d3d3d3;border-right:0 none;}
.color2 .my_feature{background-color:#ffffff;text-align:left;}
.color2 .my_plan1{background-color:#e7e7e7;}
.color2 .my_plan2{background-color:#e9e9e9;}
.color2 .my_plan3{background-color:#fdfdfd;}
.color2 .my_plan4{background-color:#e7e7e7;border-right:0 none;}
.tabParaBor{border-top:1px solid #ccc;}
.my_planFeature.my_plan1.doubleLineSmExt, .my_planFeature.my_plan2.doubleLineSmExt, .my_planFeature.my_plan3.doubleLineSmExt, .my_planFeature.my_plan4.doubleLineSmExt { padding: 15px 0;}
.doubleLineExt {min-height: 90px;}
.listExt {font-size: 16px;line-height: 47px;}
#seoPackTable .my_planHeader.my_plan3 {margin-top: 0;position: relative;}
#seoPackTable .my_planHeader {margin-top: 20px;}
#seoPackTable .my_planHeader.my_plan3 > h3 {font-size: 30px; margin-bottom: 30px; margin-top: 10px;}
.my_plan3::before {background-image: url(../images/side-shadow-left.png);background-repeat: repeat-y;
    content: ""; height: 100%; left: -20px; position: absolute;top: 0; width: 100%;z-index: 0;}
.contact-head{font-size:22px!important;}
.btn-contact{color: #fff; background-color: #af1f25;width: 180px;height: 48px;font-size: 15px;text-transform: uppercase;
  border-radius: 0;border:0;}
  .panel-heading {
    padding: 0;
    border:0;
  }
  .panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
    color:#555;
    font-size:16px;
    font-weight:bold;
    letter-spacing:1px;
    word-spacing:3px;
    text-decoration:none;
    background: #e2ebfb;
  }
  .panel-heading  a:before {
     font-family: 'FontAwesome';
     content: "\f106";
     float: right;
     transition: all 0.5s;
     font-size: 22px;
  }
  .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  } 
  .panel-body p{padding:15px;}
  .panel-address{padding-top: 0; padding-left: 20px;
    border: solid 1px #ddd;margin:20px;margin-top: 0;}
  .panel-address li{list-style: none;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;}
  .panel-address .fa{margin-right: 10px;}  
  


.recent-job .card {
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 2px 0px 10px -1px #cfcfcf;
    background: url(../images/bag.png) bottom right;
    background-repeat: no-repeat;
}

.jobs-title .title-name{background-color: #efefef !important; font-size: 28px; font-weight: bold; color: #2d5387;    padding: 8px 15px !important;}
.recent-job .btn{background-color: #254194; color: #fff; border: 1px solid #254194; font-size: 17px; font-weight: normal; padding: 5px 10px;}
.recent-job .btn:hover {background-color: #d5232c !important; color: #fff !important;}
.recent-job h5{font-weight: bold;}
.recent-job p {font-weight: bold;}
.recent-job ul{padding:0;}
.recent-job ul li{list-style: none;    margin-bottom: 15px; font-weight: 500; padding-left: 30px;}
.recent-job ul li:nth-child(1) {
    background: url(../images/bulb.png) left;
    background-repeat: no-repeat;
   
}
.recent-job ul li:nth-child(2) {
    background: url(../images/edit.png) left;
    background-repeat: no-repeat;
}
.recent-job ul li:nth-child(3) {
    background: url(../images/people.png) left;
    background-repeat: no-repeat;
}
.recent-job ul li:nth-child(4) {
    background: url(../images/calender.png) left;
    background-repeat: no-repeat;
}
.back-btn{background-color:#28292a !important; color:#fff !important;}
.personal-title {
    padding: 10px;
    display: inline-block;
    max-width: 266px;    text-align: center;
    background-color: #fff;
    margin-top: -21px;
    margin-left: 15px;
}

.career-forms .card{background-color: #eeeeee; background-image: none;}
.career-forms input[type="text"], .career-forms input[type="file"], .career-forms input[type="email"] , .career-forms input[type="phone"]  { height: 56px; border-radius: 0;}
 .career-forms input[type="file"]  {padding-top: 11px;}
.career-forms .field-name { float: right; background-color: #fff; margin-right: 15px; padding: 5px; position: absolute; color: #0e100d; top: -17px; font-weight: 600; font-size: 15px; right: 17px;}
.career-forms .form-group { margin-bottom: 50px;}
.apply-btns { text-align: center;}
.infro-service{color: #fff; padding: 70px 0;}
.infro-service h1{color: #fff; font-size: 38px;font-weight: 600;margin-bottom: 30px; text-transform: uppercase;}
.info-block {background-color: #fff; padding: 10px; color: #3c3a3b; margin: 20px 0; font-size: 14px;min-height: 223px;
    font-weight: 400; text-align: center;
}
.info-block h4 { color: #af1f25; font-size: 16px; padding-top: 18px; border-top: 1px solid #cdcccc;}
.info-block img { width: 150px; padding: 20px;}
.info-block p { padding: 12px 0; line-height: 26px;}
.about-sections .wow.fadeIn {margin-top: 15px;}
.develop-auto{padding: 100px 0 60px;}
.block-service{background-color: #ededed;  padding: 15px;margin:15px 0;    min-height: 194px;}
.line-blue{border-bottom: 3px solid #2d5387; display: inline-block; width: 79px; height: 3px;    margin-bottom: 9px;}
.block-service h4 { text-transform: uppercase;  font-weight: bold; font-size: 18px;  color: #000; margin-top: 10px; }
.develop-auto h3 {font-size: 18px; color: #2d5387; font-weight: 600;}
.develop-auto p { color: #3c3a3b; font-weight: 400; line-height: 30px;}
.develop-auto h2 { color: #af1f25; font-size: 28px; font-weight: bold;}


.erp-service, .consulting-service,.staffing-service{padding: 70px 0;}
.erp-service h1, .consulting-service h1, .staffing-service h1{color: #fff;padding: 30px 0; font-weight: 600;text-transform: uppercase;}

.hrm-sections {padding: 50px 0}
.hrm-sections h2{font-size: 28px; font-weight: bold; color: #af1f25;}
.hrm-sections p{line-height: 30px}
.hrm-sections p strong{font-weight: bold;}
.hrm-sections .row{margin-bottom: 70px;}
.hrm-list{padding: 0;}
.hrm-list h4 { color: #565656; font-size: 20px; margin-top: 30px; font-weight: bold; text-transform: uppercase;}
.hrm-list li { list-style: none; font-size: 15px; line-height: 32px; position: relative; padding: 0px 0 0px 25px;}
.hrm-list li:before { content: "\f0a1"; font: normal normal normal 14px/1 FontAwesome; padding-right: 8px; position: absolute; top: 9px; left: 0;}
.hrm-list li p{line-height: 28px;}

.order-now {padding: 8px;padding-top: 20px; text-align: center;}
.order-now span{display: inline-block; width: 48%; font-weight: bold;}
.order-now span img { margin-top: -1px; }

.customize-btn {padding: 30px 0;}
.customize-btn a { width: auto;  padding: 20px;  padding-top: 17px;  font-weight: bold;  margin-top: 85px;}

.order-now-form .modal-dialog {top: 12%;}
.order-now-form .modal-footer button{border: 1px solid #ddd;}

.order-now-form .modal-footer{justify-content: center;}
.submit-query .btn{color: #000; border: 1px solid #000;padding: 8px 15px; font-size: 14px;}
.submit-query {text-align: center;}


.sidebar-nav li a strong { font-weight: bold;}

.slidercontainer{ padding:0px; overflow:hidden;}

.team_img img {
    max-height: 230px;
	width: 100%;
}
.team_overlay {
    background: #2d5387e6;
    position: absolute;
    height: 100%;
    width: 92.5%;
    top: 0;
    left: 15px;
    transition: all .5s;
    display: none;
    cursor: pointer;
}

.team_overlay .team_overlay_top {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.team_overlay_top {
    padding: 0 20px;
}
.team_overlay h5 {
    font-size: 20px;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 3px;
}
.team_overlay_top p {
    color: #fff;text-align: center;
}
.team_overlay a {
    padding: 8px 20px;
    width: 150px;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    border-radius: .25rem;
}
.team_img:hover .team_overlay {
    display: block;
    transition: all .5s;
}
.team_overlay a:hover {
    background: #af1f25;
    border-color: #af1f25;
}
.team_info_modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 99999999;
    display: none;
    padding-top: 7%;
}
.parent, .parent-team {
    display: table;
    height: 100%;
    width: 100%;
}
.member_info {
    background: #fff;
    padding: 20px 30px 20px;
    position: relative;
    border-radius: 6px;
    color: #83879e;
}
.member_info button {
    background: #2d5387;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    width: 40px;
    padding-top: 2px;
    height: 40px;
    border-bottom-left-radius: 5px;
}
.close:focus, .close:hover{
	color: #242424;
	text-shadow: none;
}
.member_info p{
	font-size: 14px;
    text-align: justify;
    line-height: 28px;	
}
.member_info ul{
	padding: 0px;
	margin: 20px 0px 0px;
}
.member_info ul li{
	list-style: none;
	display: inline-block;
}
.member_info ul li a {
    display: block;
    padding: 6px 11px;
    border: 2px solid #2d5387;
    border-radius: 50%;
    font-size: 16px;
    line-height: 22px;
}

.member_info ul li a:hover{
	background: #2d5387;
	color: #fff;
}

.modal-title {
    font-size: 18px;
}
.modal-title {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #2d5387;
    text-align: left;
    font-size: 28px;
    border-bottom: 1px solid #cdcccc;
}
.modal-title span{
	color: #af1f25;
    font-weight: 800;
    text-align: left;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
}


.model-desc {
    overflow-y: auto;
    max-height: 420px;
    padding-right: 5px;
}

.free-consult {
    float: right;
    position: fixed;
    right: -153px;
    z-index: 99999;
    background-color: #18427c;
    padding: 6px 5px;
    cursor: pointer;
    top: 32%;
    border-radius: 8px 0px 0px 8px;
}
.free-consult a {
    color: #fff;
    font-weight: bold;
}
.element:hover {
    right: 0px;
    -webkit-animation-name: zigzag;
    animation-name: zigzag;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: ease-in;
    animation-direction: ease-in;
}

@keyframes zigzag {
  from {
   right: -120px;  
  }
  10% {
    right: -106.65px;  
  }
  20% {
   right: -93.31px;   
  }
  30% {
     right: -79.98px;  
  }
  40% {
    right: -66.65px;  
  }
  50% {
     right: -53.32px;  
  }
  60% {
     right: -39.99px;  
  }
  70% {
     right: -26.66px;  
  }
  80% {
     right: -13.33px;  
  }
  90% {
     right: -0px;  
  }
  100% {
    right: 0px;  
  }
}

.consultancy-sections {
    padding: 70px 0;
}
.consultancy-sections h4 a{background-color: #ddd;}
.consultancy-sections h4 a:before{display: none;}
.consultancy-sections h4 p{margin-bottom: 0;}


#team .text111 { padding: 0px 160px; line-height: 25px; color: #646060;}
.process-title-benefits h4{ color: #565656; font-size: 20px; margin-top: 30px; font-weight: bold; text-transform: uppercase;}
.process-title-benefits p{ line-height: 28px;}
.mailtotext{ text-align: center; margin-top: 20px;}
.mailtotext p{ text-align: center;}

.privacypolicycontainer strong{}
.privacypolicycontainer strong { font-weight: bold; padding: 15px 0 5px; display: block; color: #af1f25;}
.privacypolicycontainer span.spanclas { display: block; font-weight: 600; margin-top: 10px; font-style: italic; font-size: 14px;}
.privacypolicy-list{}
.privacypolicy-list li { font-size: 14px; font-weight: 400; padding: 5px 0; line-height: 27px;}
.privacypolicy-list li:before{}

.request-quote-form{}
.request-quote-form h5{ border-bottom: none; margin-bottom: 0px;}

.request-submit { border: none; background: #af1f25; color: #fff; padding: 11px 48px; font-size: 16px; border-radius: 2px; cursor: pointer; margin-top: 15px;}
.request-submit:hover{ background:  #18427c;}

.ourclients {
    padding: 80px 0px;
    background: #efefef;
}
.ourclients .title {
    margin-bottom: 40px;
}
.testimonial{
    position: relative;
	margin: 5px;
	/*border: 1px solid #e2dfdf;*/
}
.testimonial .pic {
    overflow: hidden;
    margin: 0 auto;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}

.testimonial .owl-prev:before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
    font-size: 25px;
    color: #d7d7d7;
    position: absolute;
    top: 0;
    left: -2px;
}

.owl-theme .owl-controls{
    width: 100%;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 38%;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 50px;
    height: 50px;
    line-height: 40px;
    border-radius: 0;
    background: transparent;
}
.owl-prev{
    position: absolute;
    left: -5% !important;
	top: 0% !important;
}
.owl-next{
    position: absolute;
    right: -5% !important;
	top: 0% !important;
}
.owl-prev:after,
.owl-next:after{
    content: "\f104";
    font-family: 'FontAwesome';
	font-weight: 900;
    font-size: 30px;
    opacity: 1;
}
.owl-next:after{ content: "\f105"; }

.relativesection{ position: relative; margin: 0px 45px;}
 
.paytmslider-bg {
    position: absolute;
    top: -75px;
    left: -33px;
}

#paytm-slider .testimonial {
    position: relative;
    margin: 0px;
    border: none;
}


/*--mobile-fees--*/

.mobile-fees h3{font-size: 16px;}
.mobile-fees table tr td{text-align: center;}
.mobile-fees h2 {
    font-size: 14px;margin-bottom: 0;
}
.mobile-fees table tr th {
    background-color: #ddd;
}
.mobile-fees .panel-heading a:before{content: '\f107';}
.mobile-fees table tr:first-child {
    background-color: #af1f25;
    color: #fff;
}
.footer-short {
    position: fixed;
    bottom: 0;display: none;
    width: 100%;    background-color: #ef4034;
}
.footer-short ul {
    padding-left: 0;
}

.footer-short ul li {
      display: block;
    width: 33%;
    float: left;
    padding: 3px 11px;
    font-size: 28px;
    text-align: center;
    line-height: 48px;  
}
.footer-short ul li a {
    color: #fff;
}
.footer-short ul li a .fa-home {
    border: 1px solid #18427c;
    border-radius: 50%;
    padding: 10px;
    background-color: #18427c;
    color: #fff;
}
.send-messages{text-align:right;}

.info-block{min-height: 450px;}  
.consulting-service .info-block, .staffing-service .info-block{    min-height: 250px;} 

.our-prductts .col-md-6{float: left;height: 86px;font-weight: normal;    padding-top: 21px;}

.our-prductts .btn-1{background-color: #5c4e5d; color: #fff;}
.our-prductts .btn-1 a{color: #fff; font-weight: normal;}

.our-prductts .btn-2{background-color: #525f67; color: #fff;}
.our-prductts .btn-2 a{color: #fff; font-weight: normal;}

.our-prductts .btn-3{background-color: #636363; color: #fff;}
.our-prductts .btn-3 a{color: #fff; font-weight: normal;}

.our-prductts .btn-4{background-color: #566c63; color: #fff;}
.our-prductts .btn-4 a{color: #fff; font-weight: normal;}

.our-prductts .btn-5{background-color: #6c5253; color: #fff;}
.our-prductts .btn-5 a{color: #fff; font-weight: normal;}

.our-prductts .btn-6{background-color: #552526; color: #fff;}
.our-prductts .btn-6 a{color: #fff; font-weight: normal;}

.our-prductts a:hover{background: #af1f25;}
.our-prductts p {
    margin-top: 10px;
    margin-bottom: 20px;
}
.secondslider-text { text-align: left !important; }
.secondslider-text h1{ text-align: left !important; }
.about-us {
    border-bottom: 1px solid #dedede;
    padding-bottom: 25px;
    margin-bottom: 45px;
}

.solutionsSection p{ color: #646060; font-size: 16px; line-height: 22px; line-height: 32px;}

#testimonial-solutions .testimonial .pic strong{ color: #231f20; font-size: 16px; font-weight: 800;  display: block;; margin-top: 15px; text-align: center;}
.thankyou {
    text-align: center;
    margin: 100px auto;
    background: #ececec;
    padding-top: 15px;
    padding-bottom: 15px;
}
.thankyou h2 {
    font-size: 45px;
    display: block;
    margin: 12px 0px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    color: #af1f25;
}
.thankyou h2 {
    font-size: 45px;
    display: block;
    margin: 12px 0px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    color: #af1f25;
}
.likeIcon {
    background: #2d5387;
    padding: 30px 0;
}
.thankyou .fa {
    font-size: 150px;
    font-weight: 100;
}
.thankyou h2 {
    font-size: 45px;
    display: block;
    margin: 25px 0px 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
}
.thankyou p {
    line-height: 32px;
    color: #646060;
    font-size: 16px;
}

.bankincontainer{ margin-top: 50px; }
.bankincontainer h5 {
    font-size: 22px;
    color: #565656;
}

.padd_80{ padding: 80px 0px; }
.rightsection{ margin-bottom: 40px; }
.rightsection h2 {
    color: #193f74;
    font-size: 22px;
    font-weight: 800;
    display: block;
    border-bottom: 3px solid #193f74;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.rightsection ul {
    margin: 0;
    padding: 0;
}
.rightsection li {
    list-style: none;
}
.rightsection li a {
    color: #474747;
    font-size: 14px;
    display: block;
    position: relative;
    padding: 0px 0 0px 10px;
    margin: 20px 0;
    font-weight: 400;
}
.rightsection li a:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: "\f105";
    font-size: 13px;
    font: normal normal normal 14px/1 FontAwesome;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin: 20px 0 0;
}
.nav-tabs li a {
    display: block;
    padding: 10px 15px;
    background: #193f74;
    margin-right: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-tabs li a:hover{
    background: #af1f25;
}
.nav-tabs li a.active{ background: #af1f25 }
.bs-example {
    padding: 20px;
    background: #eaeaea;
}
.bs-example h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
    color: #676767;
}
.bs-example  strong {
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin: 10px 0;
    color: #4c4c4c;
    text-transform: uppercase;
    font-style: italic;
}
.bs-example p {
    line-height: 28px;
    font-size: 15px;
}

.faqHeader {
        font-size: 27px;
        margin: 20px;
    }

.wrapper{
  width:70%;
}
@media(max-width:992px){
 .wrapper{
  width:100%;
} 
}
.panel-heading {
  padding: 0;
  border:0;
}
.panel-title>a, .panel-title>a:active{
  display:block;
  padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:1px;
  word-spacing:3px;
  text-decoration:none;
}
.panel-heading  a:before {
   font: normal normal normal 14px/1 FontAwesome;
   content: "\f078";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
} 
.panel-default h4.panel-title {
    margin: 0;
}
.panel-collapse {
    padding: 15px;
    background: #fff;
}
.panel-body p{
    line-height: 28px;
    font-size: 15px;
    padding: 0px !important;
}
.bs-example h2 {
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin: 10px 0;
    color: #4c4c4c;
    text-transform: uppercase;
    font-style: italic;
}
.panel-body strong {
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin: 10px 0;
    color: #4c4c4c;
    text-transform: uppercase;
    font-style: italic;
}

.panel-body ul{
  padding: 0px;
  margin: 0px;
}
.panel-body li{
  list-style: none;
  color: #474747;
  font-size: 14px;
  display: block;
  position: relative;
  padding: 0px 0 0px 10px;
  margin: 10px 0 10px;
  font-weight: 400;  
}
.panel-body li:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: "\f105";
    font-size: 13px;
    font: normal normal normal 14px/1 FontAwesome;
}
.padd80{
  padding: 80px 0px;
}

.tab-pane{ margin-bottom: 20px}
.panel.panel-default {
  margin-bottom: 1px;
  border-bottom: 1px solid #fff;
}

#testimonial-products .testimonial .row{ padding: 15px; }
#testimonial-products .testimonial .col-md-4{ font-size: 30px; color: #231f20; font-weight: 700; line-height: 35px; }
#testimonial-products .testimonial .col-md-8 p{ color: #646060; font-size: 16px; line-height: 22px; line-height: 32px;}
#testimonial-products .testimonial .col-md-8 a{ display: block; font-style: italic; }

#ourproduct .title h2 {
    margin: 0px;
    color: #b63338;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
}
#ourproduct .title h2 span {
    color: #2d5387;
}

#ourproduct .col-md-4 p{
    color: #646060;
    font-size: 16px;
    line-height: 22px;
    line-height: 32px;  
}
#testimonial-products .testimonial img {
    border: 10px solid #231f20;
}

#testimonial-products .owl-prev {
    border-radius: 0px;
    left: 10px !important;
    background: #231f20 !important;
    top: -90% !important;
}
#testimonial-products .owl-next {
    border-radius: 0px;
    right: 50px !important;
    background: #231f20 !important;
    top: -90% !important;
}

.csrtext {
    background: #161e29;
    color: #fff;
    padding: 30px;
    max-height: 720px;
    height: 100%;
}
.csrtext h3 {
    font-size: 32px;
    font-weight: 600;
}
.csrtext p {
    line-height: 26px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #c9cfd8;
}
.colour2{ background-color: #41454c; }

.fourtekgallery{ color: #646060; padding: 40px; max-height: 720px; height: 100%;}
.fourtekgallery h3{ font-size: 35px; font-weight: 600;}
.fourtekgallery p{ line-height: 26px; font-size: 14px; font-weight: 300; letter-spacing: 0.5px;}
.filter-button-group{ padding: 40px; text-align: center;}
.filter-button-group button {
    border: none;
    background: #af1f25;
    width: 46%;
    text-align: center;
    color: #fff;
    margin: 5px;
    padding: 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -0.1px;
    border-radius: 4px;
    vertical-align: top;
}
.filter-button-group button img {
    display: block;
    margin: 0px auto 10px;
    vertical-align: middle;
    width: 65px;
}
.filter-button-group button:focus{outline: none;}
.btn:focus{background-color: #2d5387; }
.filter-button-group button:hover{ background-color: #2d5387 }

.filter-button-group button:first-child {
    width: auto;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background: transparent;
    color: #242424;
}

.filter-button-group button:first-child {
    width: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 43%;
    left: 0px;
    text-align: left;
    width: 100%;
    background: transparent;
    color: #242424;
}
.filter-button-group .fa {
    width: 40px;
    height: 40px;
    background: #2d5387;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    margin-top: 9px;
    text-align: center;
}

.imgborder img {
    border: 1px solid #fff;
}

.grid-item img{border: 1px solid #fff;}
.grid-item{ position: relative; }
.grid-item strong { position: absolute; bottom: 10px; background-color: rgba(0,0,0,0.8); color: #fff; text-align: center; padding: 10px; width: 90%; margin: 0px auto;
    left: 0; right: 0; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px;}

   /*.footer-stiky {
         margin: 0;
         text-align: center;
         padding: 5px;
         color: #FFF;
         background:#af1f25; 
        opacity: 0;
      }

/*.footer-stiky a {color:#fff;}
.footer-stiky a i{color:#fff;padding:5px; width:25px; height: 25px; text-align: center; margin-top:2px;}
.footer-stiky a:hover i {width:25px; height: 25px;color:#af1f25; background:#fff; padding:5px; border-radius: 50%}
 */
 .sticky1{display: none;}
 .fixed11 {
     position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    z-index: 999999;
    background:#0c3670; 
    padding: 5px;
    color: #FFF;
    display: block;
     }
.fixed11 a {color:#fff; text-align: center;}
.fixed11 a i{color:#fff;padding:5px; width:25px; height: 25px; text-align: center; margin-top:2px;}
.fixed11 a:hover i {width:25px; height: 25px;color:#af1f25; background:#fff; padding:5px; border-radius: 50%}
 