body {
    img.mfp-img {
        padding: 0 !important;
    }
    .mfp-fade.mfp-bg.mfp-ready {
        opacity: 0.85;
        background-color: #000;
    }
    .mfp-container .mfp-content {
        padding: 15px;
    }
    .mfp-figure::after {
        display: none;
    }
    .mfp-bottom-bar {
        margin-top: 0;
        width: inherit;
        left: 15px;
        right: 15px;
    }
}
body .mfp-image-holder .mfp-close, body .mfp-iframe-holder .mfp-close {
    line-height: 30px;
    height: 30px;
    padding: 0;
    right: 0px;
    text-align: center;
    top: 0;
    width: 30px;
    @include border-radius(30px);
    letter-spacing: 0px;
    font-weight: normal;
    overflow: hidden;
    @include background-horizontal($primary_color, $secondary_color);
    opacity: 1;
    &:before, &:after {
        display: none;
        background-color: $secondary_color;
    }
}
.pp_pic_holder {
    .ppt, .pp_gallery {
        display: none !important;
    }
}
.mfp-wrap .mfp-container .mfp-arrow {
    @include background-horizontal($primary_color, $secondary_color);
    width: 50px;
    height: 50px;
    @include border-radius(50px !important);
    opacity: 1;
    &:before, &:after {
        border: none;
    }
    &:before {
        font-family: "Material-Design-Iconic-Font";
        font-size: 20px;
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: normal;
        position: absolute;
        top: 50%;
        display: block;
        @include transform(translate(-50%, -50%));
        opacity: 1;
        left: 50%;
        width: auto;
        height: auto;
        background-color: transparent;
    }
    &.mfp-arrow-left {
        margin: -25px 0 0 30px;
        &:before {
            content: "\f2ea";
        }
    }
    &.mfp-arrow-right {
        margin: -25px 30px 0 0;
        &:before {
            content: "\f2ee";
        }
    }
}
.wpb_revslider_element {
    margin-bottom: 0 !important;
}
.rev_slider, .revslider-initialised {
    margin-bottom: 0 !important;
    .tp-video-play-button {
        display: none !important;
    }
    .cite {
        font-style: normal !important;
        color: $primary_color !important;
    }
    .ct-countdown {
        .countdown-period {
            color: #fff;
        }
        .countdown-amount {
            color: rgba(#FFAFCD, 0.9);
        }
    }
    .btn {
        font-weight: 500 !important;
        padding: 15px 30px !important;
        line-height: 1.375 !important;
        font-size: 16px !important;
        @media #{$max-slg} {
            padding: 10px 20px !important;
        }
        &.btn-gradient1, &.btn-gray1 {
            font-size: 16px !important;
            font-weight: 700 !important;
            padding: 0 50px !important;
            line-height: 66px !important;
        }
    }
    .lt-2 {
        letter-spacing: 0.2em;
    }
    .ft-display {
        font-family: 'Playfair Display', serif !important;
    }
    .tp-leftarrow.custom, .tp-rightarrow.custom {
        &:before {
            font-family: "FontAwesome";
            font-size: 22px;
        }
    }
    .tp-leftarrow.custom:before {
        content: "\f104";
    }
    .tp-rightarrow.custom:before {
        content: "\f105";
    }
   .tp-leftarrow.custom, .tp-rightarrow.custom {
        width: 40px;
        height: 40px;
        @include border-radius(0px);
        background-color: $primary_color;
        @include transition(all 0.3s linear !important);
        &:before {
            color: #fff;
            line-height: 40px;
            @include transition(all 0.3s linear !important);
        }
        &:hover {
            background-color: $secondary_color;
            &:before {
                color: #fff;
            }
        }
    }
    .tp-bullets.custom .tp-bullet {
      height: 15px;
      width: 15px;
      @include border-radius(15px);
      background: #fff;
      &.selected {
        background-color: $primary_color;
      }
    }
}
// CT Heading
//--------------------------------------------------
.ct-heading {
    position: relative;
    z-index: 1;
    .ct-text-below {
        @include background-gradient-bottom($secondary_color, $primary_color);
        background-color: transparent;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        font-size: 116px;
        line-height: normal;
        font-weight: 700;
        opacity: 0.1;
        position: absolute;
        top: -68px;
        left: -6px;
        z-index: -1;
        @media #{$max-md} {
            font-size: 80px;
            top: -48px;
        }
        @media #{$max-sm} {
            font-size: 60px;
            top: -38px;
        }
    }
    .ct-heading-sub {
        color: $primary_color;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 10px;
        letter-spacing: 0.2em;
        font-weight: 500;
        &.style2 {
            @include font-family-heading($heading_default_font);
            font-weight: 600;
            font-size: 17px;
            text-transform: capitalize;
            letter-spacing: 0.025em;
            + .ct-heading-tag cite {
                @include background-horizontal($gradient_color_from, $gradient_color_to);
            }
        }
    }
    h3.ct-heading-tag {
        font-size: 44px;
        line-height: 1.25;
        margin-bottom: 24px;
        position: relative;
        cite {
            color: $primary_color;
            font-family: 'Playfair Display', serif;
            font-style: italic;
            @extend .text-gradient;
        }
        &.title-light cite {
            @include background-horizontal(#fff, #fff);
        }
        @media #{$max-md} {
            br {
                display: none;
            }
        }
    }
    .h-gap {
        line-height: 0;
        margin-bottom: 23px;
        i {
            display: inline-block;
            width: 40px;
            height: 4px;
            background-color: $primary_color;
        }
    }
    .ct-typingout-typed {
        color: $primary_color;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        @extend .text-gradient;
        .ct-typingout-animation {
            &:after {
                content: '|';
                -webkit-animation: blink 0.7s infinite;
                animation: blink 0.7s infinite;
            }
        }
    }
    .ct-heading-desc {
        font-size: 18px;
        line-height: 1.61;
        letter-spacing: 0.005em;
        max-width: 540px;
        display: inline-block;
    }
    &.align-center .ct-text-below {
        left: 0;
        right: 0;
    }
}
// Progress Bar
//--------------------------------------------------
.ct-progress-layout1 {
    .ct-progress-title {
        font-size: 14px;
        text-transform: uppercase;
        margin: 0 20px 0 0;
        min-width: 50px;
        font-family: inherit;
        font-weight: 500;
    }
    .ct-progress.progress {
        @include box-shadow(none);
        background-color: #F0F0F0;
        @include border-radius(10px);
        height: 10px;
        overflow: visible;
        margin: 0 68px 0 0;
        flex-grow: 1;
        .progress-bar {
            background-color: $primary_color;
            @include border-radius(10px);
            overflow: visible;
            @include box-shadow(none);
            position: static;
            span {
                background-color: #333335;
                color: #fff;
                min-width: 44px;
                margin-left: 20px;
                padding: 0 5px;
                line-height: 23px;
                font-size: 14px;
                @include border-radius(3px);
                position: absolute;
                top: 50%;
                @include transform(translate(0, -50%));
                right: -68px;
                font-family: inherit;
                font-weight: 500;
            }
            &.secondary {
                background-color: $secondary_color;
            }
            &.third {
                background-color: $third_color;
            }
            &.gradient {
                @include background-horizontal($primary_color, $secondary_color);
            }
        }
    }
    .ct-progress-item {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        + .ct-progress-item {
            margin-top: 30px;
        }
    }
    &.style2 {
        .ct-progress-title {
            font-weight: 600;
            color: #2d3136;
            @include font-family-heading($heading_default_font);
        }
        .ct-progress.progress .progress-bar span {
            font-weight: 600;
            @include font-family-heading($heading_default_font);
            background-color: #162171;
            @include border-radius(30px);
        }
        .ct-progress.progress {
            background-color: #fff;
        }
    }
}

// Process
//--------------------------------------------------
.ct-process-layout1 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    @media #{$max-sm} {
        flex-wrap: wrap;
    }
    &:before {
        content: '';
        width: 1099px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/line-process.png);
        position: absolute;
        top: 74px;
        left: 0;
        right: 0;
        margin: auto;
        @media screen and (max-width: 1290px) {
            width: 1000px;
        }
        @media #{$max-lg} {
            display: none;
        }
    }
    .ct-process-icon {
        background-color: #d3dde8;
        height: 136px;
        width: 136px;
        line-height: 136px;
        @include border-radius(100%);
        margin: 0 auto 39px auto;
        @include transition(all 300ms linear 0ms);
        position: relative;
        z-index: 1;
        number {
            top: -11px;
            width: 24px;
            height: 24px;
            position: absolute;
            background-color: #515251;
            font-size: 14px;
            color: #fff;
            font-weight: 600;
            line-height: 24px;
            @include border-radius(24px);
            left: 8px;
            @include transition(all 300ms linear 0ms);
        }
        span {
            display: block;
            width: 152px;
            height: 152px;
            z-index: -1;
            position: absolute;
            top: -8px;
            right: -8px;
            @include border-radius(100%);
            @include transform(rotate(33deg));
            overflow: hidden;
            &:before {
                display: block;
                content: '';
                height: 152px;
                width: 76px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: #9499a6;
                @include transition(all 300ms linear 0ms);
            }
        }
        i, img {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
        img {
            max-width: 80px;
        }
        i {
            font-size: 65px;
            color: #f3f9ff;
            @include transition(all 300ms linear 0ms);
        }
    }
    .ct-process-title {
        font-size: 20px;
        color: #252a37;
        margin-bottom: 6px;
    }
    .ct-process-desc {
        padding: 0 20px;
    }
    .ct-process-button {
        padding-top: 18px;
        a {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
            i {
                margin-left: 4px;
            }
        }
    }
    .ct-process-item {
        position: relative;
        padding: 0 15px;
        text-align: center;
        margin-bottom: 35px;
        width: 25%;
        &:hover .ct-process-icon {
            background-color: $secondary_color;
            span:before {
                background-color: $primary_color;
            }
            number {
                background-color: $third_color;
            }
        }
        &:nth-child(even) {
            margin-top: 69px;
            @media #{$max-lg} {
                margin-top: 0;
            }
        }
        @media #{$max-md} {
            width: 50%;
            min-width: 50%;
            margin-bottom: 65px;
        }
        @media #{$max-xs} {
            width: 100%;
            min-width: 100%;
        }
    }
    &.ct-process-5-items {
        @media #{$max-md} {
            &:before {
                display: none;
            }
        }
        .ct-process-item {
            width: 20%;
            @media #{$max-md} {
                width: 50%;
                min-width: 50%;
                margin-top: 0;
                margin-bottom: 65px;
            }
            @media #{$max-xs} {
                width: 100%;
                min-width: 100%;
            }
        }
    }
    &.active .ct-process-item .ct-process-icon {
        background-color: $secondary_color;
        span:before {
            background-color: $primary_color;
        }
        number {
            background-color: $third_color;
        }
    }
}

.ct-process-layout2 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        width: 1045px;
        height: 64px;
        background-image: url(../images/line-process2.png);
        background-repeat: no-repeat;
        background-position: center;
        top: 35px;
        left: 90px;
        right: 0;
        margin: auto;
        @media #{$max-md} {
            display: none;
        }
    }
    .ct-process-icon {
        @include background-horizontal($gradient_color_from, $gradient_color_to);
        @include box-shadow(0 7px 18px rgba($gradient_color_to, 0.39));
        height: 120px;
        width: 120px;
        @include border-radius(120px);
        position: relative;
        margin: 0 auto 36px auto;
        i {
            font-size: 46px;
            color: #fff;
            @include transition(all 300ms linear 0ms);
            display: block;
        }
        img, i {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
    }
    .ct-process-title {
        font-size: 20px;
        color: #162171;
        font-weight: 700;
    }
    .ct-process-desc {
        font-size: 14px;
        line-height: 24px;
        color: #3a505f;
        @include font-family-heading($heading_default_font);
        @media #{$max-md} {
            max-width: auto;
        }
    }
    .ct-process-item {
        width: 25%;
        padding: 0 40px;
        @media #{$max-md} {
            width: 50%;
            min-width: 50%;
            margin-bottom: 65px;
        }
        @media #{$max-xs} {
            width: 100%;
            min-width: 100%;
        }
        &:hover .ct-process-icon i {
            @include transform(translate(-50%, -50%) rotateY(360deg));
        }
    }
}

// Banner
//--------------------------------------------------
.ct-banner-layout1 {
    .ct-banner-inner {
        padding-top: 55px;
        padding-left: 55px;
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            @include background-horizontal($primary_color, rgba($primary_color, 0.01));
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 55px;
            @include border-radius(10px 0 0 10px);
        }
    }
    .ct-banner-image {
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0%;
            height: 100%;
            @include transition(none);
            background-color: rgba(255, 255, 255, 0.75);
            @include border-radius(10px);
        }
        img {
            @include border-radius(10px);
        }
    }
    &:hover .ct-banner-image:before {
        width: 120%;
        background-color: rgba(255, 255, 255, 0);
        @include transition(all 0.5s ease-out);
    }
    &.secondary .ct-banner-inner:before {
        @include background-horizontal($secondary_color, rgba($secondary_color, 0.01));
        background-color: transparent;
    }
    &.third .ct-banner-inner:before {
        @include background-horizontal($third_color, rgba($third_color, 0.01));
        background-color: transparent;
    }
}

// FancyBox
//--------------------------------------------------
.ct-fancybox-default {
    padding: 20px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
        content: '';
        background-color: #f4f7fc;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transition(all 300ms linear 0ms);
    }
    .ct-fancybox-inner {
        background-color: #f4f7fc;
        text-align: center;
        @include transition(all 300ms linear 0ms);
        padding: 56px 15px 65px;
        position: relative;
        z-index: 99;
    }
    .ct-fancybox-icon {
        margin-bottom: 10px;
        i {
            font-size: 54px;
            @extend .text-gradient;
            @include background-gradient-bottom(rgba($secondary_color, 1), rgba($primary_color, 1));
            @include transition(all 300ms linear 0ms);
            line-height: 1;
        }
        img {
            max-width: 100px;
        }
    }
    .ct-fancybox-title {
        font-size: 22px;
        @include transition(all 300ms linear 0ms);
        margin-bottom: 8px;
    }
    .ct-fancybox-desc {
        @include transition(all 300ms linear 0ms);
    }
    &:hover {
        &:before {
            background-color: transparent;
        }
        .ct-fancybox-inner {
            @include background-gradient-bottom(rgba($secondary_color, 0.9), rgba($primary_color, 0.9));
            background-color: transparent;
        }
        .ct-fancybox-title, .ct-fancybox-desc {
            color: #fff;
        }
        .ct-fancybox-icon i {
            color: #fff;
            background-clip: transparent;
            -moz-background-clip: transparent;
            -webkit-background-clip: transparent;
            text-fill-color: #fff;
            -moz-text-fill-color: #fff;
            -webkit-text-fill-color: #fff;
        }
    }
    .ct-fancybox-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.ct-fancybox-layout2 {
    text-align: center;
    .ct-fancybox-icon {
        position: relative;
        height: 93px;
        width: 93px;
        border: 3px solid $third_color;
        background-color: $third_color;
        line-height: 87px;
        @include border-radius(93px);
        margin: 0 auto 39px auto;
        @include transition(all 300ms linear 0ms);
        img {
            max-width: 80px;
        }
        i {
            font-size: 42px;
            color: #fff;
            @include transition(all 300ms linear 0ms);
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            @include transform(translate(0, -50%));
        }
        &.icon-style2 {
            border: none;
            @include background-horizontal($primary_color, $secondary_color);
            &:before {
                content: '';
                position: absolute;
                background-color: #fff;
                top: 3px;
                left: 3px;
                right: 3px;
                bottom: 3px;
                @include border-radius(93px);
                @include transition(all 300ms linear 0ms);
                opacity: 0;
            }
        }
    }
    .ct-fancybox-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .ct-fancybox-desc {
        padding: 0 20px;
    }
    .ct-fancybox-inner:hover .ct-fancybox-icon {
        background-color: #fff;
        border-color: $primary_color;
        i {
            color: #2d3136;
        }
        &.icon-style2:before {
            opacity: 1;
        }
    }
}

.ct-fancybox-layout3 {
    .ct-fancybox-icon {
        color: #fff;
        height: 44px;
        width: 44px;
        min-width: 44px;
        @include border-radius(44px);
        line-height: 44px;
        background-color: $primary_color;
        margin-right: 50px;
        text-align: center;
        i {
            font-size: 18px;
        }
    }
    .ct-fancybox-title {
        margin-bottom: 8px;
    }
    .ct-fancybox-inner {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    &.icon-secondary .ct-fancybox-icon {
        background-color: $secondary_color;
    }
}

.ct-fancybox-layout4 {
    position: relative;
    .ct-fancybox-icon {
        line-height: 1;
        margin-bottom: 18px;
        @media #{$max-lg} {
            margin-bottom: 12px;
        }
        i {
            font-size: 68px;
            color: #fff;
            @media #{$max-lg} {
                font-size: 38px;
            }
        }
    }
    .ct-fancybox-title {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
        @media #{$max-lg} {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    .ct-fancybox-desc {
        font-size: 15px;
        line-height: 26px;
        color: #fff;
        @include font-family-heading($heading_default_font);
        max-width: 250px;
        margin: auto;
        @media #{$max-lg} {
            font-size: 14px;
        }
    }
    .ct-fancybox-back {
        position: absolute;
        width: 334px;
        height: 334px;
        @include border-radius(334px);
        @include background-horizontal($gradient_color_from, $gradient_color_to);
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        @include transform(translate(0, 0%) rotateY(90deg));
        -o-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 0;
        box-sizing: border-box;
        @include transition(all 0.35s ease);
        @media #{$max-lg} {
            width: 230px;
            height: 230px;
        }
        a {
            font-size: 18px;
            color: #162171;
            height: 63px;
            width: 63px;
            line-height: 63px;
            @include border-radius(63px);
            background-color: #fff;
            @include box-shadow(0 6px 18px rgba($gradient_color_to, 0.39));
            position: absolute;
            bottom: -19px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            font-weight: 600;
            @include transition(all 200ms linear 0ms);
            &:hover {
                bottom: -14px;
            }
        }
        .ct-fancybox-image {
            position: absolute;
            top: 25px;
            right: 25px;
            left: 25px;
            bottom: 25px;
            @include border-radius(100%);
        }
    }
    .ct-fancybox-front {
        width: 334px;
        height: 334px;
        @include border-radius(334px);
        text-align: center;
        @include background-horizontal($gradient_color_from, $gradient_color_to);
        @include box-shadow(0 7px 18px rgba($gradient_color_to, 0.39));
        margin: auto;
        backface-visibility: hidden;
        box-sizing: border-box;
        @include transition(all 0.35s ease);
        position: relative;
        @media #{$max-lg} {
            width: 230px;
            height: 230px;
        }
        .ct-fancybox-inner {
            padding: 30px;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            @include transform(translate(0, -50%));
        }
    }
    &:hover {
        .ct-fancybox-front {
            @include transform(rotateY(-180deg));
            opacity: 0;
        }
        .ct-fancybox-back {
            opacity: 1;
            -webkit-transition-delay: 0.14s;
            -moz-transition-delay: 0.14s;
            transition-delay: 0.14s;
            @include transform(translate(0, 0%) rotateY(0deg));
        }
    }
}

// Team Carousel
//--------------------------------------------------
.ct-team-carousel-wrap {
    .team-featured {
        max-width: 190px;
        margin: 0 auto 20px auto;
        img {
            @include border-radius(190px);
        }
    }
    .team-title {
        font-size: 22px;
        color: #252a37;
        margin-bottom: 5px;
        @include transition(all 120ms linear 0ms);
    }
    .team-position {
        font-size: 16px;
        color: #333333;
        @include transition(all 120ms linear 0ms);
    }
    .team-social {
        display: flex;
        align-items: center;
        @include background-horizontal($primary_color, $secondary_color);
        position: absolute;
        left: 50%;
        @include transform(translate(-50%, 0));
        bottom: 0;
        @include border-radius(50px);
        padding: 0 23px;
        @include transition(all 120ms linear 0ms);
        line-height: 50px;
        a {
            font-size: 16px;
            color: #fff;
            padding: 0 12px;
            &:hover {
                color: $secondary_color;
            }
        }
    }
    .ct-team-item-inner {
        text-align: center;
        padding: 40px 40px 45px 40px;
        background-color: #f4f7fc;
        @include border-radius(150px 150px 0 0);
        margin: 25px 0;
        @include transition(all 120ms linear 0ms);
    }
    .owl-item.active .ct-team-item-inner:hover {
        @include box-shadow(0 1px 15px rgba(#000, 0.22));
        @include background-horizontal($primary_color, $secondary_color);
        background-color: $secondary_color;
        .team-title {
            color: #fff;
        }
        .team-position {
            color: #fff;
        }
        .team-social {
            background-color: #252a37;
            background-image: none;
        }
    }
    .owl-stage-outer {
        padding: 0 30px;
        margin: 0 -30px;
    }
}

// Portfolio
//--------------------------------------------------
.ct-grid-portfolio-layout1 {
    .item-holder {
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        background-color: rgba(#0a0a0a, 0.9);
        @include transition(all 300ms linear 0ms);
        opacity: 0;
        .item-title {
            font-size: 16px;
            font-family: inherit;
            margin-bottom: 3px;
            color: $secondary_color;
            font-weight: 500;
            display: inline-block;
        }
        p {
            margin: 0px;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            @include font-family-heading($heading_default_font);
        }
        .item-holder-inner {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px 20px 25px 30px;
        }
        .light-box, .item-link {
            width: 30px;
            display: block;
            position: absolute;
            top: 30px;
            right: 22px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            font-size: 17px;
            &:hover {
                color: $primary_color;
            }
        }
    }
    .item-featured img {
        @include transition(all 300ms linear 0ms);
    }
    .grid-item-inner {
        position: relative;
        overflow: hidden;
        &:hover {
            .item-featured img {
                @include transform(scale(1.1));
            }
            .item-holder {
                opacity: 1;
            }
        }
    }
}
.shadow-style2 img {
    @include box-shadow(0px 1px 18px rgba(34, 34, 34, 0.24));
    @include border-radius(50px);
}

// Counter
//--------------------------------------------------
.ct-counter-default {
    .ct-counter-icon {
        i {
            font-size: 52px;
            @extend .text-gradient;
            line-height: 1;
        }
        + .ct-counter-holder {
            padding-left: 40px;
        }
    }
    .ct-counter-digit {
        font-size: 28px;
        color: #2d3136;
        font-weight: 600;
        @include font-family-heading($heading_default_font);
    }
    .ct-counter-title {
        margin: 0;
        font-size: 18px;
        margin-bottom: 0;
        color: #333333;
        font-weight: 500;
        font-family: inherit;
    }
    .ct-counter-inner {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    &.style2 {
        .ct-counter-digit {
            font-size: 40px;
            color: #162171;
            line-height: 1;
            margin-bottom: 7px;
            display: inline-block;
        }
        .ct-counter-title {
            @include font-family-heading($heading_default_font);
            font-size: 20px;
            line-height: 30px;
            color: #6b8ba1;
            font-weight: 400;
        }
    }
}

// Tab & Accordion
//--------------------------------------------------
.vc_tta-container {
    .vc_tta-tabs {
        &.vc_tta-style-default {
            .vc_tta-tabs-container {
                .vc_tta-tabs-list {
                    text-align: center;
                    li {
                        a {
                            border: none;
                            padding: 0 32px;
                            line-height: 52px;
                            color: #2d3136;
                            font-weight: 500;
                            background-color: #f4f7fc;
                        }
                        &.vc_active a {
                            background-color: $primary_color;
                            color: #fff;
                        }
                        &:first-child a {
                            @include border-radius(52px 0 0 52px);
                        }
                        &:last-child a {
                            @include border-radius(0 52px 52px 0);
                        }
                    }
                }
            }
            .vc_tta-panels-container {
                .vc_tta-panel-body {
                    padding: 45px 0 0;
                    border: none;
                }
            }
        }
    }
}

// Tab & Accordion
//--------------------------------------------------
.ct-pricing-default {
    background-color: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 32px 20px 45px 20px;
    text-align: center;
    &.is-feature {
        border: 3px solid rgba($primary_color, 0.8);
        @include box-shadow(0px 0px 15px rgba(34, 34, 34, 0.36));
    }
    .ct-pricing-title {
        font-size: 22px;
        margin-bottom: 37px;
        font-weight: 600;
        color: #272c31;
    }
    .ct-pricing-price {
        font-size: 48px;
        line-height: 1;
        font-weight: 600;
        @include font-family-heading($heading_default_font);
        color: $primary_color;
        margin-bottom: 20px;
    }
    .ct-pricing-time {
        font-size: 16px;
        font-weight: 600;
        color: #7c7e80;
    }
    .ct-pricing-meta {
        border-bottom: 1px solid #EEEEEE;
        padding-bottom: 24px;
    }
    .ct-pricing-holder {
        padding-top: 27px;
        .ct-pricing-content {
            list-style: none;
            margin: 0;
            font-size: 18px;
            color: #333333;
            li {
                padding: 4px 0;
            }
        }
        .ct-pricing-button {
            margin-top: 32px;
            .btn {
                line-height: 47px;
            }
        }
    }
    &:not(.is-feature) .ct-pricing-holder .ct-pricing-button .btn {
        background-color: $primary_color;
        background-image: none;
    }
}

// Video
//--------------------------------------------------
.ct-video-button {
    font-size: 12px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    color: #fff;
    @include background-horizontal($primary_color, $secondary_color);
    @include border-radius(60px);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    &:before, &:after {
        content: '';
        @include border-radius(100%);
        position: absolute;
        z-index: -1;
        @include transition(all 300ms linear 0ms);
    }
    &:before {
        height: 88px;
        width: 88px;
        @include background-horizontal(rgba($primary_color, 0.17), rgba($secondary_color, 0.17));
        background-color: transparent;
        top: -14px;
        left: -14px;
    }
    &:after {
        height: 110px;
        width: 110px;
        @include background-horizontal(rgba($primary_color, 0.15), rgba($secondary_color, 0.15));
        background-color: transparent;
        top: -25px;
        left: -25px;
    }
    &:hover, &:focus, &:active {
        color: #fff;
        &:before, &:after {
            width: 60px;
            height: 60px;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
}
.rev_slider_wrapper .ct-video-button {
    line-height: 70px;
    width: 70px;
    height: 70px;
    font-size: 15px !important;
    color: $primary_color;
    background-color: #fff;
    background-image: none;
    text-align: center !important;
    &:before {
        display: none;
    }
    &:after {
        top: -10px;
        left: -10px;
        width: 90px;
        height: 90px;
        background-color: rgba(255, 255, 255, 0.35);
        background-image: none;
    }
}

// Testimonial
//--------------------------------------------------
.ct-testimonial-carousel1 {
    .testimonial-featured {
        position: relative;
        display: inline-block;
        border: 11px solid #fff;
        @include border-radius(165px);
        margin-bottom: 40px;
        max-width: 176px;
        &:before {
            content: '';
            position: absolute;
            top: -7px;
            left: -7px;
            width: calc(100% + 14px);
            width: -webkit-calc(100% + 14px);
            height: calc(100% + 14px);
            height: -webkit-calc(100% + 14px);
            @include border-radius(165px);
            border: 3px solid $primary_color;
        }
    }
    .testimonial-description {
        font-size: 18px;
        line-height: 2;
        color: #efefef;
        margin-bottom: 20px;
    }
    .testimonial-title {
        font-size: 28px;
        color: #fff;
        margin-bottom: 4px;
    }
    .testimonial-position {
        color: $secondary_color;
        font-size: 18px;
    }
    .grid-item-inner {
        text-align: center;
    }
    .owl-dots .owl-dot {
        @include background-horizontal($primary_color, $secondary_color);
        &.active {
            background-color: #fff;
            background-image: none;
        }
    }
}

.ct-testimonial-carousel2 {
    .testimonial-featured {
        height: 116px;
        width: 116px;
        @include border-radius(116px);
        border: 4px solid #fff;
        @include box-shadow(0 9px 10px rgba(#ff33b3, 0.41));
        margin: 0 auto 34px auto;
        position: relative;
        img {
            @include border-radius(116px);
        }
        a i {
            height: 37px;
            position: absolute;
            top: 3px;
            right: -13px;
            background-color: $primary_color;
            width: 37px;
            line-height: 37px;
            border-radius: 37px;
            font-size: 16px;
            color: #fff;
            &.fa-dribbble {
                background-color: #fd226a;
            }
            &.fa-facebook {
                background-color: #0060ff;
            }
            &.fa-twitter {
                background-color: #019cff;
            }
        }
    }
    .testimonial-title {
        font-size: 22px;
        color: #162171;
        font-weight: 700;
        margin-bottom: 0px;
        @include transition(all 300ms linear 0ms);
    }
    .testimonial-position {
        @include font-family-heading($heading_default_font);
        font-size: 16px;
        color: #999999;
        @include transition(all 300ms linear 0ms);
    }
    .testimonial-description {
        font-size: 16px;
        line-height: 32px;
        color: #3a505f;
        @include font-family-heading($heading_default_font);
        margin-bottom: 23px;
        @include transition(all 300ms linear 0ms);
    }
    .testimonial-icon {
        font-size: 232px;
        color: #fff;
        font-family: "Playfair Display";
        text-shadow: 0 2px 18px rgba(#3d3d3d, 0.21);
        -webkit-text-shadow: 0 2px 18px rgba(#3d3d3d, 0.21);
        position: absolute;
        top: -78px;
        left: 14px;
        line-height: 1;
    }
    .grid-item-inner {
        overflow: hidden;
        position: relative;
        padding: 63px 50px 55px;
        &:before {
            content: '';
            z-index: -1;
            height: 150px;
            width: 255px;
            @include background-gradient-rotate(120deg, $gradient_color_from, $gradient_color_to);
            position: absolute;
            @include border-radius(38px);
            top: -55px;
            left: -62px;
            @include transform(rotate(-44deg));
            @include transition(all 300ms linear 0ms);
            opacity: 0.1;
        }
    }
    .ct-testimonial-item {
        background-color: #fff;
        margin: 60px 0 40px;
        @include box-shadow(0 2px 32px rgba(#3d3d3d, 0.1));
        position: relative;
        text-align: center;
        z-index: 1;
        @include transition(all 300ms linear 0ms);
        &:before {
            content: '';
            z-index: -1;
            height: 10px;
            width: 100%;
            @include background-horizontal($gradient_color_from, $gradient_color_to);
            @include box-shadow(0 0px 9px rgba($gradient_color_to, 0.21));
            position: absolute;
            bottom: 0;
            left: 0;
            @include transition(all 300ms linear 0ms);
        }
        &:hover {
            background-color: #162171;
            @include transform(translateY(-20px));
            @include box-shadow(0 7px 18px rgba($gradient_color_to, 0.39));
            &:before {
                opacity: 0;
            }
            .grid-item-inner:before {
                opacity: 1;
            }
            .testimonial-title, .testimonial-description, .testimonial-position {
                color: #fff;
            }
        }
    }
    .owl-stage-outer {
        padding: 0px 30px;
        margin: 0 -30px;
        .owl-item {
            opacity: 0;
            @include transition(all 180ms linear 0ms);
            &.active {
                opacity: 1;
            }
        }
    }
}

// Clients
//--------------------------------------------------
.ct-client-carousel {
    .ct-client-item {
        text-align: center;
        img {
            display: inline-block;
            width: inherit;
            @include transition(all 300ms linear 0ms);
        }
    }
    &.style2 {
        .ct-client-item a {
            display: block;
            background-color: #fff;
            padding: 30px;
            @include border-radius(14px);
            @include box-shadow(0 0 40px rgba(#737373, 0.19));
            &:hover {
                @include transform(translate(0, -5px));
            }
        }
        .owl-stage-outer {
            padding: 50px 40px;
            margin: 0 -40px;
            .owl-item {
                opacity: 0;
                @include transition(all 180ms linear 0ms);
                &.active {
                    opacity: 1;
                }
            }
        }
    }
    .owl-stage {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

// Contact Form
//--------------------------------------------------
.ct-contact-form-default {
    p {
        margin-bottom: 0;
    }
    .wpcf7-form-control-wrap .wpcf7-form-control {
        &.wpcf7-textarea {
            height: 100px;
        }
    }
    .wpcf7-form-control.wpcf7-submit {
        width: 100%;
        margin-bottom: 0;
        &:hover {
            @include background-horizontal($secondary_color, $primary_color);
        }
    }
    &.style-light {
        .wpcf7-form-control {
            &:not(.wpcf7-submit) {
                background-color: transparent;
                color: #f9f8fc;
                padding-left: 0;
                padding-right: 0;
                @include border-radius(0px);
                border-width: 0 0 1px 0px;
                border-color: rgba(#fff, 0.6);
                font-size: 15px;
                @include font-family-heading($heading_default_font);
                &:focus {
                    border-color: #fff;
                }
            }
            &.wpcf7-textarea {
                height: 122px;
            }
            &.wpcf7-submit {
                margin-top: 12px;
            }
        }
        .wpcf7-submit {
            margin-top: 12px;
        }
        .wpcf7-form-control-wrap {
            margin-bottom: 27px;
        }
        .nice-select:after {
            color: #fff;
            right: 0;
        }
    }
}

// Blog Carousel
//--------------------------------------------------
.ct-blog-carousel, .ct-grid-blog-layout1 {
    .item-featured {
        @include border-radius(7px 7px 0 0);
        position: relative;
        overflow: hidden;
        img {
            @include border-radius(7px 7px 0 0);  
        }
        a.overlay {
            &:before, &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                @include transition(all 300ms linear 0ms);
            }
            &:before {
                z-index: 1;
                background-color: rgba(#000, 0.2);
            }
            &:after {
                z-index: 2;
                @include background-gradient-bottom(rgba(#000, 0.6), rgba(#000, 0));
            }
        }
    }
    .item-body {
        padding: 29px 32px 38px 29px;
    }
    .item-meta {
        margin-bottom: 10px;
    }
    .item-title {
        font-size: 24px;
        line-height: 1.5;
        color: #252a37;
        a {
            color: inherit;
            &:hover {
                color: $primary_color;
            }
        }
    }
    .item-readmore {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        text-align: center;
        @include transition(all 300ms linear 0ms);
        opacity: 0;
        visibility: hidden;
    }
    .ct-carousel-item {
        height: 100%;
        padding: 30px 0 50px 0;
        .grid-item-inner {
            background-color: #fff;
            @include border-radius(7px);  
            height: 100%;
            position: relative;
        }
    }
    .ct-video-button {
        position: absolute;
        top: 0;
        z-index: 99;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: $primary_color;
        color: #fff;
    }
    .owl-stage-outer {
        margin: 0 -20px;
        padding: 0 20px;
        .owl-item.active .ct-carousel-item .grid-item-inner {
            @include box-shadow(0 2px 15px rgba(#222222, 0.17));
        }
        .owl-stage {
            display: flex;
        }
    }
    .grid-item-inner:hover {
        .item-title a {
            color: $primary_color;
        }
        .item-readmore {
            -webkit-animation:bounceReadMore .6s ease-in-out both;
            -moz-animation:bounceReadMore .6s ease-in-out both;
            -o-animation:bounceReadMore .6s ease-in-out both;
            animation:bounceReadMore .6s ease-in-out both;
            bottom: -24px;
            opacity: 1;
            visibility: visible;
        }
        .item-featured {
            a.ct-video-button, a:before, a:after {
                opacity: 1;
            }
        }
    }
}
@media #{$max-md} {
    body .ct-blog-carousel .grid-item-inner .item-readmore, 
    body .ct-grid-blog-layout1 .grid-item-inner .item-readmore {
        bottom: -24px;
        opacity: 1;
        visibility: visible;
        margin: 0 !important;
    }
}
.ct-grid-blog-layout1 {
    .grid-item-inner {
        @include box-shadow(0 2px 15px rgba(#222222, 0.17));
        @include border-radius(7px);
        margin-bottom: 44px;
    }
}

.ct-showcase {
    .ct-showcase-image {
        position: relative;
        @include border-radius(14px);
        @include box-shadow(0 0px 20px rgba(0,0,0,0.1));
        img {
            width: 100%;
        }
        a {
            display: block;
            @include border-radius(14px);
            position: relative;
            overflow: hidden;
            &:before, &:after {
                content: "";
                background: #fff;
                height: 0;
                width: 0;
                z-index: 1;
                position: absolute;
                -webkit-transition-duration: 1.1s;
                -o-transition-duration: 1.1s;
                transition-duration: 1.1s;
            }
            &:before {
                right: 0;
                opacity: 1;
                top: 0;
            }
            &:after {
                bottom: 0;
                opacity: .7;
                left: 0;
            }
            &:hover {
                &:before, &:after {
                    height: 100%;
                    opacity: 0;
                    width: 100%;
                }
            }
        }
    }
    .ct-showcase-title {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin: 37px 0 0;
        a {
            color: inherit;
        }
        span {
            font-size: 10px;
            @include background-horizontal($primary_color, $secondary_color);
            border-radius: 22px;
            color: #fff;
            padding: 0 8px;
            line-height: 22px;
            display: inline-block;
            font-weight: 500;
            margin-left: 2px;
            vertical-align: middle;
        }
    }
}

.ct-textbox-carousel {
    max-width: 580px;
    background-color: rgba(#000, 0.7);
    padding: 40px;
    @media #{$max-sm} {
        padding: 30px;
        max-width: 480px;
    }
    .ct-textbox-title {
        font-size: 60px;
        line-height: 1.2;
        font-weight: 300;
        color: #fff;
        margin-bottom: 19px;
        cite {
            font-weight: 500;
            font-style: normal;
        }
        @media #{$max-sm} {
            font-size: 42px;
        }
        @media #{$max-xs} {
            font-size: 30px;
            br {
                display: none;
            }
        }
    }
    .ct-textbox-description {
        font-size: 19px;
        color: #fff;
        @media #{$max-xs} {
            font-size: 16px;
        }
    }
    .ct-textbox-button {
        padding-top: 40px;
    }
    .owl-dots {
        justify-content: left;
        margin-top: 35px;
        padding: 0;
        .owl-dot {
            height: 15px;
            width: 15px;
            background-color: #fff;
            background-image: none;
            @include border-radius(15px);
            margin: 0 5px;
            &.active {
                background-color: $primary_color;
            }
        }
    }
}

// Angle
//--------------------------------------------------
.ct-angled-wrapper {
    left: 0;
    position: absolute !important;
    right: 0;
    width: 100%;
    z-index: 99 !important;
    svg {
        position: absolute;
        left: 0;
        right: 0;
        &.angle-style1 {
            @include transform(scaleX(-1));
        }
    }
    &.angled-top {
        top: 0;
        svg {
            @include transform(rotate(180deg) scaleX(-1));
            top: 0;
        }
    }
    &.angled-bottom {
        bottom: 0;
        svg {
            bottom: -1px;
        }
    }
    @media #{$max-sm} {
        &.angled-top {
            top: -1px;
        }
        &.angled-bottom {
            bottom: -1px;
        }
    }
}

.ct-image-section {
    position: absolute !important;
    z-index: -1;
    &.slide-based {
        z-index: inherit;
    }
    @media #{$mm-md} {
        &.hidde-md {
            display: none;
        }
    }
    @media #{$max-sm} {
        &.hidde-sm {
            display: none;
        }
    }
}

.ct-single-image {
    overflow: hidden;
    @include transition(all 300ms linear 0ms);
    .block-revealer-content {
        position: relative;
        a {
            display: block;
        }
        img, .bg-image {
            width: 100%;
            @include border-radius(2px);
        }
    }
    &.image-border img {
        border: 1px solid #e9f0fb;
    }
    .bg-image {
        width: 100%;
        height: 300px;
    }
    &.img-style2 {
        img {
            border: 11px solid #fff;
            @include border-radius(115px 0px 50px 0px);
        }
    }
    @media #{$min-xl} {
        &.image-contact {
            margin-left: -50px;
        }
    }
}

.image-block-revealers {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 100%;
    .block-revealer-element {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0;
    }
}

.ct-carousel-portfolio1 {
    .portfolio-title {
        font-size: 30px;
        color: #162171;
        font-weight: 700;
        margin-bottom: 6px;
        @media #{$max-xl} {
            font-size: 24px;
        }
        a {
            color: inherit;
            &:hover {
                color: $primary_color;
            }
        }
    }
    .portfolio-subtitle {
        @include font-family-heading($heading_default_font);
        color: #3a505f;
    }
    .portfolio-more {
        a {
            display: inline-block;
            @include font-family-heading($heading_default_font);
            font-size: 30px;
            font-weight: 600;
            color: #fff;
            @include background-horizontal($gradient_color_from, $gradient_color_to);
            @include box-shadow(0 7px 18px rgba($gradient_color_to, 0.39));
            height: 60px;
            width: 60px;
            line-height: 60px;
            text-align: center;
            @include border-radius(60px);
        }
    }
    .portfolio-meta {
        margin-right: 20px;
        flex-grow: 1;
        padding: 17px 0;
    }
    .portfolio-holder {
        padding: 16px 38px;
        background-color: #fff;
        position: absolute;
        bottom: 32px;
        left: 32px;
        right: 32px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        opacity: 0;
        @include transform(translateY(-60px));
        @include transition(all 300ms linear 0ms);
        @media #{$max-xl} {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media #{$max-sn} {
            padding: 30px 20px;
        }
    }
    .ct-portfolio-item-inner {
        position: relative;
        overflow: hidden;
        &:hover {
            .portfolio-holder {
                opacity: 1;
                @include transform(translateY(0px));
            }
        }
    }
}

.ct-contact-info {
    background-color: #fff;
    position: absolute;
    right: 85px;
    bottom: 100px;
    padding: 41px 45px 20px 45px;
    width: 425px;
    @include box-shadow(0 6px 18px rgba(#162171, 0.39));
    font-size: 16px;
    line-height: 29px;
    color: #3a505f;
    @include font-family-heading($heading_default_font);
    @media #{$max-md} {
        right: 20px;
        bottom: 40px;
        font-size: 15px;
        line-height: 28px;
        padding: 31px 30px 20px 30px;
        width: 290px;
    }
    @media #{$max-sm} {
        right: auto;
        left: 20px;
    }
    h3 {
        font-size: 28px;
        margin-bottom: 19px;
        color: #162171;
        font-weight: 700;
        @media #{$max-md} {
            font-size: 24px;
        }
    }
    ul {
        list-style: none;
        margin: 0 0 20px;
        li {
            padding: 0;
            display: block;
            label {
                font-weight: 600;
                color: #162171;
            }
            a {
                color: inherit;
                &:hover {
                    color: $primary_color;
                }
            }
        }
    }
}

.ct-text-block1 {
    &.copyright {
        a {
            color: inherit;
            &:hover {
                color: $primary_color;
            }
        }
    }
}

.ct-logo-footer {
    img {
        max-height: 39px;
    }
}

.ct-icon1 {
    a {
        position: relative;
        font-size: 17px;
        color: #fff;
        height: 33px;
        width: 33px;
        line-height: 33px;
        display: inline-block;
        z-index: 1;
        margin: 10px 3px;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include border-radius(33px);
            @include transition(all 300ms linear 0ms);
            z-index: -1;
        }
        &:before {
            background-color: #3e3e42;
        }
        &:after {
            @include background-horizontal($gradient_color_from, $gradient_color_to);
            opacity: 0;
        }
        &:hover {
            color: #fff;
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        }
    }
}
// IE
//--------------------------------------------------
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .text-gradient, 
  body .text-gradient2, 
  body .ct-heading h3.ct-heading-tag cite, 
  body .ct-heading .ct-typingout-typed, 
  body .ct-fancybox-default .ct-fancybox-icon i, 
  body .ct-counter-default .ct-counter-icon i,
  body .ct-heading .ct-text-below {
    text-fill-color: $primary_color;
    -o-text-fill-color: $primary_color;
    -ms-text-fill-color: $primary_color;
    -moz-text-fill-color: $primary_color;
    -webkit-text-fill-color: $primary_color;
    background-clip: inherit;
    -o-background-clip: inherit;
    -ms-background-clip: inherit;
    -webkit-background-clip: inherit;
    background-image: none;
  }
}