$primary_color: #3396EC;$secondary_color: #19CAD0;$third_color: #79CD1C;$gradient_color_from: #0841c6;$gradient_color_to: #05c6fb;$link_color: #3396EC;$link_color_hover: #19CAD0;$link_color_active: #19CAD0;
                $body_default_font: Roboto;
            
                $heading_default_font: Poppins;
            