.widget {
    margin-bottom: 45px;
    &:last-child {
        margin-bottom: 0;
    }
    select {
        max-width: 100%;
    }
}

.logged-in .hide-logged {
    display: none;
}
ul.menu {
    list-style: none;
    margin: 0;
}
// Common widget styling
//--------------------------------------------------
.widget_nav_menu.column3 {
    ul.menu {
        margin: 0 -15px;
        overflow: hidden;
        li {
            width: 33.33%;
            padding: 0 15px;
            float: left;
        }
    }
}
@media #{$max-sm} {
    .widget_nav_menu.column3 ul.menu li {
        width: 50%;
    }
}
@media #{$max-xs} {
    .widget_nav_menu.column3 ul.menu li {
        width: 100%;
    }
}
.widget_nav_menu.column2 {
    ul.menu {
        margin: 0 -15px;
        overflow: hidden;
        li {
            width: 50%;
            padding: 0 15px;
            float: left;
        }
    }
}
@media #{$max-xs} {
    .widget_nav_menu.column2 ul.menu li {
        width: 100%;
    }
}
.widget_categories,
.widget_nav_menu,
.widget_pages,
.widget_archive,
.widget_meta,
.widget_recent_entries {
    ul {
        list-style: none;
        margin-bottom: 0;
    }
}
#content {
    .widget_categories,
    .widget_pages,
    .widget_nav_menu,
    .widget_meta,
    .widget_recent_entries {
        ul ul ul ul ul {
            padding-left: 0;
        }
    }

    // Categories widget
    //--------------------------------------------------

    .widget_categories,
    .widget_nav_menu,
    .widget_pages,
    .widget_archive,
    .widget_meta,
    .widget_recent_entries {
        ul li {
            font-size: 0px;
            a {
                color: #333333;
                display: block;
                font-size: 15px;
                padding: 12px 0;
                position: relative;
                border-bottom: 1px solid #ececf0;
                @include font-family-heading($heading_default_font);
                font-weight: 500;
                position: relative;
                &:before {
                    content: '';
                    height: 7px;
                    width: 7px;
                    @include border-radius(7px);
                    background-color: $primary_color;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    @include transform(translate(0, -50%));
                    opacity: 0;
                    @include transition(all 300ms linear 0ms);
                }
            }
            &:last-child > a {
                border-bottom: none;
            }
            &.current-menu-item > a, &.current-cat > a, &.current-cat-parent > a, > a:hover {
                color: $primary_color;
                padding-left: 30px;
                &:before {
                    left: 15px;
                    opacity: 1;
                }
            }
            &.menu-item-has-children > a {
                border-bottom: 1px solid rgba(102, 102, 102, 0.11);
            }
            .children, .sub-menu {
                padding-left: 12px;
                li {
                    a {
                        border-bottom: 1px solid rgba(102, 102, 102, 0.11);
                    }
                    &:last-child > a {
                        border-bottom: 1px solid rgba(102, 102, 102, 0.11);
                    }
                }
            }
        }
        .nice-select ul li {
            border: none;
            font-size: 14px;
            line-height: normal;
            padding: 8px 24px;
            font-weight: 500;
        }
    }
    .widget_recent_entries ul li a {
        padding: 13px 0;
    }
    .vc_wp_custommenu {
        .widget_nav_menu {
            ul li {
                margin-bottom: 3px;
                a {
                    padding: 15px 20px;
                    border-left: 3px solid transparent;
                    border-bottom: none;
                    background-color: rgba($primary_color, 0.08);
                    color: darken($primary_color, 0.55);
                    &:before {
                        display: none;
                    }
                }
                &.current-menu-item > a, a:hover {
                    border-color: $primary_color;
                }
            }
        }
        margin-bottom: 0;
    }
}

// Recent comments widget
//--------------------------------------------------
.widget_recent_comments {
    li {
        font-size: 16px;
        line-height: 24px;
        color: #6a6a6a;
        + li {
            padding-top: 26px;
            margin-top: 8px;
            border-top: 1px solid rgba(#000, 0.085);
        }
        span {
            color: #4c4c4c;
        }
        a {
            color: #000001;
            &:hover {
                color: $primary_color;
            }
        }
    }
}

// RSS widget
//--------------------------------------------------

.widget_rss {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .rsswidget {
        display: inline-block;
        color: #111;
        .rss-widget-icon {
            margin-top: -2px;
        }
    }

    .rss-date {
        font-size: 0.875em;
        font-style: italic;
        display: block;
    }

    cite {
        font-size: 0.875em;
    }
}

// Calendar widget
//--------------------------------------------------

.widget_calendar {
    th, td {
        text-align: center;
    }
}

// Contact Info Widget
//--------------------------------------------------
.contact-info {
    max-width: 250px;
    ul {
        list-style: none;
        margin: 0;
        li {
            padding-left: 27px;
            position: relative;
            + li {
                margin-top: 14px;
            }
            i {
                position: absolute;
                top: 6px;
                left: 0;
                font-size: 14px;
                color: $primary_color;
            }
        }
    }
}
.widget_text {
    p {
        margin-bottom: 0;
    }
    .wpb_image_grid {
        margin: 0 -5px;
        .isotope-item {
            width: 32.6%;
            margin-bottom: 10px;
            a {
                display: block;
                margin-bottom: 10px;
                padding: 0 5px;
                img {
                    @include border-radius(9px);
                }
            }
        }
    }
}
// Check Availability Widget
//--------------------------------------------------
.widget_cms_check_availability {
    background-color: #fff;
    border: 1px solid #e5e5e5 !important;
    @include border-radius(6px);
    margin-bottom: 55px !important;
    padding: 30px !important;
    .select2-selection__arrow {
        display: none !important;
    }
}

// Newsletter Widget
//--------------------------------------------------
.widget_newsletterwidget {
    line-height: 1.714;
    form {
        margin-top: 20px;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        .tnp-field-email {
            flex-grow: 1;
            margin-bottom: 0;
            .tnp-email {
                @include border-radius(25px);
                border: 2px solid rgba(0,0,0,0.1);
                height: 50px;
                padding: 10px 20px;
                background-color: transparent;
                font-size: 15px;
                color: #6c757d;
                &:focus {
                    border-color: $primary_color;
                }
            }
        }
        .tnp-field-button {
            margin-bottom: 0;
            .tnp-submit {
                background-color: $primary_color;
                border: none;
                line-height: 50px;
                padding: 0 20px;
                font-size: 15px;
                width: inherit;
                @include border-radius(30px);
                &:hover {
                    background-color: $secondary_color;
                }
            }
        }
        .tnp-field {
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// Recent Posts
//--------------------------------------------------
.widget_ct_recent_posts {
    .widget-title {
        margin-bottom: 30px;
    }
    .entry-brief {
        display: flex;
        flex-wrap: nowrap;
        + .entry-brief {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid #e2e2e7;
        }
    }
    .entry-media {
        width: 65px;
        margin-right: 25px;
        min-width: 65px;
        img {
            @include border-radius(65px);
        }
    }
    .entry-title {
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 10px;
        a {
            color: inherit;
            &:hover {
                color: $primary_color;
            }
        }
    }
    .entry-meta {
        line-height: 1;
        margin: 0;
        border: none;
        padding: 0;
        &:before {
            display: none;
        }
        li {
            margin: 0;
        }
    }
}

.tagcloud {
    display: flex;
    flex-wrap: wrap;
    a {
        background-color: #f4f7fc;
        padding: 0 22px;
        color: #333335;
        display: inline-block;
        font-size: 15px !important;
        line-height: 32px;
        margin-right: 5px;
        margin-bottom: 10px;
        @include border-radius(32px);
        &:hover {
            background-color: $primary_color;
            color: #fff;
        }
    }
}

.entry-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a {
        border: 1px solid $primary_color;
        padding: 0 22px;
        color: #524b48;
        display: inline-block;
        font-size: 15px !important;
        line-height: 38px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        @include border-radius(40px);
        position: relative;
        z-index: 1;
        &:hover {
            color: #fff;
            background-color: $primary_color;
            border-color: $primary_color;
        }
    }
}

.widget_search .search-form {
    position: relative;
    .search-field {
        background-color: #fff;
        height: 51px;
        padding-left: 20px;
        padding-right: 51px;
        @include border-radius(51px);
        &:focus {
            border-color: $primary_color;
            + .search-submit {
                border-color: $primary_color;
            }
        }
    }
    .search-submit {
        padding: 0;
        border: none;
        line-height: 50px;
        width: 51px;
        border-left: 1px solid #ececf0;
        position: absolute;
        top: 0;
        right: 0;
        color: #333333;
        font-size: 15px;
        background-image: none;
        background-color: transparent;
        @include box-shadow(none);
        @include border-radius(0px);
        &:before, &:after {
            display: none;
        }
        &:hover {
            color: $primary_color;
        }
    }
}
.ct-social {
    margin: 0;
    list-style: none;
    li {
        display: inline-block;
        margin-right: 8px;
        a {
            font-size: 16px;
            color: #fff !important;
            background-color: $primary_color;
            height: 40px;
            width: 40px;
            line-height: 40px;
            @include border-radius(40px);
            text-align: center;
            display: block;
            span {
                display: none;
            }
            &.social-facebook {
                background-color: #3b5999;
            }
            &.social-rss {
                background-color: #f57d00;
            }
            &.social-youtube {
                background-color: #cd201f;
            }
            &.social-twitter {
                background-color: #55acee;
            }
            &.social-google {
                background-color: #dd4b39;
            }
            &.social-skype {
                background-color: #00AFF0;
            }
            &.social-dribbble {
                background-color: #ea4c89;
            }
            &.social-flickr {
                background-color: #ff0084;
            }
            &.social-linkedin {
                background-color: #0077B5;
            }
            &.social-vimeo {
                background-color: #1ab7ea;
            }
            &.social-pinterest {
                background-color: #bd081c;
            }
            &.social-instagram {
                background-color: #e4405f;
            }
        }
    }
}
.ct-newsletter.widget {
    .ct-newsletter-inner {
        background-color: #F5F6F7;
        padding: 20px;
        position: relative;
        overflow: hidden;
        &:before {
            font-family: 'themify';
            content: "\e75a";
            font-size: 50px;
            font-weight: 700;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0.05;
        }
        .newsletter {
            position: relative;
            &:after {
                color: #000000;
                content: "Newslatter";
                font-family: "Montserrat";
                font-size: 50px;
                font-weight: 700;
                opacity: 0.05;
                position: absolute;
                top: -40px;
            }
        }
        .ct-newsletter-introduction {
            font-size: 15px;
            font-style: italic;
            margin-bottom: 24px;
        }
        .tnp-field {
            position: relative;
            z-index: 1;
        }
        .tnp-field-email {
            margin-bottom: 15px;
            .tnp-email {
                border: 1px solid #d0d0d0;
                @include border-radius(0px);
                height: 45px;
                padding: 5px 20px;
                &:focus {
                    border-color: $primary_color;
                }
            }
        }
        .tnp-field-button .tnp-button {
            line-height: 45px;
            @include border-radius(0px);
            width: 100%;
        }
    }
}
.wpb_wrapper .contact-info {
    font-size: 21px;
    color: #797979;
    line-height: 1.363;
    font-weight: 500;
    span {
        color: #333333;
    }
    max-width: 300px;
    &.color-white {
        color: #fff;
        span {
            color: rgba(#fff, 0.85);
        }
    }
}