// Reset Layout
//--------------------------------------------------
.entry-content > .woocommerce {
	.cart-empty, .return-to-shop {
		text-align: center;
	}
}
.woocommerce {
	#secondary {
		.widget {
			background-color: transparent;
			border: none;
			padding: 0;
			margin-bottom: 0;
		}
		.widget-title {
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 600;
			padding: 17px 30px 17px 0;
			border-bottom: 2px solid #dddddd;
			position: relative;
			cursor: pointer;
			margin-bottom: 0;
			@include transition(all 0.3s ease 0s);
			&:after {
				content: '\f273';
				font-family: "Material-Design-Iconic-Font";
				top: 50%;
            	@include transform(translate(0%, -50%));
            	right: 0;
            	position: absolute;
            	color: #000;
            	font-weight: normal;
			}
			&:hover {
				color: $primary_color;
			}
			&.opened:after {
				content: '\f278';
			}
		}
		.widget-content-inner {
			padding-top: 15px;
			margin-bottom: 34px;
		}
		.widget_products {
			ul li {
				position: relative;
				padding: 0 0 0 95px;
				margin-bottom: 15px;
				min-height: 80px;
				img {
					margin: 0;
					width: 100%;
					max-width: 80px;
					position: absolute;
					top: 0;
					left: 0;
				}
				a {
					font-size: 15px;
					text-transform: uppercase;
					color: $color_dark;
					margin-bottom: 10px;
					&:hover {
						color: $primary_color;
					}
				}
				ins {
					background-color: transparent;
					color: $primary_color;
					font-weight: 600;
				}
				.star-rating {
					margin-bottom: 4px;
				}
			}
		}
	}
}
body.woocommerce, body.woocommerce-page {
	@media screen and (max-width: 769px) {
		.coupon {
			#coupon_code {
				width: 100% !important;
				margin-bottom: 10px;
			}
			.button {
				width: 100% !important;
			}
		}
	}
	form .form-row {
		padding: 0 0 10px;
	}
	table.cart td.actions .coupon .input-text {
		margin-right: 15px;
	}
	table.cart td.actions .coupon .input-text,
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="number"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea, select, .nice-select {
		border: 2px solid #e1e6eb;
		@include border-radius(0);
		padding: 9px 12px;
		height: 42px;
		&:focus {
			border-color: $primary_color;
		}
	}
	.nice-select {
		text-align: left;
		span.current {
			line-height: 24px;
		}
		&:after {
			color: #666;
		}
	}
	#respond input#submit, a.button:not(.add_to_cart_button), button.button, input.button, .cart button.button {
		background-color: $primary_color;
		border: none;
		color: #fff;
		font-size: 16px;
		padding: 0 20px;
		line-height: 42px;
		@include transition(all 300ms linear 0ms);
		@include border-radius(3px);
		position: relative;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		z-index: 1;
		font-weight: 600;
		outline: none;
		white-space: nowrap;
		&:hover, &:focus, &:active {
			@include box-shadow(none);
			outline: none;
			text-decoration: none;
			color: #fff;
			background-color: $secondary_color;
		}
	}
	a.button:not(.add_to_cart_button), button.button, .cart button.button {
		overflow: hidden;
		&:before, &:after {
		    background-color: #000;
		    content: "";
		    height: 100%;
		    left: -110%;
		    opacity: 0.1;
		    position: absolute;
		    top: 0;
		    @include transition(all 0.5s ease 0s);
		    @include transform(skewX(25deg));
		    width: 100%;
		    z-index: -1;
	 	}
		&:hover, &:focus, &:active {
			background-color: $primary_color;
			&:before {
			  left: -10%;
			  @include transition(all 0.3s ease 0s);
			}
			&:after {
			  left: -20%;
			}
		}
	}
}
.woocommerce {
	.woocommerce-message, .woocommerce-info {
		border-color: $primary_color;
		&:before {
			color: $primary_color;
		}
	}
	.quantity {
		position: relative;
		display: inline-block;
		.qty {
			padding: 0;
			border: none;
			@include border-radius(0px);
			color: #495057;
			background-color: #f8f8f8;
			-moz-appearance:textfield;
			&:-webkit-outer-spin-button, &:-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			margin: 0 42px;
			height: 42px;
			width: 42px;
		}
	}
	.quantity-icon {
		i {
			width: 42px;
			height: 42px;
			line-height: 42px;
			font-size: 20px;
			cursor: pointer;
			color: #6f6f6f;
			background-color: #ebebeb;
			text-align: center;
			position: absolute;
			bottom: 0;
			@include transition(all 0.3s ease 0s);
			&:hover {
				background-color: #d1d1d1;
			}
			&.quantity-down {
				left: 0;
			}
			&.quantity-up {
				right: 0;
			}
		}
	}
	table.shop_table {
		@include border-radius(0px);
		td {
			padding: 12px 15px;
		}
	}
}
.woocommerce-page {
	#add_payment_method table.cart img, 
	&.woocommerce-cart table.cart img, 
	&.woocommerce-checkout table.cart img {
		width: 50px;
	}
}
.woocommerce, .woocommerce-page {
	form .select2-container--default {
	    width: 100% !important;
	    .select2-selection {
	        border: 2px solid #e1e6eb;
	        height: 42px;
	        background-color: #fff;
	        .select2-selection__rendered {
	            line-height: 38px;
	            padding-left: 15px;
	            color: #6c757d;
	        }
	        .select2-selection__arrow {
	            right: 10px;
	            top: 50%;
	            color: #8f8f8f;
	        }
	        .select2-selection__clear {
	            height: 20px;
	            line-height: 20px;
	            position: absolute;
	            right: 30px;
	            text-align: center;
	            top: 50%;
	            @include transform(translate(0px, -50%));
	            width: 20px;
	            color: #8f8f8f;
	        }
	        .select2-selection__placeholder {
	            color: rgba(#000, 0.66);
	        }
	    }
	}
	.select2-container.select2-container--open {
	    .select2-dropdown {
	        border-color: #e7e8e9;
	        .select2-search__field {
	            border: 1px solid #e7e8e9;
	            padding-left: 15px;
	            padding-right: 15px;
	        }
	    }
	    .select2-results {
	        li.select2-results__option--highlighted {
	            background-color: $primary_color;
	        }
	    }
	}
	.select2 .select2-selection--single {
		@include border-radius(0px);
		background-color: #f7f7f7;
	}
}
@media screen and (min-width: 992px) {
  .woocommerce {
    #primary.content-has-sidebar {
      flex: 0 0 75%;
      -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
      -o-flex: 0 0 75%;
      max-width: 75%;
    }
    #secondary.widget-has-sidebar {
      flex: 0 0 25%;
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      -o-flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
#shop-newsletter {
	text-align: center;
	padding: 40px 30px 30px 30px;
	color: rgba(#fff, 0.87);
	@include border-radius(14px);
	margin-top: 60px;
	h3 {
		font-size: 32px;
		color: #fff;
		margin-bottom: 13px;
	}
	.shop-newsletter-introduction {
		color: #fff;
		text-transform: uppercase;
	}
	.shop-newsletter-introduction, .shop-newsletter-desc {
		max-width: 590px;
		margin: auto;
	}
	.ct-newsletter-inner {
		margin-top: 33px;
		margin-bottom: 18px;
		.tnp-email {
			background-color: #fff;
			color: rgba(#000, 0.33);
		}
		.tnp-field-button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
// Shop Widget
//--------------------------------------------------
.widget_product_categories {
	ul {
		list-style: none;
        margin-bottom: 0;
		li {
			font-size: 0px;
			a {
				color: #767676;
                display: block;
                font-size: 16px;
                padding: 8px 10px 8px 15px;
                position: relative;
                border-bottom: 1px solid rgba(102, 102, 102, 0.11);
                &:before {
                    content: "\f105";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    display: block;
                    font-family: "FontAwesome";
                    @include transform(translate(0, -50%));
                }
			}
			&.current-menu-item > a, &.current-cat > a, &.current-cat-parent > a, > a:hover {
                color: $primary_color;
            }
		}
	}
}
.woocommerce #secondary .widget_price_filter {
	.widget-content-inner {
		padding-top: 30px;
	}
	.ui-slider-horizontal {
		height: 8px;
		background-color: $primary_color;
	}
	.ui-slider .ui-slider-range {
		background-color: $primary_color;
	}
	.ui-slider .ui-slider-handle {
		height: 22px;
		width: 22px;
		background-color: #fff;
		border: 2px solid $primary_color;
		top: -7px;
	}
	.price_slider_amount {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		justify-content: center;
		padding-top: 10px;
		.button {
			line-height: 36px;
			font-size: 15px;
			margin-right: 20px;
		}
	}
}
.widget_rating_filter {
	.wc-layered-nav-rating {
		a {
			font-size: 0px;
			display: block;
			padding-left: 28px !important;
			position: relative;
			&:before {
				content: "";
				height: 18px;
				width: 18px;
				border: 1px solid #e6e6e6;
				@include border-radius(18px);
				position: absolute;
				top: 1px;
				left: 0;
				@include transition(all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s);
			}
			.star-rating {
				font-size: 18px;
			}
			&:hover {
				&:before {
					border-color: $primary_color;
					background-color: $primary_color;
				}
			}
		}
		&.chosen a:before {
			border-color: $primary_color;
			background-color: $primary_color;
		}
	}
}
// Shop Top Bar
//--------------------------------------------------
#shop-topbar {
	border-bottom: 1px solid #e5e5e5;
	background-color: #f7f7f7;
	.shop-topbar-item {
		margin: 11px 0;
		position: relative;
		padding-left: 76px;
		color: #000000;
		font-size: 16px;
		min-height: 56px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		i {
			height: 56px;
			width: 56px;
			@include border-radius(56px);
			border: 1px solid #e5e5e5;
			line-height: 54px;
			text-align: center;
			font-size: 24px;
			position: absolute;
			top: 0;
			left: 0;
		}
		span {
			font-weight: 500;
		}
	}
}

// Shop Breadcrumb
//--------------------------------------------------
#shop-breadcrumb {
	padding: 23px 0;
	ul {
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			font-size: 16px;
			font-weight: 500;
			color: $primary_color;
			margin: 10px 0;
			padding: 0 12px;
			position: relative;
			&::after {
				content: '/';
				color: #e9e9e9;
				position: absolute;
				top: 0;
				right: -4px;
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child:after {
				display: none;
			}
			a {
				color: $color_dark;
				&:hover {
					color: $primary_color;
				}
			}
		}
	}
}
// Form Style
//--------------------------------------------------

// Product Default
//--------------------------------------------------
.woocommerce {
	span.onsale {
		height: 45px;
		width: 45px;
		min-width: inherit;
		min-height: inherit;
		font-size: 16px;
		color: #fff;
		padding: 0;
		text-align: center;
		line-height: 45px;
		background-color: $primary_color;
		@include border-radius(50px);
		margin: 0 !important;
		top: 14px !important;
		left: 14px !important;
		right: auto !important;
		font-weight: normal;
	}
	.star-rating {
		margin: 0;
		letter-spacing: 0.2em;
		width: 90px;
		height: 18px;
		span::before, &:before {
			content: "\f27d\f27d\f27d\f27d\f27d";
			font-family: 'Material-Design-Iconic-Font';
			font-size: 18px;
		}
		span::before {
			color: #ffab00;
		}
		&:before {
			color: #d4d4d4;
		}
	}
	ul.products {
		@media screen and (min-width: 992px) {
			&.columns-4 {
				li.product {
					width: calc(25% - 23px);
					margin-bottom: 50px;
					margin-right: 30px;
				}
				li.last {
					margin-right: 0;
				}
			}
		}
		@media screen and (min-width: 768px) {
			&.columns-3 {
				li.product {
					width: calc(33.33% - 20px);
					margin-bottom: 50px;
					margin-right: 30px;
				}
				li.last {
					margin-right: 0;
				}
			}
		}
		@media screen and (max-width: 480px) {
			li.product {
				width: 100% !important;
				margin: 0 0 30px;
			}
		}
	}
	#primary.content-has-sidebar {
		ul.products {
			@media screen and (min-width: 992px) {
				&.columns-4 {
					li.product {
						width: calc(33.33% - 20px);
						margin-right: 30px !important;
						clear: none;
						&:nth-child(3n+3) {
							margin-right: 0 !important;
						}
						&:nth-child(3n+1) {
							clear: left;
						}
					}
				}
			}
		}
	}
	ul.products li.product .woocommerce-product-title, .woocommerce-product-title {
		font-size: 18px;
		padding: 0 0 8px;
		line-height: normal;
		a {
			color: $color_dark;
			&:hover {
				color: $primary_color;
			}
		}
	}
	ul.products li.product .price {
		font-size: 18px;
		font-weight: 600;
		color: $primary_color;
		margin-bottom: 0;
		del {
			color: rgba(#000, 0.4);
		}
		ins {
			color: $primary_color;
		}
	}
	.woocommerce-topbar {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		background-color: #f8f8f8;
		padding: 20px 30px;
		margin-bottom: 40px;
		position: relative;
		z-index: 99;
		div.woocommerce-result-count {
			margin: 15px 30px 15px 0px;
			flex-grow: 1;
		}
		.woocommerce-result-count, .woocommerce-topbar-ordering .woocommerce-ordering {
			float: none;
			margin: 0;
		}
		.woocommerce-ordering {
			min-width: 220px;
			.nice-select {
				background-color: #fff;
			}
		}
	}
	.woocommerce-product-inner {
		text-align: center;
		.woocommerce-product-header {
			position: relative;
			overflow: hidden;
			img {
				width: auto;
				display: inline-block;
				margin-bottom: 0 !important;
			}
			.woocommerce-product-meta {
				opacity: 0;
				@include transform(translateY(100%));
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				padding: 20px 15px;
				text-align: center;
				bottom: 0;
				left: 0;
				right: 0;
				@include transition(all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s);
				@include background-gradient-rotate(45deg, rgba($primary_color, 0.8) 5%, rgba($secondary_color, 0.8) 100%);
				> div {
					padding: 0 10px;
					&.woocommerce-wishlist {
						padding: 0;
					}
				}
				a {
					color: #fff;
					&.loading {
						opacity: 1;
						padding: 0;
						&:before {
							opacity: 0;
						}
						&:after {
							top: 0;
							right: 0;
							left: 0;
							font-size: 18px;
							opacity: 0.9;
						}
					}
					&.added {
						display: none !important;
					}
					&.added_to_cart.wc-forward:before {
						content: '\e60e';
					}
				}
				i {
					font-size: 18px;
					margin: 0;
				}
				.button.yith-wcqv-button {
					position: relative;
				}
				.woocommerce-quick-view {
					.blockUI {
						background-image: none !important;
						background-color: transparent !important;
						&:before {
							font-family: "WooCommerce";
							content: '\e01c';
							font-weight: 400;
							position: absolute;
							top: 8px;
							left: 9px;
							color: rgba(#fff, 1);
							font-size: 18px;
							-webkit-animation: spin 2s linear infinite;
							animation: spin 2s linear infinite;
						}
					}
				}
				.woocommerce-add-to-cart {
					a {
						font-size: 0px;
						&:before {
							content: "\e60d";
							font-family: 'themify';
							font-size: 18px;
							font-weight: normal;
							position: static;
							opacity: 1;
							background-color: transparent;
						}
						&:after {
							display: none;
						}
						&.product_type_grouped:before {
							content: "\e63d";
						}
					}
					a, a:hover {
						background-color: transparent;
						padding: 0;
						border: none;
						line-height: 1;
					}
				}
				.yith-wcwl-add-to-wishlist {
					margin: 0;
					.ajax-loading {
						position: absolute;
						top: 50%;
						@include transform(translate(0, -50%));
						right: -23px;
					}
					.yith-wcwl-add-button {
						position: relative;
					}
					i {
						margin: 0 10px;
					}
				}
			}
		}
		&:hover .woocommerce-product-header {
			.woocommerce-product-meta {
				opacity: 1;
				@include transform(translateY(0%));
			}
		}
		.woocommerce-product-holder {
			padding: 20px 0 0;
			.star-rating {
				float: none;
				margin: 0 auto 8px auto;
			}
			.count-rating {
				font-size: 14px;
				color: rgba(0,0,0,0.5);
				margin-left: 8px;
			}
			.woocommerce-product-title {
				padding-bottom: 15px !important;
				a {
					color: inherit;
					&:hover {
						color: $primary_color;
					}
				}
			}
			.woocommerce-product-subtitle {
				color: rgba(#333333, 0.66);
				font-size: 14px;
				margin-bottom: 12px;
			}
			.woocommerce-product-attr {
				margin-bottom: 12px;
				img {
					width: auto !important;
					margin: 0 !important;
				}
			}
		}
		+ .button.yith-wcqv-button {
			display: none !important;
		}
	}
	.woocommerce-pagination {
		margin-top: 20px;
		ul.page-numbers {
			border: none;
	    	li {
	    		border: none;
	    	}
		    .page-numbers {
		    	padding: 0;
				text-align: center;
			    height: 36px;
			    width: 36px;
			    line-height: 34px;
			    border: 1px solid #efefef;
			    color: #767676;
			    background-color: #fff;
			    font-size: 14px;
			    font-family: "Montserrat";
			    display: inline-block;
				&.current, &:hover {
					border-color: $primary_color;
				      background-color: $primary_color;
				      color: #fff;
				}
				&.next, &.prev {
					font-size: 0;
				}
				&.next:before {
					font-size: 14px;
					content: '\e628';
					font-family: 'themify';
				}
				&.prev:before {
					font-size: 14px;
					content: '\e629';
					font-family: 'themify';
				}
		    }
		}
	}
}

// Single Product
//--------------------------------------------------
.single-product {
	.site-content {
		padding-bottom: 70px;
	}
	#shop-breadcrumb {
		padding-bottom: 46px;
	}
	#shop-newsletter {
		margin-top: 30px;
	}
	section.related {
		h2 {
			font-size: 24px;
			text-transform: capitalize;
			margin-bottom: 20px;
		}
	}
	#primary div.product {
		.woocommerce-product-details__short-description {
			p {
				margin-bottom: 24px;
			}
		}
		.woocommerce-sg-product-holder {
			border-top: 1px solid #F7F9FB;
			border-bottom: 1px solid #F7F9FB;
			padding: 18px 0;
			margin-bottom: 30px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.woocommerce-product-rating {
				margin-bottom: 0;
				.star-rating {
					margin: 0;
				}
			}
			.woocommerce-holder-price {
				flex-grow: 1;
				.price {
					font-size: 35px;
					line-height: 1;
					font-weight: 700;
					margin-bottom: 0;
					@include font-family-heading($heading_default_font);
					color: $color_dark;
					del {
						font-weight: inherit;
						color: $color_dark;
					}
					ins {
						color: $color_dark;
					}
				}
			}
		}
		form.cart {
			margin-bottom: 24px;
			button.button {
				@include border-radius(0px);
			}
		}
		span.onsale {
			left: 29px !important;
		}
		.woocommerce-product-gallery {
			width: 100% !important;
			margin-bottom: 30px;
			.flex-control-nav {
				margin-top: 20px;
				margin-left: -3px;
				margin-right: -3px;
				li {
					padding: 0 3px;
				}
				img {
					opacity: 1;
					&.flex-active {
						outline: 5px solid rgba(0, 0, 0, 0.2);
						outline-offset: -9px;
					}
				}
			}
			.woocommerce-product-gallery__image a {
				position: relative;
				display: block;
				&:before {
					content: '';
					@include background-gradient-rotate(45deg, $primary_color 5%, $secondary_color 100%);
            		position: absolute;
            		top: 0;
            		right: 0;
            		width: 100%;
            		height: 100%;
            		display: block;
            		opacity: 0;
            		@include transition(all 0.3s linear);
				}
				&:after {
					content: "\e659";
					font-family: 'themify';
					font-size: 16px;
					height: 36px;
					width: 36px;
					line-height: 36px;
					background-color: #fff;
					text-align: center;
					color: $primary_color;
					position: absolute;
					top: 50%;
            		@include transform(translate(0%, -50%));
					left: 0;
					right: 0;
					margin: auto;
					@include transition(all 0.3s linear);
					opacity: 0;
				}
				&:hover {
					&:before {
						opacity: 0.8;
					}
					&:after {
						opacity: 1;
					}
				}
			}
		}
		.entry-summary {
			width: 100% !important;
			margin-bottom: 30px;
			.yith-wcwl-add-to-wishlist {
				display: none;
			}
			.entry-title {
				font-size: 28px;
				line-height: 35px;
				margin-top: 15px;
				margin-bottom: 5px;
			}
			.woocommerce-review-link {
				display: none;
			}
		}
		.woocommerce-tabs {
			ul.wc-tabs {
				padding: 0;
				margin-bottom: 24px;
				display: flex;
				flex-wrap: wrap;
				&:before, &:after {
					display: none !important;
				}
				li {
					margin: 0;
					padding: 0;
					border: none;
					background-color: transparent;
					&:before, &:after {
						display: none !important;
					}
					a {
						padding: 13px 20px;
						position: relative;
						background-color: #f8f8f8;
						border: none;
						font-size: 15px;
						font-weight: normal;
						text-transform: capitalize;
						color: #3d474a;
						&:after {
							display: none !important;
						}
					}
					&.active > a {
						background-color: $primary_color;
						color: #fff;
					}
					&.description_tab a {
						&:before {
							content: "\f0ac";
							font-family: FontAwesome;
							margin-right: 9px;
						}
					}
					&.reviews_tab a {
						&:before {
							content: "\f013";
							font-family: FontAwesome;
							margin-right: 9px;
						}
					}
				}
			}
			.woocommerce-Tabs-panel {
				ul.sg-product-list {
					margin: 0;
					list-style: none;
					li {
						padding: 5px 5px 5px 30px;
						position: relative;
						font-weight: 500;
						font-size: 15px;
						font-family: "Montserrat",sans-serif;
						&:before {
							content: "\e64c";
							font-family: "themify";
							position: absolute;
							left: 0;
							top: 5px;
							display: block;
							font-size: 15px;
							color: $primary_color;
						}
					}
				}
				> h2 {
					display: none;
				}
				&.panel {
					margin-bottom: 42px;
				}
			}
			.tab-product-feature-list {
				font-size: 18px;
				line-height: 34px;
				.col-xl-4 {
					font-weight: 600;
				}
				.line-gap {
					margin: 0;
					width: 100%;
				}
			}
			.woocommerce-Tabs-panel--reviews {
				.comment-form-rating {
					margin-bottom: 15px;
				}
				.woocommerce-Reviews-title, .comment-reply-title, .comment-form-rating .stars, .comment-form-rating label, .comment-form-comment label {
					display: none;
				}
				#review_form {
					padding: 30px;
					border: 1px solid #e9e9e9;
				}
				#reviews ol.commentlist {
					padding: 0;
					li.comment {
						position: relative;
						margin-bottom: 20px;
						background: #F7F8FA;
						padding: 20px;
						border: 1px solid #eee;
						.comment_container {
							position: relative;
						}
						img.avatar {
							padding: 0;
							width: 80px;
							@include border-radius(0);
							border: 5px solid #fff;
						}
						.comment-text {
							border: none;
							margin: 0;
							padding: 0 0 0 100px;
						}
						.meta {
							display: flex;
							align-items: center;
							margin: 0 0 8px;
							font-size: 16px;
							.woocommerce-review__author {
								font-weight: normal;
							}
							.woocommerce-review__dash {
								display: none;
							}
							.woocommerce-review__published-date {
								&:before {
									content: "\f017";
									font-family: FontAwesome;
									margin: 0 4px;
								}
							}
						}
						.description {
							p {
								margin: 0;
							}
						}
					}
				}
			}
		}
		.quantity {
			margin-right: 20px;
		}
		.product_meta {
			.sku_wrapper, .posted_in, .tagged_as {
				display: block;
				font-weight: 600;
				font-size: 15px;
				span, a {
					color: $primary_color;
					margin-left: 7px;
				}
				a:hover {
					color: $secondary_color;
				}
			}
			.posted_in {
				display: none;
			}
		}
	}
}

// Cart Page
//--------------------------------------------------
body.woocommerce-cart, body.woocommerce-wishlist {
	.woocommerce-cart-form, #yith-wcwl-form {
		.actions .button {
			padding: 0 20px !important;
			color: #fff !important;
		}
		table.cart td.actions .input-text {
			width: 180px !important;
		}
		.shop_table {
			border: none;
			thead th {
				font-size: 15px;
				font-weight: 700;
				color: #333;
				padding: 10px;
				border-top: 1px solid #dee2e6;
				border-bottom: 2px solid #dee2e6;
			}
			tbody td {
				text-align: left;
			}
		}
		tbody {
			.product-name {
				a {
					color: #6f6f6f;
					font-size: 16px;
					font-weight: 600;
					font-family: "Montserrat";
					&:hover {
						color: $primary_color;
					}
				}
				.yith-wcqv-button {
					display: none;
				}
			}
			.product-price, .product-subtotal {
				color: #6f6f6f;
				font-size: 16px;
				font-weight: 600;
				font-family: "Montserrat";
				ins {
					color: $primary_color;
					background-color: transparent;
				}
			}
			.product-thumbnail {
				text-align: center !important;
				min-width: 120px;
				a {
					display: block;
					img {
						width: 100%;
						max-width: 80px;
					}
				}
			}
		}
		.product-remove {
			position: relative;
			min-width: 50px;
			a.remove {
				font-size: 0px;
				&:before {
					content: "\f136";
					font-family: "Material-Design-Iconic-Font";
					font-size: 18px;
					height: 32px;
					width: 32px;
					line-height: 32px;
					background-color: $primary_color;
					color: #fff;
					@include border-radius(32px);
					font-weight: normal;
					position: absolute;
					top: 50%;
        			@include transform(translate(0, -50%));
        			left: 0;
        			right: 0;
        			margin: auto;
				}
				&:hover:before {
					color: #fff;
					background-color: rgba($primary_color, 0.85);
				}
			}
			@media screen and (max-width: 769px) {
				min-height: 57px;
			}
		}
		table.shop_table {
			margin-bottom: 40px;
			@include border-radius(0px);
			@media screen and (max-width: 769px) {
				td {
					background-color: #fff !important;
				}
			}
		}
	}
	.cart-collaterals {
		.cart_totals {
			> h2 {
				font-size: 24px;
				text-transform: capitalize;
				margin-bottom: 12px;
			}
			th {
				color: #6f6f6f;
				vertical-align: middle !important;
				+ td {
					border-left: 1px solid #ebebeb;
				}
			}
			.cart-subtotal, .order-total {
				td {
					font-weight: 600;
					color: #6f6f6f;
				}
			}
			.woocommerce-shipping-calculator {
				p {
					margin-bottom: 0;
				}
				.shipping-calculator-button {
					color: $primary_color;
					&:after {
						content: '\f2f9';
						margin-left: 9px;
						font-family: "Material-Design-Iconic-Font";
						position: relative;
						top: 1px;
					}
					&:hover {
						color: $secondary_color;
					}
				}
				.shipping-calculator-form {
					padding-top: 10px;
				}
			}
			.wc-proceed-to-checkout {
				padding-bottom: 0;
				.checkout-button {
					margin-bottom: 0;
				}
			}
		}
		.wc-proceed-to-checkout {
			text-align: right;
		}
	}
}

// Checkout Page
//--------------------------------------------------
.woocommerce-checkout {
	form.checkout_coupon {
		border: 1px solid #eee;
		@include border-radius(0px);
		background-color: #f7f8fa;
		.form-row-first {
			width: 50%;
			padding-right: 30px;
		}
		.form-row-last {
			width: 50%;
		}
	}
	#add_payment_method #payment, #payment {
		@include border-radius(0px);
	}
	#customer_details {
		margin: 0 -15px;
		width: inherit;
		.col-1, .col-2 {
			width: 50%;
			flex: inherit;
			max-width: 100%;
		}
		@media #{$max-sm} {
			margin: 0;
			.col-1, .col-2 {
				width: 100%;
			}
		}
		span.woocommerce-input-wrapper {
			width: 100%;
			display: block;
		}
		.woocommerce-billing-fields {
			margin-bottom: 36px;
			> h3 {
				font-size: 28px;
				text-transform: capitalize;
			}
		}
		.woocommerce-additional-fields {
			margin-bottom: 36px;
			> h3 {
				font-size: 18px;
				font-weight: 600;
			}
		}
		.woocommerce-shipping-fields  {
			#ship-to-different-address {
				font-size: 28px;
				cursor: pointer;
				@include transition(all 0.3s linear);
				&:hover {
					color: $primary_color;
				}
				#ship-to-different-address-checkbox {
					position: absolute;
					opacity: 0;
				}
				.woocommerce-form__label span:after {
					content:"\f01a";
					font-family: FontAwesome;
					margin-left: 14px;
					font-weight: normal;
				}
			}
		}
		#billing_country_field, #shipping_country_field, #billing_address_1_field, #shipping_address_1_field, #order_comments_field {
			label {
				display: none !important;
			}
		}
	}
	form.woocommerce-checkout {
		#order_review_heading {
			font-size: 24px;
			text-transform: capitalize;
		}
		#order_review {
			th {
				color: #6f6f6f;
				vertical-align: middle !important;
				+ td {
					border-left: 1px solid #ebebeb;
				}
			}
			.product-total {
				border-left: 1px solid #ebebeb;
			}
			.cart-subtotal, .order-total {
				td {
					font-weight: 600;
					color: #6f6f6f;
				}
			}
			.woocommerce-checkout-review-order-table {
				margin-bottom: 60px;
			}
			#payment {
				background-color: #f7f8fa;
				border: 1px solid #eee;
				.about_paypal {
					margin-left: 10px;
				}
				.wc_payment_methods {
					padding: 20px;
					border-bottom: 1px solid #eee;
				}
				.place-order {
					padding: 20px;
					margin: 0;
				}
				#place_order {
					background-color: $primary_color;
				}
			}
		}
	}
	#payment {
		label {
			font-size: 16px;
			color: rgba(0,0,0,0.87);
			font-weight: 600;
		}
	}
}

// Account Page
//--------------------------------------------------
.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		margin-bottom: 30px;
		ul {
			margin: 0;
			list-style: none;
			li {
				border-bottom: 1px solid #e5e5e6;
				padding: 13px 0;
				position: relative;
				a {
					font-size: 16px;
					color: $color_dark;
					&:hover {
						color: $primary_color;
					}
				}
				&.is-active > a {
					color: $primary_color;
				}
			}
		}
	}
	.woocommerce-MyAccount-content {
		margin-bottom: 30px;
	}
	#customer_login {
		margin: 0 -15px;
		width: inherit;
		h2 {
			font-size: 24px;
		}
		label {
			font-weight: 600;
			margin-bottom: 2px;
		}
		.woocommerce-Button {
			margin-right: 16px;
		}
		form .form-row label {
			line-height: normal;
			padding: 0 0 10px;
		}
		.u-column1.col-1, .u-column2.col-2 {
			width: 50%;
			flex: inherit;
			max-width: 100%;
		}
		@media #{$max-sm} {
			margin: 0;
			.u-column1.col-1, .u-column2.col-2 {
				width: 100%;
			}
		}
		.woocommerce-form {
			background-color: #f7f8fa;
			border: 1px solid #eee;
			padding: 30px;
			@include border-radius(0px);
			margin: 0 0 30px;
			.woocommerce-LostPassword {
				margin-bottom: 0;
				a {
					color: $primary_color;
					&:hover {
						color: $secondary_color;
					}
				}
			}
			.woocommerce-form__label-for-checkbox {
				padding: 0;
				line-height: 42px;
				span {
					font-size: 15px;
					font-weight: 500;
				}
				.woocommerce-form__input-checkbox {
					position: relative;
					top: -1px;
				}
			}
			.woocommerce-Button {
				height: 42px;
			}
		}
	}
	.woocommerce-password-strength.bad {
		background-color: transparent;
		padding: 8px 0;
	}
}
.ct-shop-bottom {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #F7F9FB;
	.ct-shop-bottom-item {
		width: 33.333333%;
		padding: 0 15px;
		margin-bottom: 30px;
		display: flex;
		flex-wrap: nowrap;
		@media #{$max-sm} {
			width: 100%;
		}
	}
	.ct-icon {
		width: 50px;
		min-width: 50px;
		margin-right: 10px;
		img {
			max-width: 50px;
		}
		i {
			font-size: 45px;
			color: $color_dark;
		}
	}
	.ct-meta {
		h3 {
			font-size: 20px;
			margin-bottom: 13px;
		}
		p {
			color: $color_dark;
			margin-bottom: 0;
			font-size: 14px;
		}
	}
}

// Wishlist
//--------------------------------------------------
body #yith-wcwl-popup-message {
	margin-left: -108px;
	display: none;
	bottom: 30px;
	top: auto;
	right: 30px;
	left: auto;
	background-color: $primary_color;
	border-radius: 3px;
	border: none;
	color: #fff;
	padding: 0 20px;
}
body #yith-quick-view-modal {
	.yith-quick-view-overlay {
		background-color: rgba(#000, 0.85);
	}
	.yith-wcqv-main {
		@include box-shadow(none);
		@include border-radius(4px);
	}
	.yith-wcqv-head #yith-quick-view-close {
		color: rgba(0,0,0,0.2);
		opacity: 1;
		border: 1px solid rgba(0,0,0,0.2);
		@include border-radius(3px);
		font-size: 0px;
		&:before {
			content: "\e646";
			font-family: 'themify';
			font-size: 13px;
		}
		&:hover {
			border-color: $primary_color;
			color: #fff;
			background-color: $primary_color;
		}
	}
	#yith-quick-view-content {
		div.images {
			padding: 15px;
			margin-bottom: 0;
		}
		.entry-summary {
			padding: 30px 30px 15px 15px;
			h1.product_title {
				font-size: 28px;
				margin-bottom: 5px;
			}
			.woocommerce-product-rating {
				margin-bottom: 10px;
			}
			.price {
				font-size: 35px;
				@include font-family-heading($heading_default_font);
				color: $color_dark;
				font-weight: 700;
				ins {
					color: $color_dark;
				}
			}
			form.cart {
				border-top: 1px solid #f7f9fb;
				border-bottom: 1px solid #f7f9fb;
				padding: 18px 0;
				margin-bottom: 30px;
			}
			.woocommerce-product-details__short-description {
				p {
					margin-bottom: 24px;
				}
			}
			.product_meta {
				.sku_wrapper, .posted_in, .tagged_as {
					display: block;
					font-weight: 600;
					font-size: 15px;
					span, a {
						color: $primary_color;
						margin-left: 7px;
					}
					a:hover {
						color: $secondary_color;
					}
				}
				.posted_in {
					display: none;
				}
			}
			.quantity .qty {
				margin: 0 20px 0 0;
			}
		}
	}
}
.woocommerce-wishlist {
	tfoot td {
		display: none;
	}
	.product-stock-status {
		font-size: 16px;
		font-weight: 600;
		.wishlist-in-stock {
			color: $secondary_color !important;
		}
	}
	#yith-wcwl-form {
		.wishlist-empty {
			text-align: center !important;
		}
		.product-add-to-cart {
			text-align: center !important;
			a.button {
				padding: 0 20px;
				background-color: $primary_color;
				color: #fff;
				line-height: 42px;
				font-size: 16px;
				display: inline-block !important;
				&:hover {
					background-color: $secondary_color;
				}
				&.loading {
					padding-right: 30px;
					&:after {
						top: 0;
						right: 8px;
					}
				}
			}
		}
	}
}