
@media(max-width: 1200px){
   .zopim {position: fixed !important;  z-index: 9999;  top: auto !important;  bottom: 0px !important;}   
}


@media(max-width: 1024px){
	.tabs-service .nav-tabs li{width: 43%;padding: 21px 0px;}
	.hamburger{margin-right: 76px;}
	.inductry-rating .mx-auto h4 {font-size: 29px;}
	.stat-count .counter { font-size: 26px;}
    /* .inner-page header .btn-fourtek{left: 13%;} */
    .home-slider .btn-fourtek{left: 13%;}
    .carousel-caption{ top: 16%;}
    #team .text111 {padding: 0px 66px;line-height: 25px; color: #646060;}
    .tabs-service .nav-tabs li a {height: 78px;}
    .tabservices p {margin: 20px 0px 0px;}
   #cssmenu{display:none;}
   #mainNav{height: 75px;}
   .development-img{right: auto;}   
   .process-second-title h2{font-size: 42px;}
   .inner-page header h1 { font-size: 36px;}
   .relativesection{margin:0 auto;}
   .paytmslider-bg img { max-width: 300px;}
   .hamburger.is-open{right: -265px;}

.tableUp{width: 100%;    margin-left: 219px;}
.my_planHeader {width: 153px;}
 header.video{background-attachment: unset !important;background-repeat: no-repeat !important;}
   #seoPackTable {    padding: 0px 0 80px 0px;}
   .devnagri-banner.video{background-size: cover !important;}
   .owl-theme .owl-controls{top: 26%;}

}

@media(min-width: 992px){
      .mobile-fees{display: none;}
  .desktop-rate{display: block;}
}


@media(max-width: 991px){
         .mobile-fees{display: block;}
     .desktop-rate, .empty-tabs{display: none;}
     .order-now{width:100%;}
     .col-sm-4.order-now {width: 100%;}
     .customize-btn a{margin-top: 0}
       #seoPackTable{padding:0;}
}

@media(max-width: 992px){
   .navbar-shrink { z-index: 99999999;}   
   .about-sections .wow img { max-height: 350px; margin-bottom: 15px;}
   .about-sections h2, .service-sections h2, .our-business h2{font-size: 24px;}
   .block-business {padding: 30px 15px 6px 15px;}
   .footer-content strong{font-size: 16px;}
   .paytmslider-bg img {max-width: 235px;}
   .hamburger.is-open {right: -222px;}
   .sidebar-service h3 {  font-size: 18px;}
   .about-digital h2 span{font-size: 20px;}
   .about-career .careeer-desc .col-sm-6{width: 100%; max-width: 100%; flex: 100%;}
      .team_img img{height: 195px !important; width: 195px !important;}
    .team_overlay{height: 195px !important; width: 195px !important;}
}

@media(min-width: 768px) and (max-width: 870px){
   .info-block{min-height: 516px;}
   .col-sm-12.col-xs-12.tabAccHeading { margin-left: 47px;}
   .col-sm-4.order-now { width: 20.8%; max-width: 50%;  margin-right: 8px;}


}


@media(min-width: 768px){
  .process-second-title span {display: block;}   

}

@media(max-width: 768px){

    .about-sections img{width:100%;margin-bottom: 15px;}
    .icon-container{display: none!important;}
    .tabservices {padding-left: 30px;padding-right: 30px;}
   .inner-page header h1 { font-size: 34px;}
	.side-bar-menu{display: none;}
	.inner-page header p{width: auto;}
	.mobi-menu{display: block !important;}
	/* .slider-content .btn-fourtek{left: 16%;} */
	.carousel-caption{padding-top: 3px;}
	#about h2{line-height: 41px; font-size: 29px; margin-bottom: 20px;}
	.tabs-service .tab-content .tab-pane {padding: 0;}
	.tabs-service .nav-tabs li{margin-left: 0;text-align: center;    width: 46%;}
	.tabs-service .nav-tabs li a{height: 90px; text-align: center; }
	.service-section .es-solutions{padding: 41px 0 0 15px;}
	.tabs-service h4{font-size: 20px;}
	.stat-count .counter, .footer-content strong{font-size: 16px;}
    .inductry-rating{    padding: 75px 0;}
    .inductry-rating .mx-auto p {font-size: 11px;}
    .tabs-service { padding: 70px 0 0 0;}
    .case-study .post .img-post img{margin-top: 7px;}
    .footer-address { padding: 0;}
    .about-sections h2, .service-sections h2{font-size: 26px;}
    .inner-page header h1 { font-size: 28px;}
    .about-sections h2 span, .service-sections span{ font-size: 24px;}
    .request-section h2 {font-size: 24px;} 
    .process-title { padding: 0px 0 32px 0;}
    .process-list li h4 { font-size: 18px;}
    .slider-content h1 {font-size: 39px;margin-top: 10px;}
    .tabs-service h4{margin-top: 25px;}
    .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-bottom{left: 52px;} 
     .digital-title {margin-top: 40px;}
    .tables {max-width: 1200px; overflow-x: scroll; display: block;}
  
    .tableUp{margin-left: 15px; flex: 100%; max-width:100%; margin-top: 40px; margin-bottom: 40px;}
    .tableUp .col-xs-4 {width: 50%; float: left;}
     #seoPackTable .my_planHeader{margin-top: 0px; height: 210px;}
     .blank-box{display: none;}
     .process-title h2{margin-top: 30px;}
    .hrm-pics img{margin: 10px 0;}
     #team .owl-controls  .fa-angle-right,  #team .owl-controls .fa-angle-left{display: none;}
     .free-consult,.footer-short{z-index: 999;}
      header.video{height: 505px; background-position: -118px 0 !important; background-repeat: no-repeat !important;background-attachment: unset !important;}
     /* header.masthead{padding-bottom: 10px !important;}*/
       header.privacy-banner.masthead.video {padding-bottom: 135px !important;}
       .team_overlay_top p{    margin-bottom: 10px;font-size: 12px;}
       .slider-content .masthead-subtitle { font-size: 18px;}
    .btn-fourtek{margin: 2px auto 0 10px;}
    .tabs-service .nav-tabs li a{    padding-top: 21px;}
    .ourclients { padding: 60px 0px;}
    #filters li { width: 49%;    margin-bottom: 2px;}  
    .team_overlay a {padding: 1px 9px; width: 150px;border: 1px solid #fff;} 
    .contact-form-btn{text-align:center;margin-top: 20px; margin-bottom: 25px;}




} 

@media(max-width: 767px){
        .paytmslider-bg{display: none;}
        .business-process {  padding: 0px 0 50px;}
        .testimonial .pic img{border: 1px solid #f3f3f3; margin-bottom: 20px;}
        .testimonial{border: none;}
        .hidden-div { display: none;}
        .tabAccOuter {margin-top: 35px;}
        .tabPara, .my_feature {width: 100%;}
        .tabPara{background-color: #18427c;  border-right: 1px solid #18427c;}
        .tabAccHeading p span, .tabAccHeading p i {color:#fff;    font-weight: normal;}
        .my-auto h2 {font-size: 18px; margin-top: 84px;}
        .hrm-sections h2{    margin-top: 35px;}
        #filters li span{font-size: 14px !important}
        .zopim{ bottom: 56px !important;z-index: 999 !important;}
        .footer{ margin-bottom: 48px;}
        .footer-short{display: block;}
        div.dataTables_wrapper div.dataTables_paginate ul.pagination{margin: 18px 0 !important; justify-content: end !important; 
        margin-left: 17% !important;}
        #example_wrapper .col-sm-12.col-md-6, #example_wrapper .col-sm-12.col-md-5, #example_wrapper .col-sm-12.col-md-7 {
        width: 100% !important; float: none !important;}
        .about-sections, .service-sections {padding: 5px 0;}
        header.video .container, header.video .scroll-down {z-index: 0;}
        .g-recaptcha>div { margin: 0 auto;}
        .send-messages{text-align:center; margin:20px 0;}
        .consultancy-sections { padding: 35px 0;}
        .process-second-title h2 { font-size: 20px; line-height: unset; margin-top: 15px; margin-bottom: 5px;}
        .sidebar-service { text-align: center;}
        #about .about-us h2{line-height: unset; font-size: 20px;}
        #about .about-us p{    padding: 20px 5px;}
        section.page-section { padding: 40px 0 0 0;}
        .inductry-rating{padding: 35px 0;}
        .inductry-rating .mx-auto h4 {font-size: 24px;}
        #team .text111{padding: 0 15px;}
        .ourclients {padding: 30px 0px;}
        .ourclients .title { margin-bottom: 10px;}
        .footer-content .col-md-3.col-sm-12 { max-width: 50%; float: left;}
        .copyright .col-md-6.col-sm-12 {max-width: 50%; float: left; margin-bottom: 21px;} 
        .newsletter{padding-top: 15px; margin-bottom: 15px;}
        #team h2, #case-study h2,#team h2 span, #case-study h2 span {font-size: 24px;}
        .tabs-service .nav-tabs li img {display: block; margin: 0 auto;}
        .block-business{text-align: center;}
        .about-sections h2, .service-sections h2{    margin-top: 20px;}        
        .tabs-service .nav-tabs li { margin-left: 0; margin-right: 0;text-align: center; width: 100%; margin-bottom: 0; height: auto;} 
        .tabs-service .nav-tabs li a { padding-top: 24px; height: auto;}
         .stat-count .number, .stat-count .last {border-right: 1px solid #ddd !important; min-height: 110px; border: 1px solid #ddd; padding-top: 30px;}
        .development-img{position: relative;}
        .cartoon-bottom{background:none;min-height:auto;}
 }


@media (min-width: 550px) and (max-width: 767px){
    .team_overlay{height: 96%; width: 94.5%}
    .team_overlay_top p { margin-bottom: 22px;}

}



@media(max-width: 580px){
     .tableUp{margin-left: 0px; }
     .digital-banner{background-position: -118px 33px !important; }
      header.privacy-banner.masthead.video {padding-bottom: 60px !important;}
      .team_info_modal{padding-top: 25%;}
      .modal-dialog{ overflow-y: auto; max-height: 400px; overflow-x: hidden;}
  
}

@media(max-width: 480px){
    .develop-auto h2{font-size: 24px;}
    .develop-auto {padding: 50px 0 50px;}
    .about-sections h2 span, .service-sections span {margin-bottom: 0; padding-bottom: 0;}
    .our-business{padding: 50px 0 15px 0;text-align: center;}
    .block-business{ padding: 15px 15px 6px 15px;}
    .hrm-sections .row { margin-bottom: 0;}
    .consult-about{padding: 20px 0;}
    .consulting-service h1 {font-size: 24px;}
    .about-infra h2 span { line-height: 22px;}
    #filters li{width: 46%; margin-bottom: 10px;}
    .footer-address{padding-right: 15px; padding-left: 15px;}
    #example_wrapper .col-sm-12.col-md-6, #example_wrapper .col-sm-12.col-md-5, #example_wrapper .col-sm-12.col-md-7 {
    width: 50%; float: left;}
    .owl-theme .owl-controls{top: 26%;}
    .testimonial .pic{text-align: center;}
    .testimonial .pic img{width: auto; margin: 0 auto;}
    .feeconsulation-header .my-auto h1 {margin-top: 92px;}
    .jobs-title .title-name{font-size: 18px;}
    header.video {height: 330px;}
    .inner-page header p{ overflow: hidden; white-space: nowrap;  text-overflow: ellipsis; }
    header.masthead.video.digital-banner {background-position: -114px 108px !important;background-color: #144676 !important;}
    .business-process .row {margin-left: 0; margin-right: 0;}
    .Redesigning-banner h1 {margin-top: 0 !important;}
    .footer-content .col-md-3.col-sm-12 { max-width: 100%; float: none;} 
     .copyright .col-md-6.col-sm-12 {max-width: 100%; float: left; margin-bottom: 0px;} 
       .team_img img{height: 195px !important; width: 100% !important;}
    .team_overlay{height: 195px !important; width: 92% !important;}
    .relativesection { margin: 14px auto; border: 2px solid #ddd;  border-radius: 12px;}

.hiddentop{display:none;}


}


@media(max-width: 420px){
    .carousel-item img{ width:100%;height: 290px;}
    .btn-fourtek {width: 125px; height: 46px; position: relative; margin: 0px;
        padding-top: 9px; font-size: 14px; }
    .tabservices {padding-left: 15px;padding-right:15px;}
    #team .text111 { padding: 0px;}
		.about-sections h2 span, .service-sections span{display: inline-block;}
		.hamburger {margin-right: 26px;}
		.hamburger.is-open { right: -172px;}
		.slider-content h1 {font-size: 30px;} 
		.slider-content .masthead-subtitle {font-size: 12px; line-height: 1.5; margin-top: -22px;}
		section.page-section , .inductry-rating{ padding: 35px 0;}
		#about h2 {line-height: 26px!important; font-size: 16px!important;}
		
		.inductry-rating .mx-auto p { font-size: 14px;}
        .stat-count .number{border-right:none;}
        .owl-carousel.owl-theme .owl-controls .owl-next{right: -8px!important;}
        .owl-carousel.owl-theme .owl-controls .owl-prev{left: -8px!important;}
        .footer-address{padding: 15px}
        .social-media-footer {text-align: center;}
        .copy {padding: 25px 15px 26px 35px; height: 34px;}
        .block-business {text-align: center;margin-bottom: 15px;}
        .about-sections h2, .service-sections h2 { font-size: 19px; }
        .our-business h2 { font-size: 28px;margin-bottom: 15px;}   
        #wrapper.toggled #sidebar-wrapper {width: 280px;}
        .inner-page header h1 { font-size: 26px;}
        /* .inner-page header .btn-fourtek { left: 80px;} */
        .sidebar-service .row { text-align: center; }
        .sidebar-service .row img { margin-bottom: 10px;}
        /* .request-section .btn-fourtek {left: 25%;}  */
        .about-sections h2 span, .service-sections span{font-size: 18px;}
        header.masthead{padding-top : 80px;}
        .process-second-title h2{font-size: 28px;}
        .process-second-title h4{line-height: normal; font-size: 18px;}
        .development-img {width: 373px;  position: relative;  right: 0px;}
        .sidebar-service { padding-left: 15px;}
        #about .about-us p{padding: 0; }
        .tabs-service .nav-tabs li {width: 165px;height: 53px;font-size: 14px;letter-spacing: 0px;margin-right: 6px;}
        .business-descirption {padding: 40px 0;}    
        .business-process {padding: 50px 0 15px;}
        .footer{ margin-bottom: 56px;}
        .tabs-service {padding: 70px 0 5px 0;}
        .ourclients h2 {font-size: 22px; margin-bottom: 0px;}
        #team h2 span, #case-study h2 span, #team h2, #case-study h2{    font-size: 24px;}  
    }

 @media(max-width: 375px){
 	.hamburger.is-open {right: -180px; top: 9px;}
 	#wrapper.toggled #sidebar-wrapper {width: 230px;}
 	.our-business h2 {font-size: 24px;}
    .inner-page header p{font-size: 14px;}
    .tabs-service .nav-tabs li {width: 100%; text-align: left;padding: 0;
    line-height: 53px;}
    .develop-auto h2 { font-size: 20px;}
    .inner-page header h1 { font-size: 20px;}
    .sidebar-service h3 { font-size: 18px;} 
    #filters li span {padding: 7px !important; height: 65px; padding-top: 17px;}

 }   