/* Template: Juno - Multipurpose Landing Page Pack
   Author: InovatikThemes
   Created: Mar 2019
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Form Lightbox
06. Testimonials
07. Overview
08. Duration
09. Details
10. Benefits 1
11. Benefits 2
12. Pricing
13. Instructors
14. Questions
15. Statistics
16. Contact
17. Footer
18. Copyright
19. Back To Top Button
20. Extra Pages
21. Media Queries
******************************************/

/*****************************************
Colors:

- Backgrounds, navbar - gray #3a3f48
- Backgrounds - dark gray #2a2f37
- Backgrounds - light gray #f9fafc
- Text - black #434c54
- Buttons, icons - green #39cb81
******************************************/


/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #434c54; 
	font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

.p-large {
	font: 400 1rem/1.5rem "Raleway", sans-serif;
}

.p-small {
	font: 400 0.75rem/1.25rem "Raleway", sans-serif;
}

.p-heading {
	margin-bottom: 3.875rem;
}

.li-space-lg li {
	margin-bottom: 0.25rem;
}

.indent {
	padding-left: 1.25rem;
}

h1 {
	font: 700 2.875rem/3.5rem "Raleway", sans-serif;
}

.h1-large {
	font: 700 2.75rem/3.125rem "Raleway", sans-serif;
}

h2 {
	font: 700 2.375rem/2.75rem "Raleway", sans-serif;
}

h3 {
	font: 700 1.75rem/2.25rem "Raleway", sans-serif;
}

h4 {
	font: 700 1.375rem/1.875rem "Raleway", sans-serif;
}

h5 {
	font: 700 1.125rem/1.625rem "Raleway", sans-serif;
}

h6 {
	font: 700 1rem/1.5rem "Raleway", sans-serif;
}

a {
	color: #434c54;
	text-decoration: underline;
}

a:hover {
	color: #434c54;
	text-decoration: underline;
}

a.green {
	color: #39cb81;
}

a.white {
	color: #fff;
}

.testimonial-text {
	font: italic 400 1rem/1.5rem "Raleway", sans-serif;
}

.testimonial-author {
	font: 700 1rem/1.5rem "Raleway", sans-serif;
}

.line-heading {
	width: 4rem;
	height: 0.1875rem;
	margin-top: 0;
	margin-bottom:20px;
	border: none;
	background-color: #39cb81;
	opacity: 0.8;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #39cb81;
	border-radius: 2rem;
	background-color: #39cb81;
	color: #fff;
	font: 700 0.75rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #39cb81;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #39cb81;
	border-radius: 2rem;
	background-color: #39cb81;
	color: #fff;
	font: 700 0.75rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #39cb81;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #39cb81;
	border-radius: 2rem;
	background-color: transparent;
	color: #39cb81;
	font: 700 0.75rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #39cb81;
	color: #fff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #39cb81;
	border-radius: 2rem;
	background-color: transparent;
	color: #39cb81;
	font: 700 0.75rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #39cb81;
	color: #fff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.625rem 0.875rem 1.625rem;
	border: 0.125rem solid #39cb81;
	border-radius: 2rem;
	background-color: transparent;
	color: #39cb81;
	font: 700 0.625rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #39cb81;
	color: #fff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
	margin-top: 0.375rem;
}

.label-control {
	position: absolute;
	top: 0.87rem;
	left: 1.375rem;
	color: #434c54;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Raleway", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.9375rem;
	}
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.0625rem;
	padding-bottom: 0.0625rem;
	padding-left: 1.3125rem;
	border: 1px solid #dadada;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #434c54;
	font: 400 0.875rem/1.875rem "Raleway", sans-serif;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3rem;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.form-control-input {
		padding-top: 1.25rem;
		padding-bottom: 0.75rem;
		line-height: 1.75rem;
	}

	.form-control-select {
		padding-top: 0.875rem;
		padding-bottom: 0.75rem;
		height: 3.125rem;
		line-height: 2.125rem;
	}
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.3125rem;
	border: 1px solid #dadada;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #434c54;
	font: 400 0.875rem/1.75rem "Raleway", sans-serif;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font: 400 0.75rem/1.25rem "Raleway", sans-serif;
}

input[type='checkbox'] {
	vertical-align: -15%;
	margin-right: 0.375rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	input[type='checkbox'] {
		vertical-align: -9%;
	}
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 1px solid #39cb81;
	border-radius: 1.5rem;
	background-color: #39cb81;
	color: #fff;
	font: 700 0.75rem/1.75rem "Raleway", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #39cb81;
}

/* Form Success And Error Message Formatting */
#smsgSubmit.h3.text-center.tada.animated,
#cmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center.tada.animated,
#smsgSubmit.h3.text-center,
#cmsgSubmit.h3.text-center,
#pmsgSubmit.h3.text-center {
	display: block;
	margin-bottom: 0;
	color: #434c54;
	font: 400 1.125rem/1rem "Raleway", sans-serif;
}

.help-block.with-errors .list-unstyled {
	color: #434c54;
	font-size: 0.75rem;
	line-height: 1.125rem;
	text-align: left;
}

.help-block.with-errors ul {
	margin-bottom: 0;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for lightbox - magnific popup */

/* Fade Animation For Image Slider - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image slider - magnific popup */


/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #2f3a43;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}


/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
	
	font: 700 0.75rem/2rem "Raleway", sans-serif;
	transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 7.5rem;
	
	margin-bottom: 1px;
	-webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-brand.logo-text {
	font: 700 2.375rem/1.5rem "Raleway", sans-serif;
	color: #fff;
	letter-spacing: -0.5px;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0 0.75rem 0 0.75rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #39cb81;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus  */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #3a3f48;
}

.navbar-custom .dropdown-item {
	color: #fff;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #3a3f48;
}

.navbar-custom .dropdown-item .item-text {
	font: 700 0.75rem/1.5rem "Raleway", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
	color: #39cb81;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.25rem auto 0.25rem auto;
	border: none;
	background-color: #b5bcc4;
	opacity: 0.2;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/*********************/
/*    04. Header     */
/*********************/
.header {
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/banner-background.jpg') center center no-repeat;
	background-size: cover; 
}

.header .header-content {
	padding-top: 9.25rem;
	padding-bottom: 7.5rem;
	text-align: center;
}

.header .countdown {
	margin-bottom: 1rem;
	color: #fff;
	text-align: center;
}

.header .countdown #clock .counter-number {
	display: inline-block;
	width: 6.5rem;
	height: 6.5rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	margin-bottom: 1.25rem;
	padding-top: 1.875rem;
	border-radius: 50%;
	border: 0.125rem solid #fff;
	font: 700 1.875rem/1.25rem "Raleway", sans-serif;
	text-align: center;
}

.header .countdown #clock .counter-number .timer-text {
	font: 400 0.75rem/1rem "Raleway", sans-serif;
	text-align: center;
}

.header .h1-large,
.header .p-large {
	color: #2a3e74;
}

.header .h1-large {
	margin-bottom: 1.5rem;
}

.header .p-large {
	margin-bottom: 2rem;
}


/*****************************/
/*     05. Form Lightbox     */
/*****************************/
.lightbox-form {
	position: relative;
	max-width: 30rem;
	margin:-100px 0 0 0;
	padding: 3rem 2.5rem 2rem 2.5rem;
	border-radius: 0.25rem;
	background: #2a2f37;
	text-align: left;
}

.lightbox-form button.mfp-close.x-button {
	position: absolute;
	top: -0.375rem;
	right: -0.375rem;
	width: 2.75rem;
	height: 2.75rem;
	color: #fff;
}

.lightbox-form .label-control {
	color: #fff;
}

.lightbox-form .form-control-input {
	border: 1px solid #848a96;
	background-color: #4f5561;
	color: #fff;
}

.lightbox-form .form-control-input:hover {
	border: 1px solid #fff;
}

.lightbox-form .checkbox {
	color: #fff;
}

.lightbox-form #smsgSubmit.h3.text-center.tada.animated,
.lightbox-form #smsgSubmit.h3.text-center {
	color: #fff;
}

.lightbox-form .help-block.with-errors .list-unstyled {
	color: #fff;
}


/****************************/
/*     06. Testimonials     */
/****************************/
.slider {
	padding-top: 7rem;
	padding-bottom: 4rem;
	background: linear-gradient(to bottom right, #3a3f48, #2a2f37);
}

.slider .slider-container {
	position: relative;
}

.slider .swiper-container {
	position: static;
	width: 90%;
	text-align: center;
}

.slider .swiper-button-prev:focus,
.slider .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider .swiper-button-prev {
	left: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider .swiper-button-next {
	right: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider .card {
	position: relative;
	border: none;
	background-color: transparent;
}

.slider .card-body {
	padding-bottom: 0;
}

.slider .card-image {
	width: 7rem;
	height: 7rem;
	margin-right: auto;
	margin-bottom: 0.25rem;
	margin-left: auto;
}

.slider .testimonial-text,
.slider .testimonial-author {
	color: #fff;
}

.slider .testimonial-author {
	margin-bottom: 0;
}


/************************/
/*     07. Overview     */
/************************/
.basic-1 {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #f9fafc;
}

.basic-1 h2,
.basic-1 .p-heading {
	text-align: center;
}

.basic-1 h2 {
	margin-bottom: 1rem;
}

.basic-1 .p-heading {
	margin-bottom: 4rem;
}


/************************/
/*     08. Duration     */
/************************/
.cards-1 {
	padding-top: 7rem;
	padding-bottom: 2.5rem;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/duration-background.jpg') center center no-repeat;
	background-size: cover; 
}

.cards-1 h2,
.cards-1 .p-heading {
	color: #fff;
	text-align: center;
}

.cards-1 h2 {
	margin-bottom: 1rem;
}

.cards-1 .p-heading {
	margin-bottom: 4rem;
}

.cards-1 .card {
	max-width: 20.625rem;
	width: 93%;
	margin-right: auto;
	margin-bottom: 5rem;
	margin-left: auto;
}

.cards-1 .card-body {
	padding: 1.875rem 2.125rem 1.75rem 2.125rem;
}

.cards-1 .number {
	position: absolute;	
	top: -1.375rem;
	right: -1.375rem;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #39cb81;
	color: #fff;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 3.875rem;
	text-align: center;
}

.cards-1 .card-title {
	margin-bottom: 0.75rem;
}

.cards-1 .card .list-unstyled {
	margin-bottom: 0;
}

.cards-1 .card .list-unstyled .fas {
	color: #39cb81;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.cards-1 .card .list-unstyled .media-body {
	margin-left: 0.625rem;
}


/***********************/
/*     09. Details     */
/***********************/
.tabs {
	padding-top: 7rem;
	padding-bottom: 7.25rem;
	background-color: #f9fafc;
}

.tabs h2,
.tabs .p-heading {
	text-align: center;
}

.tabs h2 {
	margin-bottom: 0.875rem;
}

.tabs .line-heading {
	margin-bottom:20px;
}

.tabs .nav-tabs {
	margin-bottom: 2.5rem;
	justify-content: center;
	border-bottom: none;
}

.tabs .nav-link {
	margin-right: 0.375rem;
	margin-left: 0.375rem;
	margin-bottom: 0.75rem;
	padding: 0.625rem 1.75rem;
	border: none;
	border-radius: 0.25rem;
	background-color: #3a3f48;
	color: #b5c1d2;
	font: 700 0.875rem/1.375rem "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.tabs .nav-link:hover,
.tabs .nav-link.active {
	background-color: #39cb81;
	color: #fff;
}

/* Tab 1 */
.tabs #tab-1 .accordion-container {
	margin-bottom: 3rem;
}

.tabs #tab-1 .item {
	margin-bottom: 1.75rem;
}

.tabs #tab-1 h4 {
	margin-bottom: 0;
}

.tabs #tab-1 span[aria-expanded="true"] .circle-numbering,
.tabs #tab-1 span[aria-expanded="false"] .circle-numbering {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.875rem;
	border: 0.125rem solid #39cb81;
	border-radius: 50%;
	background-color: #39cb81;
	color: #fff;
	font: 700 1rem/2.25rem "Raleway", sans-serif;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease;
}

.tabs #tab-1 span[aria-expanded="false"] .circle-numbering {
	border: 0.125rem solid #434c54;
	background-color: transparent;
	color: #434c54;
}

.tabs #tab-1 .accordion-title {
	display: inline-block;
	width: 70%;
	margin-top: 0.1875rem;
	margin-bottom: 0.1875rem;
	font: 700 1.375rem/1.875rem "Raleway", sans-serif;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease;
}

.tabs #tab-1 span[aria-expanded="true"] .accordion-title {
	color: #39cb81;
}

.tabs #tab-1 h4:hover .circle-numbering {
	border: 1px solid #39cb81;
	background-color: #39cb81;
}
.tabs #tab-1 h4:hover .accordion-title {
	color: #39cb81;
}

.tabs #tab-1 .accordion-body {
	margin-left: 3.5rem;
}

.tabs #tab-1 .image-container {
	text-align: center;
}

.tabs #tab-1 .image-container img {
	border-radius: 0.25rem;
}

/* Tab 2 */
.tabs #tab-2 .image-container {
	margin-bottom: 3rem;
	text-align: center;
}

.tabs #tab-2 .image-container img {
	border-radius: 0.25rem;
}

.tabs #tab-2 h3 {
	margin-bottom: 0.875rem;
}

.tabs #tab-2 .btn-solid-reg,
.tabs #tab-2 .btn-outline-reg {
	margin-top: 0.375rem;
	margin-right: 0.375rem;
}

/* Tab 3 */
.tabs  .text-container {
	margin-bottom: 3rem;
}

.tabs  h3 {
	margin-bottom: 0.875rem;
}

.tabs  .list-unstyled .fas {
	color: #39cb81;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.tabs  .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.tabs  .image-container {
	text-align: center;
}

.tabs  .image-container img {
	border-radius: 0.25rem;
}


/**************************/
/*     10. Benefits 1     */
/**************************/
.basic-2 .area-1 {
	height: 27rem;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/benefits-1-background.jpg') center center no-repeat;
	background-size: cover;
}

.basic-2 .text-container {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5rem;
	padding-bottom: 2.5rem;
}

.basic-2 h3 {
	margin-bottom: 1.25rem;
}

.basic-2 .list-unstyled.li-space-lg li {
	margin-bottom: 1rem;
}

.basic-2 .list-unstyled .fas {
	color: #39cb81;
	font-size: 1.375rem;
	line-height: 1.75rem;
}

.basic-2 .list-unstyled .media-body {
	margin-left: 0.75rem;
}


/**************************/
/*     11. Benefits 2     */
/**************************/
.basic-3 .text-container {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 2rem;
	padding-bottom: 6rem;
}

.basic-3 h3 {
	margin-bottom: 1.25rem;
}

.basic-3 .list-unstyled.li-space-lg li {
	margin-bottom: 1rem;
}

.basic-3 .list-unstyled .fas {
	color: #434c54;
	font-size: 1.375rem;
	line-height: 1.75rem;
}

.basic-3 .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.basic-3 .area-2 {
	height: 27rem;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/benefits-2-background.jpg') center center no-repeat;
	background-size: cover;
}


/***********************/
/*     12. Pricing     */
/***********************/
.cards-2 {
	padding-top: 7rem;
	padding-bottom: 2.5rem;
	background-color: #f9fafc;
}

.cards-2 h2 {
	margin-bottom: 0.75rem;
	text-align: center;
}

.cards-2 .text-container {
	margin-bottom: 4.5rem;
}

.cards-2 .text-container h3 {
	margin-bottom: 0.875rem;
}

.cards-2 .card.cards-2 .card {
	max-width: 21rem;
	margin-right: auto;
	margin-bottom: 5rem;
	margin-left: auto;
	padding-top: 1.25rem;
	padding-bottom: 3.125rem;
}

.cards-2 .card-body {
	padding-right: 2.5rem;
	padding-left: 2.5rem;
}

.cards-2 .card-title {
	margin-bottom: 1rem;
	text-align: center;
}

.cards-2 .card-title .price {
	color: #39cb81;
}

.cards-2 .card .list-unstyled {
	margin-bottom: 0.5rem;
}

.cards-2 .card .list-unstyled .fas {
	color: #39cb81;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.cards-2 .card .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.cards-2 .card .btn-wrapper {
	text-align: center;
}


.cards-3 {
	padding-top:100px;
	padding-bottom:100px;
	background-color: #fff;
}

.cards-3 h2 {
	margin-bottom: 0.75rem;
	text-align: center;
}
/***************************/
/*     13. Instructors     */
/***************************/
.basic-4 {
	padding-top: 7rem;
	padding-bottom: 3.125rem;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/instructors-background.jpg') center center no-repeat;
	background-size: cover; 
	text-align: center;
}

.basic-4 h2 {
	margin-bottom: 1rem;
	color: #fff;
	text-align: center;
}

.basic-4 .p-heading {
	margin-bottom: 4rem;
	color: #fff;
}

.basic-4 .team-member {
	display: inline-block;
	max-width: 13rem;
	margin-right: 1.5rem;
	margin-bottom: 3.5rem;
	margin-left: 1.5rem;
}

/* Hover Animation */
.basic-4 .image-wrapper {
	overflow: hidden;
	max-width: 12.5rem;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	border-radius: 0.25rem;
}

.basic-4 .image-wrapper img {
	margin: 0px;
	transition: all 0.3s;
}

.basic-4 .image-wrapper:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.basic-4 .team-member .p-large {
	margin-bottom: 0.25rem;
	font-size: 1.125rem;
	color: #fff;
}

.basic-4 .team-member .job-title {
	margin-bottom: 0.375rem;
	color: #fff;
}

.basic-4 .fa-stack {
	margin-top: 0.375rem;
	margin-right: 0.125rem;
	margin-left: 0.125rem;
	font-size: 0.875rem;
}

.basic-4 .fa-stack-2x {
	color: #39cb81;
	transition: all 0.2s ease;
}

.basic-4 .fa-stack-1x {
	color: #fff;
	transition: all 0.2s ease;
}

.basic-4 .fa-stack:hover .fa-stack-2x {
	color: #27a063;
}

.basic-4 .fa-stack:hover .fa-stack-1x {
	color: #fff;
}


/*************************/
/*     14. Questions     */
/*************************/
.basic-5 {
	padding-top: 7rem;
	padding-bottom: 4.25rem;
	background-color: #f9fafc;
}

.basic-5 h2 {
	margin-bottom: 0.875rem;
	text-align: center;
}

.basic-5 .question {
	font: 700 1.25rem/1.75rem "Raleway", sans-serif;
	margin-bottom: 1.375rem;
}

.basic-5 .question .icon {
	padding: 0.375rem 0.6875rem 0.375rem 0.6875rem;
	margin-right: 0.875rem;
	border-radius: 0.125rem;
	background-color: #39cb81;
	color: #fff;
	font-size: 1rem;
}

.basic-5 .question .text {
	display: inline-block;
	width: 80%;
	vertical-align: middle;
}

.basic-5 .answer .icon {
	padding: 0.375rem 0.75rem 0.375rem 0.75rem;
	margin-right: 0.875rem;
	border-radius: 0.125rem;
	background-color: #434c54;
	color: #fff;
	font-size: 0.9375rem;
}

.basic-5 .answer .text {
	display: inline-block;
	width: 80%;
	margin-top: -0.5rem;
	vertical-align: top;
}

.basic-5 .answer {
	margin-bottom: 2.75rem;
}


/**************************/
/*     15. Statistics     */
/**************************/
.counter {
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/statistics-background.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.counter #counter .cell {
	display: inline-block;
	width: 6.25rem;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 3rem;
}

.counter #counter .fa-stack {
	margin-right: auto;
	margin-bottom: 0.25rem;
	margin-left: auto;
	font-size: 2.5rem;
}

.counter #counter .fa-stack-2x {
	color: #39cb81;
}

.counter #counter .fa-stack-1x {
	color: #fff;
	font-size: 1.875rem;
}

.counter #counter .counter-value {
	margin-bottom: 0.125rem;
	color: #fff;
	font: 700 3rem/4.125rem "Raleway", sans-serif;	
	vertical-align: middle;
}

.counter #counter .counter-info {
	margin-bottom: 0;
	color: #fff;
	font: 400 0.875rem/1.25rem "Raleway", sans-serif;
	vertical-align: middle;
}

.counter .p-large {
	margin-top: 0.5rem;
	margin-bottom: 1.75rem;
	color: #fff;
	font: 700 1.125rem/1.625rem "Raleway", sans-serif;
}

.counter .btn-outline-lg {
	border-color: #fff;
	color: #fff;
}

.counter .btn-outline-lg:hover {
	background-color: #fff;
	color: #434c54;
}


/***********************/
/*     16. Contact     */
/***********************/
.form-2 {
	padding-top: 0;
	padding-bottom: 6.25rem;
	background-color: #f9fafc;
}

.form-2 h2 {
	margin-bottom: 1rem;
	text-align: center;
}

.form-2 .list-unstyled {
	margin-bottom: 3.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
}

.form-2 .list-unstyled .fas,
.form-2 .list-unstyled .fab {
	margin-right: 0.5rem;
	font-size: 0.875rem;
	color: #39cb81;
}

.form-2 .list-unstyled .fa-phone {
	vertical-align: 3%;
}

.form-2 .map-responsive {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-bottom: 4rem;
	padding-bottom: 70%;
	border-radius: 0.25rem;
}

.form-2 .map-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none; 
}


/**********************/
/*     17. Footer     */
/**********************/
.footer {
	padding-top: 5rem;
	background-color: #2f3a43;
}

.footer .footer-col {
	margin-bottom: 2.25rem;
}

.footer h4,
.footer p,
.footer ul {
	color: #fff;
}

.footer h4 {
	margin-bottom: 1rem;
}

.footer .list-unstyled .fas {
	color: #39cb81;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .fa-stack {
	margin-bottom: 0.75rem;
	margin-right: 0.5rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #2f3a43;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #fff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #39cb81;
}


/*************************/
/*     18. Copyright     */
/*************************/
.copyright {
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	background-color: #2f3a43;
	text-align: center;
}

.copyright .p-small {
	color: #fff;
	opacity: 0.6;
}

.copyright a {
	color: #fff;
	 text-decoration:none;
}
.copyright a:hover {
	color: #fff;
	 text-decoration:underline;
}

/**********************************/
/*     19. Back To Top Button     */
/**********************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #39cb81 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #2cb36f; 
}


/***************************/
/*     20. Extra Pages     */
/***************************/
.ex-header {
	padding-top: 8rem;
	padding-bottom: 5rem;
	background: linear-gradient(to bottom right, #3a3f48, #2a2f37);
	color: #fff;
	text-align: center;
}

.ex-basic-1 {
	padding-top: 2rem;
	padding-bottom: 0.875rem;
	background-color: #f9fafc;
}

.ex-basic-1 .breadcrumbs {
	margin-bottom: 1.125rem;
}

.ex-basic-1 .breadcrumbs .fa {
	margin-right: 0.5rem;
	margin-left: 0.625rem;
}

.ex-basic-2 {
	padding-top: 4.75rem;
	padding-bottom: 4rem;
}

.ex-basic-2 h3 {
	margin-bottom: 1rem;
}

.ex-basic-2 .text-container {
	margin-bottom: 3.625rem;
}

.ex-basic-2 .text-container.last {
	margin-bottom: 0;
}

.ex-basic-2 .list-unstyled .fas {
	color: #39cb81;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.ex-basic-2 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.ex-basic-2 .btn-outline-reg {
	margin-top: 1.75rem;
}

.ex-basic-2 .image-container-large {
	margin-bottom: 4rem;
}

.ex-basic-2 .image-container-large img {
	border-radius: 0.25rem;
}

.ex-basic-2 .image-container-small img {
	border-radius: 0.25rem;
}

.ex-basic-2 .text-container.dark-bg {
	padding: 1.625rem 1.5rem 0.75rem 2rem;
	background-color: #f9fafc;
}


/*****************************/
/*     21. Media Queries     */
/*****************************/	
@media (min-width: 481px) and (max-width: 767px) {
	.lightbox-form{margin:0;}
	
}



/* Min-width width 768px */
@media (min-width: 768px) {
	.lightbox-form{margin:0;}
	/* General Styles */
	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}

	.h1-large {
		font: 700 4rem/4.375rem "Raleway", sans-serif;
	}
	/* end of general styles */


	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
        background: transparent;
	}
	
	.navbar-custom .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #333;
	}
	
	.navbar-custom .nav-item .nav-link:hover,
	.navbar-custom .nav-item .nav-link.active {
		color: #39cb81;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #3a3f48;
	}

	.navbar-custom.top-nav-collapse .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		color: #fff;
	}
	
	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
	.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
		color: #39cb81;
	}

	.navbar-custom .dropdown-menu {
		box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-items-divide-hr {
		width: 84%;
	}
	/* end of navigation */


	/* Header */
	.header .header-content {
		padding-top: 11rem;
	}
	/* end of header */


	/* Testimonials */
	.slider {
		padding-bottom: 5rem;
	}

	.slider .swiper-button-prev {
		left: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	
	.slider .swiper-button-next {
		right: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	/* end of testimonials */


	/* Details */
	.tabs #tab-1 .accordion-container,
	.tabs #tab-2 .text-container,
	.tabs #tab-3 .text-container,
.tabs #tab-4 .text-container	{
		max-width: 34rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of details */


	/* Benefits 1 */
	.basic-2 .text-container {
		max-width: 70%;
	}
	/* end of benefits 1 */


	/* Benefits 2 */
	.basic-3 .text-container {
		max-width: 70%;
	}
	/* end of benefits 2 */


	/* Questions */
	.basic-5 .question .text {
		width: 86%;
	}
	
	.basic-5 .answer .text {
		width: 86%;
	}
	/* end of questions */


	/* Statistics */
	.counter #counter .cell {
		width: 7rem;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of statistics */


	/* Contact */
	.form-2 .list-unstyled li {
		display: inline-block;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}

	.form-2 .list-unstyled .address {
		display: block;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-header {
		padding-top: 11rem;
		padding-bottom: 9rem;
	}

	.ex-basic-2 .text-container.dark {
		padding: 2.5rem 3rem 2rem 3rem;
	}

	.ex-basic-2 .text-container.column {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of extra pages */
}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
	
	/* Navigation */
	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		margin-bottom: 0.1875rem;
		margin-left: 0.375rem;
		font-size: 0.75rem;
	}
	
	.navbar-custom .fa-stack-2x {
		color: #39cb81;
		transition: all 0.2s ease;
	}
	
	.navbar-custom .fa-stack-1x {
		color: #fff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #fff;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #39cb81;
	}

	.navbar-custom.top-nav-collapse .fa-stack-2x {
		color: #39cb81;
	}
	
	.navbar-custom.top-nav-collapse .fa-stack-1x {
		color: #fff;
	}

	.navbar-custom.top-nav-collapse .fa-stack:hover .fa-stack-2x {
		color: #fff;
	}
	
	.navbar-custom.top-nav-collapse .fa-stack:hover .fa-stack-1x {
		color: #39cb81;
	}
	/* end of navigation */


	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general styles */


	/* Header */
	.header {
		position: relative;
		
		background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/banner-background.jpg') center center no-repeat;
		background-size: cover; 
	}

	.header .header-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 500px;
		padding-top: 0.5rem;
		padding-bottom: 0;
		text-align: left;
	}

	.header .countdown {
		text-align: left;
	}

	.header .countdown #clock .counter-number {
		margin-right: 0.5rem;
		margin-left: 0;
	}
	/* end of header */


	/* Duration */
	.cards-1 {
		padding-bottom: 1.5rem;
	}

	.cards-1 .card-container {
		text-align: center;
	}

	.cards-1 .card {
		display: inline-block;
		width: 100%;
		margin-right: 1.5rem;
		margin-bottom: 6rem;
		margin-left: 1.5rem;
		text-align: left;
		vertical-align: top;
	}

	.cards-1 .card.first {
		margin-left: 0;
	}

	.cards-1 .card.last {
		margin-right: 0;
	}
	/* end of duration */


	/* Details */
	/* Tab 1 */
	.tabs #tab-1 .accordion-container {
		margin-bottom: 0;
	}

	/* Tab 2 */
	.tabs #tab-2 .image-container {
		margin-bottom: 0;
	}

	.tabs #tab-2 .text-container {
		margin-top: 1rem;
	}

	/* Tab 3 */
	.tabs #tab-3 .text-container {
		margin-top: 1.5rem;
	}
	/* end of details */


	/* Benefits 1 */
	.basic-2 {
		height: 31.75rem;
	}
	
	.basic-2 .area-1 {
		height: 100%;
		width: 50%;
		display: inline-block;
	}
	
	.basic-2 .area-2 {
		height: 100%;
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}
	
	.basic-2 .text-container {
		max-width: 88%;
		margin-left: 2rem;
		padding-bottom: 0;
	}
	/* end of benefits 1  */
	

	/* Benefits 2 */
	.basic-3 {
		height: 31.5rem;
	}

	.basic-3 .area-1 {
		height: 100%;
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}

	.basic-3 .area-2 {
		height: 100%;
		width: 50%;
		display: inline-block;
	}

	.basic-3 .text-container {
		max-width: 88%;
		margin-left: 2rem;
		padding-top: 7rem;
		padding-bottom: 0;
	}
	/* end of benefits 2 */


	/* Pricing */
	.cards-2 {
		padding-bottom: 7.5rem;
	}

	.cards-2 .card {
		display: inline-block;
		width: 100%;
		margin-bottom: 0;
	}
	
	.cards-2 .card.first {
		margin-left: 1rem;
		margin-right: 2.25rem;
	}

	.cards-2 .text-container {
		margin-top: 5.5rem;
		margin-bottom: 0;
	}
	/* end of pricing */


	/* Statistics */
	.counter .p-large {
		max-width: 34rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of statistics */


	/* Contact */
	.form-2 .map-responsive {
		margin-bottom: 0;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-header h1 {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-2 {
		padding-bottom: 5rem;
	}

	.ex-basic-2 .text-container.column {
		margin-bottom: 0;
	}
	/* end of extra pages */
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* Navigation */
	.navbar-custom {
		padding: 5px 5rem 2.125rem 5rem;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 5rem 0.5rem 5rem;
	}
	/* end of navigation */

	
	/* General Styles */
	.p-heading {
		width: 44%;
	}
	/* end of general styles */


	/* Header */
	.header .header-content {
		text-align: left;
	}

	.header .countdown #clock .counter-number {
		margin-right: 0.75rem;
	}
	/* end of header */


	/* Duration */
	.cards-1 .card {
		margin-right: 1.75rem;
		margin-left: 1.75rem;
	}
	/* end of duration */


	/* Details */
	/* Tab 1 */
	.tabs #tab-1 .accordion-container {
		margin-top: 1.75rem;
		margin-left: 2rem;
	}

	.tabs #tab-1 .image-container {
		margin-left: 3rem;
		text-align: left;
	}

	/* Tab 2 */
	.tabs #tab-2 .text-container {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}

	.tabs #tab-2 .image-container {
		margin-right: 2rem;
		text-align: right;
	}

	/* Tab 3 */
	.tabs #tab-3 .image-container {
		margin-left: 2.5rem;
		text-align: left;
	}

	.tabs #tab-3 .text-container {
		margin-top:0;
		margin-right: 0;
		margin-left: 0;
	}
	/* end of details */
.tabs #tab-4 .image-container {
		margin-left: 2.5rem;
		text-align: left;
	}

	.tabs #tab-4 .text-container {
		margin-top: 0;
		margin-right: 0;
		margin-left:0;
	}
	/*

	/* Benefits 1 */
	.basic-2 .text-container {
		max-width: 28rem;
		margin-left: 5rem;
	}
	/* end of benefits 1 */


	/* Benefits 2 */
	.basic-3 .text-container {
		max-width: 28rem;
		margin-right: 5rem;
		margin-left: auto;
	}
	/* end of benefits 2 */


	/* Pricing */
	.cards-2 .text-container {
		margin-right: 1.5rem;
	}

	.cards-2 .card.first {
		margin-right: 3.25rem;
	}
	/* end of pricing */


	/* Instructors */
	.basic-4 .team-member {
		margin-right: 1.875rem;
		margin-left: 1.875rem;
	}
	/* end of instructors */


	/* Questions */
	.basic-5 .text-container {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	/* end of questions */


	/* Statistics */
	.counter #counter .cell {
		margin-right: 2.375rem;
		margin-left: 2.375rem;
	}
	/* end of statistics */


	/* Contact */
	.form-2 .map-responsive {
		max-width: 31rem;
		margin-right: auto;
		margin-left: auto;
	}

	.form-2 #contactForm {
		max-width: 31rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col {
		width: 90%;
	}

	.footer .footer-col.middle {
		margin-right: auto;
		margin-left: auto;
	}

	.footer .footer-col.last {
		margin-right: 0;
		margin-left: auto;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-header h1 {
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-2 .form-container {
		margin-left: 1.75rem;
	}

	.ex-basic-2 .image-container-small {
		margin-left: 1.75rem;
	}
	/* end of extra pages */
}
/* end of min-width width 1200px */


.padding-top60{padding-top:60px;}

.top-heading-text{font-size: 44px;
    background: #2a3e74;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0;}
.top-heading-text1{font-size:100px;
   
    color: #2a3e74;
    padding: 10px;
    text-align: center;
    margin: 0;}	
	
.heading-text{  background: #fff;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;}