


#textodefault {
    display: none
}

h2 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 800
}

article {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%
}

article nav {
    position: relative;
   
    left: 0;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
    -webkit-animation: slideFadeRight .5s .8s ease backwards;
    -moz-animation: slideFadeRight .5s .8s ease backwards;
    -ms-animation: slideFadeRight .5s .8s ease backwards;
    -o-animation: slideFadeRight .5s .8s ease backwards;
    animation: slideFadeRight .5s .8s ease backwards
}

article nav ul {
    padding-left: 20px; list-style: none;
}
article nav ul li {float:left;
    padding-left: 20px; list-style: none;
}


article nav ul li a {
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 5px;
    white-space: nowrap
}

article nav ul li a span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 5px solid #ccc;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    vertical-align: -6px;
    background: #999;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

article nav ul li a.activo {
    color: #555
}

article nav ul li a.technology:hover span,
article nav ul li a.technology.hover span,
article nav ul li a.technology.activo span {
    background: #e30b13
}

article nav ul li a.technology.activo {
    color: #e30b13;
    margin-left: 10px;
    text-decoration: none
}

article nav ul li a.design:hover span,
article nav ul li a.design.hover span,
article nav ul li a.design.activo span {
    background: #0b8e36
}

article nav ul li a.design.activo {
    color: #0b8e36;
    margin-left: 10px;
    text-decoration: none
}

article nav ul li a.analytics:hover span,
article nav ul li a.analytics.hover span,
article nav ul li a.analytics.activo span {
    background: #fdd053
}

article nav ul li a.analytics.activo {
    color: #fdd053;
    margin-left: 10px;
    text-decoration: none
}

article nav ul li a.digital:hover span,
article nav ul li a.digital.hover span,
article nav ul li a.digital.activo span {
    background: #0e77bd
}

article nav ul li a.digital.activo {
    color: #0e77bd;
    margin-left: 10px;
    text-decoration: none
}

article nav ul li ul {
    margin-left: 25px;
    display: none;
    padding-bottom: 5px
}

article nav ul li ul li a {
    font-size: 12px;
    line-height: 12px;
    text-transform: none
}

article nav ul li ul li a:hover {
    color: #555
}

article nav ul li ul li a.activo {
    color: #555
}


#reloj.abierto .navega {
    display: block
}

#reloj.cerrando .navega {
    -webkit-animation: fadeOut .5s ease both;
    -moz-animation: fadeOut .5s ease both;
    -ms-animation: fadeOut .5s ease both;
    -o-animation: fadeOut .5s ease both;
    animation: fadeOut .5s ease both
}

.navega {
    display: none;
    -webkit-animation: fadeIn .5s ease;
    -moz-animation: fadeIn .5s ease;
    -ms-animation: fadeIn .5s ease;
    -o-animation: fadeIn .5s ease;
    animation: fadeIn .5s ease
}

.navega button {
    display: block;
    float: left;
    padding: 0;
    width: 40px;
    height: 100px;
    margin-top: -120px;
    background: 0 0;
    color: #fff;
    position: relative;
    position: absolute;
    top: 38%;
    z-index: 10
}

.navega button span {
    display: block;
    width: 20px;
    height: 2px;
    background: #ccc;
    position: absolute;
    top: 50%;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.navega button.izq span,
.navega button.der span {
    left: 38%;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top
}

.navega button.izq span:nth-child(2),
.navega button.der span:nth-child(2) {
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg)
}

.navega button.izq {
    left: -22px
}

.navega button.der {
    right: -40px
}

.navega button.der span {
    left: auto;
    right: 38%;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom
}

.navega button.der span:nth-child(2) {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top
}

.navega button:hover span {
    background: #999
}

.general .aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    color: #777;
    max-width: 450px
}

.general .aside h2,
.general .aside h3,
.general .aside h4,
.general .aside p {
    margin-bottom: 15px
}

.general .aside h2,
.general .aside h3 {
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase
}

.general .aside h2.digital,
.general .aside h3.digital {
    color: #0e77bd
}

.general .aside h2.design,
.general .aside h3.design {
    color: #0b8e36
}

.general .aside h2.technology,
.general .aside h3.technology {
    color: #e30b13
}

.general .aside h2.analytics,
.general .aside h3.analytics {
    color: #fdd053
}

.general .aside .big {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700
}

.general .aside .texto {
    position: relative;
    z-index: 3;
    padding: 0 20px;
    font-size: 18px;
    line-height: 24px;
    -webkit-animation: fadeIn .5s ease;
    -moz-animation: fadeIn .5s ease;
    -ms-animation: fadeIn .5s ease;
    -o-animation: fadeIn .5s ease;
    animation: fadeIn .5s ease
}

.general .aside .texto.principal h2 {
    margin-bottom: 5px
}

.general .aside .contenido {
    z-index: 60;
    background: #ccc;
    -webkit-animation: slideLeft .5s ease;
    -moz-animation: slideLeft .5s ease;
    -ms-animation: slideLeft .5s ease;
    -o-animation: slideLeft .5s ease;
    animation: slideLeft .5s ease;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.general .aside .contenido .innercontenido {
    padding: 30px;
    overflow: hidden
}

.general .aside .contenido img {
    width: 100%
}

.general .aside .contenido.design {
    background: #b5e0d5;
    color: #105a34
}

.general .aside .contenido.design .innercontenido {
    background: #b5e0d5
}

.general .aside .contenido .absolute {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 50%;
    max-width: 50%
}

.general .aside .contenido .absolute.personaje1 {
    max-height: none;
    max-width: 35%
}

.general .aside .contenido .personaje2 {
    width: 80%;
    margin: 0 auto
}

.general .aside .contenido .grafico {
    color: #222
}

.general .aside .contenido .grafico.padding {
    margin-right: 50px;
    position: relative;
    background: rgba(181, 224, 213, .8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    z-index: 2
}

.general .aside .contenido .grafico.padding p {
    margin-bottom: 0
}

.general .aside .contenido .grafico.uno {
    background: #a1cc7b;
    color: #1e5929;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px
}

.general .aside .contenido .grafico.uno strong {
    display: block
}

.general .aside .contenido .grafico.dos {
    background: #007633;
    color: #fff;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px
}

.general .aside .contenido .grafico.grafico4 {
    margin: 0 -140px 20px -110px
}

.general .aside.out {
    -webkit-animation: fadeOut .2s ease both;
    -moz-animation: fadeOut .2s ease both;
    -ms-animation: fadeOut .2s ease both;
    -o-animation: fadeOut .2s ease both;
    animation: fadeOut .2s ease both
}

.general .aside.out .contenido {
    -webkit-animation: slideRightOut 1s ease both;
    -moz-animation: slideRightOut 1s ease both;
    -ms-animation: slideRightOut 1s ease both;
    -o-animation: slideRightOut 1s ease both;
    animation: slideRightOut 1s ease both
}

#contienereloj {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1
}

a
.firefox svg,
.firefox svg g,
.firefox svg path {
    -webkit-animation: none!important;
    -moz-animation: none!important;
    -ms-animation: none!important;
    -o-animation: none!important;
    animation: none!important
}

#codigo {
    width: 100%;
    height: 100%;
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100
}

#codigo .inner {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    top: 50%;
    text-align: center;
    height: 170px;
    margin-top: -85px
}

#codigo #logocodigo img {
    width: 250px;
    margin: 0 auto 20px
}

#codigo input {
    padding: 6px 16px;
    line-height: 28px;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

#codigo input.campo {
    border: 1px solid #ccc;
    width: 145px;
    font-size: 16px;
    background: #fff;
    padding: 6px 10px
}

#codigo input.submit {
    background: #1089da;
    color: #fff;
    border: 1px solid #0e77bd
}

#codigo input.submit:hover {
    background: #1a99ee
}

#codigo .error {
    margin-top: 10px;
    color: #777;
    background: #fefbc5;
    border: 1px solid #e8e4a4;
    margin: 15px 28px 0;
    padding: 8px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

#actualizate {
    text-align: center;
    max-width: 450px;
    margin: 50px auto;
    color: #777
}

#actualizate h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
    color: #777;
    font-weight: 400
}

#actualizate a {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    text-decoration: none;
    color: #777;
    border: 1px solid #ddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 10px 10px;
    box-shadow: 0 0 20px #ddd
}

#actualizate a:hover {
    box-shadow: 0 0 30px #ddd;
    border-color: #37a6f0
}

#actualizate a img {
    display: block;
    margin: 10px auto 0
}

.loader {
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    display: block
}

.loader span {
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    -webkit-animation: rotate360neg 1.5s linear infinite;
    -moz-animation: rotate360neg 1.5s linear infinite;
    -ms-animation: rotate360neg 1.5s linear infinite;
    -o-animation: rotate360neg 1.5s linear infinite;
    animation: rotate360neg 1.5s linear infinite;
    width: 30px;
    height: 2px;
    background: #999;
    position: absolute;
    top: 20px;
    left: 20px;
    display: block
}

.loader em {
    font-style: normal;
    position: relative;
    top: -35px;
    left: -35px;
    color: #999;
    white-space: nowrap
}

#reloj {
    width: 800px;
   
    background: 0 0;
    position: relative;
    
    -webkit-animation: bounceIn .5s .5s ease backwards;
    -moz-animation: bounceIn .5s .5s ease backwards;
    -ms-animation: bounceIn .5s .5s ease backwards;
    -o-animation: bounceIn .5s .5s ease backwards;
    animation: bounceIn .5s .5s ease backwards
}

#reloj canvas {
    z-index: 3;
    display: none!important;
    position: absolute;
    top: 0;
    left: 0
}

#reloj canvas.show {
    display: block!important
}

#reloj .overflow {
    position: relative;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
    border-radius: 400px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top
}

#reloj .overflow .fixmask {
    -webkit-mask-image: none;
    -moz-mask-image: none;
    -ms-mask-image: none;
    -o-mask-image: none;
    -mask-image: none;
    -moz-mask: none
}

#reloj .mundo {
    z-index: 1;
    position: absolute;
       width: 300px;
    height: 300px;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    opacity: 0
}

#reloj .mundo:hover {
    cursor: pointer
}

#reloj .mundo .inner {
    position: absolute;
    width: 608px;
    height: 813px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
    border-radius: 400px;
    overflow: hidden;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top
}

#reloj .mundo .inner svg {
    display: block;
    position: relative;
    width: 800px;
   
}

#reloj .mundo#mundo_analytics {
    bottom: 0px;
    right:100px
}

#reloj .mundo#mundo_analytics .inner {
    background: #fdd053;
    bottom: 0;
    right: 0
}

#reloj .mundo#mundo_digital {
    top: 0;
    right: 100px
}

#reloj .mundo#mundo_digital .inner {
    background: #0e77bd;
    top: 0;
    right: 0
}

#reloj .mundo#mundo_technology {
    bottom:0px;
    left: 100px
}

#reloj .mundo#mundo_technology .inner {
    background: #e30b13;
    bottom: 0;
    left: 0
}

#reloj .mundo#mundo_design {
    top: 0;
    left: 100PX
}

#reloj .mundo#mundo_design .inner {
    background: #0b8e36;
    top: 0;
    left: 0
}

#reloj .mundo.hover,
#reloj .mundo.mantener {
    opacity: 1
}

#reloj .mundo.inactivo {
    opacity: 0
}

#reloj .mundo.activo {
    opacity: 1;
    z-index: 2;
    width: 100%;
    height: 100%
}

#reloj .mundo.activo .inner {
    width: 600px;
    height: 600px
}

#reloj .mundo.activo:hover {
    cursor: default
}

#reloj #palitos {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    -webkit-animation: fadeIn .5s ease;
    -moz-animation: fadeIn .5s ease;
    -ms-animation: fadeIn .5s ease;
    -o-animation: fadeIn .5s ease;
    animation: fadeIn .5s ease
}

#reloj #palitos .palito {
    position: absolute;
    bottom: 0;
    background: #fff;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
    transition: .2s ease all;
    box-shadow: 0 0 8px rgba(0, 0, 0, .4)
}

#reloj #palitos .palito.sintransicion {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none
}

#reloj #palitos .palito.segundero {
    height: 300px;
    left: -4px;
    width: 8px;
    background: #000
}

#reloj #palitos .palito.segundero div {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 60px;
    background: #000
}

#reloj #palitos .palito.segundero div div {
    height: 16px;
    width: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    left: -4px;
    top: 55px
}

#reloj #palitos .palito.minutero {
    height: 280px;
    left: -15px;
    width: 30px;
    background: #8dc63f
}

#reloj #palitos .palito.minutero div {
    position: absolute;
    top: -11px;
    left: 5px;
    width: 21px;
    height: 21px;
    background: #8dc63f;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

#reloj #palitos .palito.horario {
    height: 200px;
    left: -18px;
    width: 36px;
    background: #8dc63f
}

#reloj #palitos .palito.horario div {
    position: absolute;
    top: -13px;
    left: 5px;
    width: 26px;
    height: 26px;
    background: #8dc63f;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

#reloj #palitos .eje1 {
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    position: absolute;
    top: -35px;
    left: -35px;
    width: 68px;
    height: 68px;
    background: #fcd144;
    border: 16px solid #f1592a;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px
}

#reloj #palitos .eje2 {
    position: absolute;
    top: -25px;
    left: -25px;
    width: 50px;
    height: 50px;
    background: #58585a;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 30px
}

#reloj #rayas {
    -webkit-border-radius: 25px;
    -webkit-transition: .5s ease opacity;
    -moz-transition: .5s ease opacity;
    -ms-transition: .5s ease opacity;
    -o-transition: .5s ease opacity;
    transition: .5s ease opacity;
    -webkit-animation: fadeIn .5s ease;
    -moz-animation: fadeIn .5s ease;
    -ms-animation: fadeIn .5s ease;
    -o-animation: fadeIn .5s ease;
    animation: fadeIn .5s ease
}

#reloj #rayas .raya {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

#reloj.abriendo canvas {
    display: block
}

#reloj.abriendo #palitos {
    -webkit-transition: opacity .5s 1s ease;
    -moz-transition: opacity .5s 1s ease;
    -ms-transition: opacity .5s 1s ease;
    -o-transition: opacity .5s 1s ease;
    transition: opacity .5s 1s ease;
    opacity: 0
}

#reloj.abriendo #palitos .palito {
    -webkit-transition: all .8s .4s ease;
    -moz-transition: all .8s .4s ease;
    -ms-transition: all .8s .4s ease;
    -o-transition: all .8s .4s ease;
    transition: all .8s .4s ease;
    -webkit-transform: rotate(360deg)!important;
    -moz-transform: rotate(360deg)!important;
    -ms-transform: rotate(360deg)!important;
    -o-transform: rotate(360deg)!important;
    transform: rotate(360deg)!important
}

#reloj.abriendo #palitos .palito.minutero {
    -moz-transition-delay: .5s;
    -webkit-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s
}

#reloj.abriendo #palitos .palito.horario {
    -moz-transition-delay: .6s;
    -webkit-transition-delay: .6s;
    -ms-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s
}

#reloj.abriendo #rayas {
    opacity: 0
}

#reloj.abierto canvas {
    display: none
}

#reloj.abierto #palitos {
    display: none
}

#reloj.abierto #rayas {
    display: none
}

#reloj.abierto .mundo.inactivo {
    display: none
}

#reloj.cerrando canvas {
    display: block
}

#reloj.cerrandohome canvas {
    display: block
}

#reloj.cerrandohome #palitos {
    display: block
}

#reloj.cerrandohome #rayas {
    display: block
}

@media all and (max-width:1340px),
all and (max-height:840px) {
    #reloj {
      
        width: 700px
    }
    #reloj .overflow {
        -webkit-transform: scale(.87);
        -moz-transform: scale(.87);
        -ms-transform: scale(.87);
        -o-transform: scale(.87);
        transform: scale(.87)
    }
    #reloj #rayas .raya div {
        height: 1px;
        -webkit-transform: translateX(335px);
        -moz-transform: translateX(335px);
        -ms-transform: translateX(335px);
        -o-transform: translateX(335px);
        transform: translateX(335px)
    }
}

@media all and (max-width:1240px),
all and (max-height:740px) {
    #reloj {
     
    width: 800px;
    text-align: center;
    }
    #reloj .overflow {
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        -ms-transform: scale(.75);
        -o-transform: scale(.75);
        transform: scale(.75)
       
    }
    #reloj #rayas .raya div {
        width: 25px;
        -webkit-transform: translateX(290px);
        -moz-transform: translateX(290px);
        -ms-transform: translateX(290px);
        -o-transform: translateX(290px);
        transform: translateX(290px)
    }
}

.svg {
    svg svg: g
}

.svg svg path {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.svg svg {
    -webkit-transition: all .8s ease-in-out, width 0s 0s linear, height 0s 0s linear;
    -moz-transition: all .8s ease-in-out, width 0s 0s linear, height 0s 0s linear;
    -ms-transition: all .8s ease-in-out, width 0s 0s linear, height 0s 0s linear;
    -o-transition: all .8s ease-in-out, width 0s 0s linear, height 0s 0s linear;
    transition: all .8s ease-in-out, width 0s 0s linear, height 0s 0s linear
}

.svg.noanimar svg {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none
}

.svg svg {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.svg.escena1 svg {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.general {
    display: none
}


.escena {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    display: none;
    -webkit-animation: fadeIn .5s ease backwards;
    -moz-animation: fadeIn .5s ease backwards;
    -ms-animation: fadeIn .5s ease backwards;
    -o-animation: fadeIn .5s ease backwards;
    animation: fadeIn .5s ease backwards
}

.escena.activo {
    display: block
}

.escena.out {
    -webkit-animation: fadeOut .2s ease both;
    -moz-animation: fadeOut .2s ease both;
    -ms-animation: fadeOut .2s ease both;
    -o-animation: fadeOut .2s ease both;
    animation: fadeOut .2s ease both
}

.escena ..general .aside {
    display: none
}

.escena .links li a {
    display: block;
    text-decoration: none;
    color: #555;
    position: absolute;
    -webkit-animation: bounceIn .5s ease backwards;
    -moz-animation: bounceIn .5s ease backwards;
    -ms-animation: bounceIn .5s ease backwards;
    -o-animation: bounceIn .5s ease backwards;
    animation: bounceIn .5s ease backwards;
    background: 0 0;
    padding: 20px;
    margin: -20px 0 0 -20px
}

.escena .links li a .mas {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 34px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    background: #fff;
    border: 3px solid #222;
    color: #222;
    text-align: center;
    font-size: 26px;
    z-index: 2;
    position: relative;
    -webkit-animation: palpitar 3s ease infinite;
    -moz-animation: palpitar 3s ease infinite;
    -ms-animation: palpitar 3s ease infinite;
    -o-animation: palpitar 3s ease infinite;
    animation: palpitar 3s ease infinite
}

.escena .links li a .txt {
    display: block;
    background: #fff;
    padding: 8px 15px;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 70px;
    left: 70px;
    z-index: 1;
    display: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1)
}

.escena .links li a .txt span {
    display: block;
    height: 40px;
    width: 2px;
    background: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1)
}

.escena .links li a:hover .mas {
    border-width: 8px;
    top: -5px;
    left: -5px
}

.escena .links li a:hover .txt {
    display: block;
    -webkit-animation: txt .2s ease-in-out;
    -moz-animation: txt .2s ease-in-out;
    -ms-animation: txt .2s ease-in-out;
    -o-animation: txt .2s ease-in-out;
    animation: txt .2s ease-in-out
}

.escena .links li a.invert .txt {
    right: 70px;
    left: auto
}

.escena .links li a.invert .txt span {
    right: 0;
    left: auto;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.escena .links li:nth-child(2) a {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -ms-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s
}

.escena .links li:nth-child(3) a {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s
}

.escena .links li:nth-child(4) a {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s
}

.escena .links li:nth-child(5) a {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s
}

.escena .links li:nth-child(6) a {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -ms-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s
}

.escena .lupa {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px!important;
    padding: 0!important;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    background: #fff;
    border: 3px solid #316235;
    border-color: #0b8e36;
    color: #0b8e36;
    text-align: center;
    font-size: 26px!important;
    z-index: 2;
    position: relative;
    -webkit-animation: palpitar 3s ease infinite;
    -moz-animation: palpitar 3s ease infinite;
    -ms-animation: palpitar 3s ease infinite;
    -o-animation: palpitar 3s ease infinite;
    animation: palpitar 3s ease infinite;
    margin: 5px auto
}

#mundo_digital .links a .mas {
    border-color: #0e77bd;
    color: #0e77bd
}

#mundo_design .links a .mas {
    border-color: #0b8e36;
    color: #0b8e36
}

#mundo_technology .links a .mas {
    border-color: #9f080d;
    color: #9f080d
}

#mundo_analytics .links a .mas {
    border-color: #e54f23;
    color: #e54f23
}

.engranaje {
    -webkit-animation: rotate360 10s linear infinite;
    -moz-animation: rotate360 10s linear infinite;
    -ms-animation: rotate360 10s linear infinite;
    -o-animation: rotate360 10s linear infinite;
    animation: rotate360 10s linear infinite
}

.engranajeinvert {
    -webkit-animation: rotate360neg 10s linear infinite;
    -moz-animation: rotate360neg 10s linear infinite;
    -ms-animation: rotate360neg 10s linear infinite;
    -o-animation: rotate360neg 10s linear infinite;
    animation: rotate360neg 10s linear infinite
}


#reloj .mundo#mundo_analytics .svg {
    svg svg: g;
    bottom: -210px;
    height: 100%;
    position: relative;
}

#reloj .mundo#mundo_technology .svg {
    svg svg: g;
    bottom: -210px;
    height: 100%;
    position: relative;
}